<app-topcountryframe></app-topcountryframe>




<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]=""></app-navigation>
    </div>
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
        <form [hidden]="isEntryForm" (submit)='entryDetailsMove(formData)' #formData='ngForm'>

            <b translate>servicestitle.Move Jabber Request</b>

            <div class="ds-pad-t-0_5 ds-pad-b-1">
                Fields marked with an asterisk (<span class="ds-text-contextual-red-2">*</span>) are required.
            </div>
            <div class=" ds-panel ds-col-12 "></div>

            <app-steps [step]="servicesData.step" [formData]="formData" [cnum]="cnum" [isSelf]="reqFor" [hideSteps]=""></app-steps>


            <h2 id="h22" class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 ">Employee Entry Details</h2>

            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="IdentifierId" class="ds-text-capitalize">Jabber / Phone Number</label>
                            <span class="ds-text-contextual-red-2"> *</span>
                        </td>
                        <td width="54%" height="10">
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select [(ngModel)]='itn_sel' #jabberNumberVal (change)="getjabberNumberVal(jabberNumberVal.value)" name="Identifier_Selected" id="IdentifierId" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Extension Number">
                  <option value="">Select Jabber Number</option>
                  <option *ngFor="let jab of jabberNumber" [value]="jab">{{jab}}</option>
                </select>
                            </div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="IdentifierId" class="ds-text-capitalize">Location Moving To</label>
                            <span class="ds-text-contextual-red-2"> *</span>
                        </td>
                        <td width="54%" height="10">
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select [(ngModel)]="loc_sel" name="Location_Selected" id="LocationId" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Location" #loc (change)="getlocation(loc.value)">
                  <option value="Select Location" translate>Jabbernewtrans.SelectOne</option>
                  <option *ngFor="let loc of locations" [ngValue]="loc">{{loc}}</option>
                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            <span><label>Please note that a new number will be assigned to you in the new location. You will no longer have your existing number. Click Next if you want to continue or Back to make any changes or Close the window to Exit.</label></span>
            <br><br>

            <div class=" ds-panel ds-col-12 "></div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" value="BACK" (click)="backClick(formData)">
            </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
              <input type="submit" name="next" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                value="NEXT"><br>
            </span>
                    </div>
                </div>
            </div>


        </form>


        <form [hidden]="isReviewForm">

            <b translate>servicestitle.Move Jabber Request</b>


            <div class="ds-pad-t-0_5 ds-pad-b-1">By submitting this provisioning request, you are providing express written consent for IBM to process the Personal Information (PI) that you have provided as part of the provisioning process.
            </div>
            <div class=" ds-panel ds-col-12 "></div>

            <app-steps [step]="servicesData.step+1" [isSelf]="reqFor" [hideSteps]="" (previousStep)="previousStep($event)"></app-steps>


            <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-padding-left-0_5 ">Jabber Request Details</h2>

            <table id="t2" width="100%" cellspacing="8" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td colspan="2" width="46%" height="10">
                            <label for="addId1">Jabber / Phone Number</label>
                        </td>
                        <td width="54%" height="10">{{reviewDetailsIndia.Identifier_Selected}}</td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Location Moving To</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.Location_Selected}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=errorinfo>
                <p></p>
                <p>Something seems to have gone wrong. Please try later. </p>
                <p>
                </p>
            </div>

            <!-- <div class=" ds-panel ds-col-12 "></div> -->
            <div class="ds-hr-thick ds-mar-t-1_5"></div>
            <!-- Dark Background -->
            <div class="ds-loader-container" *ngIf="this.isSpinnerVisible">
                <div class="ds-loader-header">Your request submission is in progress.Do not Go back or Refresh the page.</div>
                <div class="ds-loader" role="alert" aria-busy="true" aria-label="Your request is being submitted. Do not refresh or go back."></div>
            </div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" value="BACK"
                (click)='BackButton()' *ngIf="this.isButtonVisible  && !errorinfo">
            </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
              <input type="submit" name="submit" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                value="SUBMIT" (click)="submit_snow()" *ngIf="this.isButtonVisible  && !errorinfo">
            </span>
                        <input type="button" name="exit" *ngIf="errorinfo" type="button" class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" [routerLink]="['/jabberservices']" [queryParams]="{country:pcode,service:service}" value="EXIT REQUEST">



                    </div>
                </div>
            </div>
        </form>

    </div>