%border-box {
  box-sizing: border-box;
}

* {
  @extend %border-box;

  &::before,
  &::after {
    @extend %border-box;
  }
}

html {
  background-color: $background-color-default;
  font-size: percentage($font-size-px / 16px);
  height: 100%;
}

body {
  min-height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
}

button,
input,
optgroup,
select,
textarea {
  font-family: 'IBMPlexSans','Helvetica Neue',Helvetica,Arial,sans-serif;
}

button {
  border: none;
}