<app-topcountryframe></app-topcountryframe>



<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4" *ngIf="isDataLoaded">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData"></app-navigation>
    </div>
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">


        <b translate>servicestitle.{{this.title}}</b>
        <div class="ds-pad-t-0_5 ds-pad-b-1">

            <span *ngIf="(warninginfo==false&&warninginfosnow==false) && warninginfosnowreq==false && warninginfosnowres==false && warninginfoothers==false && warninginfosnowothers==false && warninginfosnowothersfac==false && warninginfosnowfac==false && warninginfofac== false && warninginfosnowlegacy==false && warninginfofacr== false  && warninginfofacu== false && warninginfofacdelete== false">  <p                 translate>employeeinfotrans.ifinfoiscorrect <a translate href="https://w3.ibm.com/bluepages/" target="_blank">employeeinfotrans.BluePagesrecord </a> <span translate>employeeinfotrans.beforecontinuing </span></p>
            </span>
        </div>
        <div class="ds-hr-thick ds-mar-b-1_5"></div>

        <app-steps [step]="servicesData.step" [isSelf]="reqFor" [hideSteps]="hideSteps"></app-steps>

        <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 " *ngIf="selfinfo==false" translate>employeeinfotrans.EmployeeInformation</h2>
        <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 " *ngIf="selfinfo==true" translate>employeeinfotrans.EmployeeEntryDetails</h2>

        <table cellspacing="0" cellpadding="0" border="0" *ngIf="selfinfo==false">
            <tbody>
                <tr valign="top">
                    <td width="359">
                        <label for="NameID" translate>employeeinfotrans.Name</label><br><br>
                    </td>
                    <td width="359">{{employeeInfo.employeeName}}</td>
                </tr>
                <tr valign="top">
                    <td width="359">
                        <label for="NameID" translate>employeeinfotrans.SerialNumber</label><br><br>
                    </td>
                    <td width="359">{{employeeInfo.sno}}</td>
                </tr>

                <tr valign="top">
                    <td width="359">
                        <label for="JobID" translate>employeeinfotrans.JobResponsibility</label><br><br>
                    </td>
                    <td width="359">{{employeeInfo.jobResponsibility}}</td>
                </tr>

                <tr valign="top">
                    <td width="359">
                        <label for="BUID" translate>employeeinfotrans.BusinessUnit</label><br><br>
                    </td>
                    <td width="359">{{employeeInfo.businessUnit}}</td>
                </tr>

                <tr valign="top">
                    <td width="359">
                        <label for="DeptID" translate>employeeinfotrans.Department</label><br><br>
                    </td>
                    <td width="359">{{employeeInfo.department}}</td>
                </tr>

                <tr valign="top">
                    <td width="359">
                        <label for="EmpCountryID" translate>employeeinfotrans.Country<br><br></label>
                    </td>
                    <td width="359">{{employeeInfo.country}}</td>
                </tr>

                <tr valign="top">
                    <td width="359">
                        <label for="EmailID" translate>employeeinfotrans.E-mail</label><br><br>
                    </td>
                    <td width="359">{{employeeInfo.email}}</td>
                </tr>


            </tbody>
        </table>

        <p id="war11" class="ds-col-xs-12 ds-alert ds-warning" style="display: none;"></p>
        <div id="war2" class="ds-col-xs-12 ds-alert ds-warning" style="display: none;">
            <p>
                <span style="font-size: 1rem;" translate>employeeInfo.noteligiblejabber<br>
                <span translate>employeeInfo.itnexistsforuser </span><br>
                </span>
            </p>
        </div>
        <div id="war3" class="ds-col-xs-12 ds-alert ds-warning" style="display: none;">
            <p translate>employeeinfotrans.nojabber</p>
        </div>
        <div id="war4" class="ds-col-xs-12 ds-alert ds-warning" style="display: none;">
            <p>
                <span style="font-size: 1rem;" translate>employeeinfotrans.nojabberusethislink<a translate style="color:blue" target="_blank" href="https://105.w3-969.ibm.com/tools/voice/SPOEProd.nsf/EntryPage?OpenForm&amp;EMEA_Voice">employeeinfotrans.GlobalVoiceInfrastructure</a> <span translate> employeeinfotrans.receiveITN</span>
                <br><br>
                </span>
            </p>
        </div>
        <div id="err-dept1" class="ds-col-xs-12 ds-alert ds-warning" style="display: none;">
            <p translate>employeeinfotrans.notauthorizedtoaccessjabber <a style="color:blue" target="_blank" href="mailto:Ladislav.Kosar@sk.ibm.com">Ladislav.Kosar@sk.ibm.com</a></p>
        </div>
        <div id="err-dept2" class="ds-col-xs-12 ds-alert ds-warning" style="display: none;">
            <p translate>employeeinfotrans.notauthorizedtoaccessip <a style="color:blue" target="_blank" href="mailto:Ladislav.Kosar@sk.ibm.com">Ladislav.Kosar@sk.ibm.com</a></p>
        </div>
        <div id="w1" class="ds-col-xs-12 ds-alert ds-warning" *ngIf=warninginfo>
            <p><span style="font-size: 1rem;" translate> <span translate>employeeinfotrans.Jabber/ITN</span> {{identifier}} <span translate> employeeinfotrans.jabberconfiguration </span><br> <span translate> employeeinfotrans.toinstallbegin </span>          <a style="color:blue" target="_blank" href="https://w3.ibm.com/help/#/article/jabbernewuser">Help@IBM</a>:
                <span translate> employeeinfotrans.CiscoJabber </span> <br></span>
            </p>
        </div>

        <div id="fac_new" class="ds-col-xs-12 ds-alert ds-warning" *ngIf=warninginfofac>
            <p><span style="font-size: 1rem;">The serial number that you have entered is not eligible to request more than one FAC Code / IDD PIN.</span></p>
        </div>

        <div id="fac_new_snow" class="ds-col-xs-12 ds-alert ds-warning" *ngIf=warninginfosnowfac>
            <p><span style="font-size: 1rem;"> <span translate>employeeinfotrans.alreadyonerequestinprogressfac</span> {{identifier}}.<br>

                <span translate>employeeinfotrans.ongoingrequestsbyclickonrequestpage</span><br>

                <span translate> employeeinfotrans.furtherassistance </span> <a style="color:blue" target="_blank" href="https://ibm-cio.slack.com/archives/C0133EDUGVB">#voice-at-ibm</a>.<br></span>
            </p>
        </div>

        <div id="fac_delete" class="ds-col-xs-12 ds-alert ds-warning" *ngIf="warninginfofacdelete">
            <p><span style="font-size: 1rem;">There is no FAC Code / IDD PIN for this serial number.</span></p>
        </div>




        <div id="fac_update" class="ds-col-xs-12 ds-alert ds-warning" *ngIf="warninginfofacu">
            <p><span style="font-size: 1rem;">There is no FAC Code / IDD PIN for this serial number.</span></p>
        </div>

        <div id="fac_reset" class="ds-col-xs-12 ds-alert ds-warning" *ngIf="warninginfofacr">
            <p><span style="font-size: 1rem;">There is no FAC Code / IDD PIN for this serial number.</span></p>
        </div>


        <div id="req_stat" class="ds-col-xs-12 ds-alert ds-warning" *ngIf=warninginfosnow>
            <p><span style="font-size: 1rem;"> <span translate>employeeinfotrans.alreadyonerequestinprogress</span> {{identifier}}

                <span translate>employeeinfotrans.isalreadybeingprocessed</span><br>

                <span translate> employeeinfotrans.Ifyoucannotsee </span></span>
            </p>
        </div>
        <div id="req_stat_del" class="ds-col-xs-12 ds-alert ds-warning" *ngIf=warninginfosnowothers>
            <p><span style="font-size: 1rem;"> <span translate> employeeinfotrans.alreadyone </span> {{page}} <span translate> employeeinfotrans.inprogess </span> {{identifier1}}.<br>

                <span translate>employeeinfotrans.ongoingrequestsbyclickonrequestpage</span><br>

                <span translate> employeeinfotrans.furtherassistance </span> <a style="color:blue" target="_blank" href="https://ibm-cio.slack.com/archives/C0133EDUGVB">#voice-at-ibm</a>.<br></span>
            </p>
        </div>
        <div id="fac_others" class="ds-col-xs-12 ds-alert ds-warning" *ngIf=warninginfosnowothersfac>
            <p><span style="font-size: 1rem;"> <span translate> employeeinfotrans.alreadyone </span> {{page}} <span translate> employeeinfotrans.inprogess </span> {{identifier1}}.<br>

                <span translate>employeeinfotrans.ongoingrequestsbyclickonrequestpage</span><br>

                <span translate> employeeinfotrans.furtherassistance </span> <a style="color:blue" target="_blank" href="https://ibm-cio.slack.com/archives/C0133EDUGVB">#voice-at-ibm</a>.<br></span>
            </p>
        </div>
        <div id="legacy" class="ds-col-xs-12 ds-alert ds-warning" *ngIf=warninginfosnowlegacy>
            <p><span style="font-size: 1rem;"> <span translate> employeeinfotrans.alreadyone </span> {{page}} <span translate> employeeinfotrans.inprogess </span> {{identifier}}.<br>

                <span translate>employeeinfotrans.ongoingrequestsbyclickonrequestpage</span><br>

                <span translate> employeeinfotrans.furtherassistance </span> <a style="color:blue" target="_blank" href="https://ibm-cio.slack.com/archives/C0133EDUGVB">#voice-at-ibm</a>.<br></span>
            </p>
        </div>
        <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=warninginfosnowreq>

            <p translate>employeeinfotrans.nooutstandingreq</p>

        </div>
        <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=warninginfosnowres>
            <p translate>employeeinfotrans.noresources</p>

        </div>
        <div id="b1" class="ds-col-xs-12 ds-alert ds-warning" *ngIf=warninginfoothers>
            <p translate>employeeinfotrans.nojabberforthisserial </p>
        </div>

        <div class="ds-hr-thick"></div>

        <div class="ds-row ds-grid ds-mar-t-b-3_5 ds-pad-r-1">
            <div [ngClass]="warninginfo==false&&warninginfosnow==false&&warninginfosnowfac==false&& warninginfofac==false&&warn==false? 'ds-col-lg-2 ds-push-lg-8': 'ds-col-lg-2 ds-push-lg-10'">
                <button (click)="backClick()" class="ds-button ds-secondary ds-no-expand ds-text-align-center ds-mar-b-0" style="width: 100%" translate>employeeinfotrans.BACK</button>
            </div>
            <div class="ds-col-lg-2 ds-push-lg-8">

                <button (click)="submit()" class="ds-button ds-primary ds-pad-l-0 ds-pad-r-0 ds-text-align-center" style="width: 100%" *ngIf="(warninginfo==false&&warninginfosnow==false) && warninginfosnowreq==false && warninginfosnowres==false && warninginfoothers==false && warninginfosnowothers==false && warninginfosnowothersfac==false && warninginfosnowfac==false && warninginfofac== false && warninginfofacr== false  && warninginfofacu== false && warninginfofacdelete== false && warninginfosnowlegacy == false"
                    translate>employeeinfotrans.NEXT</button>

            </div>
        </div>
    </div>
</div>