<div class="ds-row ds-bg-dark ds-padding-top-5"
style="background-image: url(././assets/footer.png);background-position:center;background-size: cover;background-repeat:no-repeat;">
<div
    class="ds-col-xs-10 ds-offset-xs-3 ds-mar-t-3 ds-col-lg-8 ds-offset-lg-2 ds-col-xl-6 ds-offset-xl-3 ds-text-align-center ds-shadow-text">
    <p translate>
        footer.aditional-question
    </p>
    <p class="ds-margin-bottom-5" translate>
        footer.please consult <a href="https://w3.ibm.com/help/#/article/telephony_gvi_spoe/overview" target="_blank"
            class="ds-text-neutral-1">Help@IBM</a>.
    </p>
    <p class="ds-caption" translate>footer.consult</p>
</div>
<div
    class="ds-col-xs-10 ds-offset-xs-1 ds-col-md-4 ds-offset-lg-2 ds-col-xl-2 ds-offset-xl-3 ds-align-text-center">

</div>
</div>
