<app-topcountryframe></app-topcountryframe>



<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData"></app-navigation>
    </div>

    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">

        <h3><b>Revalidation</b></h3>

        <div class="ds-pad-b-0_5 ds-pad-b-1"></div>
        <div class=" ds-panel ds-col-12 "></div>

        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr valign="top">
                    <td width="865" height="5">
                        <!--div><h2 class= "ds-bg-neutral-2 ds-text-neutral-7  ds-pad-l-0_5"><label for="SecondID">Employee Information - <COUNTRY> employees only</label></h2></div-->
                    </td>
                </tr>
            </tbody>
        </table>

        <table cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr valign="top">
                    <td width="303"><b>
                        <h2>&nbsp;&nbsp;&nbsp;Pending Requests</h2></b>
                        <p></p>
                    </td>
                    <td width="274">
                        <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                    </td>
                    <td width="370">
                        <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                    </td>
                </tr>
            </tbody>
        </table>
        <br>
        <div align="center">
            <table id="t1" border="1">
                <tbody>
                    <tr valign="top">
                        <td width="72" bgcolor="#808080">
                            <font color="#808080">
                                <input name="%%Surrogate_fall" type="hidden" value="1">
                                <label>
                                <input type="checkbox" name="fall" value="fall" onchange="if (document.getElementById('fall').checked==true)
                                {
                                    selectall();
                                    }
                                    else{
                                    deselectall();
                                    }" id="fall">fall
                            </label></font>
                        </td>
                        <td width="172" bgcolor="#808080"><b><font face="Debussy" color="#FFFFFF">CNUM </font></b>
                        </td>
                        <td width="172" bgcolor="#808080"><b><font face="Debussy" color="#FFFFFF">Employee Name</font></b></td>
                        <td width="172" bgcolor="#808080"><b><font face="Debussy" color="#FFFFFF">Revalidation Date</font></b></td>
                        <td width="172" bgcolor="#808080"><b><font face="Debussy" color="#FFFFFF">Identifier</font></b>
                        </td>
                        <td width="172" bgcolor="#808080"><b><font face="Debussy" color="#FFFFFF">Changed</font></b>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td width="72" bgcolor="#FFFFFF">
                            <font color="#ffffff">
                                <input name="%%Surrogate_f1" type="hidden" value="1">
                                <label>
                                <input type="checkbox" name="f1" value="f1" id="f1">f1
                            </label></font>
                        </td>
                        <td width="172" bgcolor="#FFFFFF"><a href="https://105.w3-969.ibm.com/tools/voice/test/SPOEWebfe_dev.nsf/RR?OpenForm&amp;VOIP_IN_DNew&amp;01241O744&amp;Suvarna Lakkisetty1&amp;91613867&amp;07/03/2019&amp;077949744&amp;test&amp;077949744&amp;CAG">01241O744</a></td>
                        <td
                            width="172" bgcolor="#FFFFFF">
                            <font color="#808080"> </font>Suvarna Lakkisetty1
                            <font color="#808080"> </font>
                            </td>
                            <td width="172" bgcolor="#FFFFFF">
                                <font color="#808080"> </font>07/03/2019
                            </td>
                            <td width="172" bgcolor="#FFFFFF">91613867
                            </td>
                            <td width="172" bgcolor="#FFFFFF">Dept Changed from test to CAG
                            </td>
                    </tr>
                    <tr valign="top">
                        <td width="72" bgcolor="#FFFFFF">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td>
                        <td width="172" bgcolor="#FFFFFF">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td>
                        <td width="172" bgcolor="#FFFFFF">
                            <font color="#808080"></font>
                            <font color="#808080"></font>
                        </td>
                        <td width="172" bgcolor="#FFFFFF">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td>
                        <td width="172" bgcolor="#FFFFFF">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td>
                        <td width="172" bgcolor="#FFFFFF">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <br>

        <div class="ds-panel ds-col-12"></div>
        <div class="ds-row ds-pad-t-2" style="margin-right:12px">
            <div class="ds-col-xs-12 ds-col-md-4 ds-col-lg-2 ds-offset-lg-5">
                <button class="ds-button ds-secondary ds-no-expand ds-text-align-center ds-mar-b-0 ">SELECT ALL</button>
            </div>
            <div class="ds-col-xs-12 ds-col-md-4 ds-col-lg-2 ">
                <button class="ds-button ds-secondary ds-no-expand ds-text-align-center ds-mar-b-0">DESELECT ALL</button>
            </div>
            <div class="ds-col-xs-12 ds-col-md-4 ds-col-lg-3">
                <button class="ds-button ds-secondary ds-no-expand ds-text-align-center ds-mar-b-0">APPROVE SELECTED ONE</button>
            </div>
        </div>

        <!-- <div class="ds-col-19 ds-pad-b-2 ds-no-gutter ds-float-lg-right">
            <div class="ds-tray-fit-content ds-margin-bottom-0"> -->

        <!-- <div class="button-bar ds-tray-fit-content ds-float-lg-right ">
                   
                    <input type="hidden" name="ele" value="1">
                    <input type="hidden" name="counts" value=""> -->
        <!-- <input type="button" id="button" name="back" class="ds-button ds-secondary ds-width-auto ds-margin-bottom-0 ds-pad-l-1 ds-pad-r-1 TABINDEX=" 32765"="" onclick="selectall();" value="Select All"> -->
        <!-- <span id="button1" class="ds-pad-l-1 ds-pad-r-1">
                        <input type="button" name="back" class="ds-button ds-secondary ds-width-auto ds-margin-bottom-0 ds-pad-l-1 ds-pad-r-1" abindex="32765" onclick="deselectall();" value="DeSelect All">
                    </span>
                    <span id="button2" class="ds-pad-r-1">
                        <input type="button" id="b2" name="back" class="ds-button ds-secondary ds-width-auto ds-margin-bottom-0 ds-pad-l-1 ds-pad-r-1" tabindex="32765" onclick="if (counts1())
                            {
                            form.submit();
                            };
                                " value="APPROVE SELECTED ONE">
                    </span>
                </div> -->
        <!-- </div>
        </div> -->
    </div>
</div>