<div class="ds-row ds-pad-t-2 ds-pad-b-1">
    <div class="ds-col-4">
    </div>
    <div class="ds-col-8">
        <div class="ds-row">
            <div class="ds-col-1">
                <img src="assets/tick.png">
            </div>
            <div class="ds-col-11">
                <div><b>Your request for new Jabber has been submitted</b></div>
                <div class="ds-padding-top-0_5">Tracking number for the request is : <b>IN-NS-06521V-1125</b></div>
                <div class="ds-padding-top-0_5 ds-padding-bottom-1">You will receive an email notification when your request has been processed.</div>
            </div>
        </div>
        
    </div>  
</div>