<app-topcountryframe></app-topcountryframe>


<div class=" ds-panel ds-col-12"></div>
<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData"></app-navigation>
    </div>
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
        <div class="ds-row">
            <div class="ds-col-1">
                <img src="assets/tick.png">
            </div>
            <div class="ds-col-11">
                <div><b> <span translate>resultpagetrans.Yourrequestfor</span> {{requestResult.serviceName}} <span translate>resultpagetrans.hasbeensubmitted</span></b></div>
                <div class="ds-pad-t-1" > <span translate>resultpagetrans.Trackingrequest </span><b>{{requestResult.serviceNumber}}</b></div>
                <div class="ds-pad-t-1 ds-pad-b-1" translate>resultpagetrans.receiveemailnotification</div>
            </div>
        </div>


    </div>
</div>