<app-topcountryframe></app-topcountryframe>


<div class=" ds-panel ds-col-12"></div>
<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
  <div class="ds-col-md-4 ds-col-xl-4">
    <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData"></app-navigation>
  </div>
  <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
    
      <b>Requests</b>
      <div class="ds-pad-t-0_5 ds-pad-b-1"></div>
      <div class=" ds-panel ds-col-12 "></div>
      <!--Steps code starts here-->
      <div class="ds-col-12">
        <div class="ds-row ">
          <div class="ds-col-12">
            <div class="ds-row">
              <div>
                <div class="tooltip"><span class="ds-text-contextual-blue-5 ds-pad-r-0_5 ds-pad-l-1"><b>STEP
                      1</b></span> <span class="tooltiptext ds-bg-blue-2 ds-text-neutral-7">Employee Search</span>
                </div>
                <div id="r21" class="tooltip"><span class="ds-text-contextual-blue-5 ds-pad-r-0_5 ds-pad-l-1"><b><span
                        class="ds-pad-r-1">-----&gt;</span>STEP 2</b></span><span
                    class="newtooltiptext ds-bg-blue-2 ds-text-neutral-7">Employee Information</span>
                </div>
                <span id="r3" class=" ds-text-contextual-green-3 ds-pad-r-1 ds-pad-l-0_5"><b><span
                      class="ds-pad-r-1">-----&gt;</span>
                    <div class="tooltip">STEP 3
                      <span style="font-weight:normal;" class="tooltiptext ds-bg-blue-2 ds-text-neutral-7">Employee
                        Requests Details</span>
                    </div>
                  </b></span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Steps code Ends here-->
      <!--All Requests code starts-->
      <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 ">Employee Requests Details</h2>
      <hr style="margin-bottom: 0px;border: 1px solid #d1d1d1;">
      <table style="width:100%; border-collapse: collapse">
        <thead class="ds-bg-neutral-warm-2 ds-text-neutral-7 ds-font-weight-bold">
          <tr>
            <td style="padding:5px 15px 5px 25px; padding-left:15px ">Resource Type</td>
            <td style="padding:5px 55px 5px 25px; padding-left:15px">Created Date</td>
            <td style="padding:5px 65px 9px 50px; padding-left:15px">Status</td>
            <td style="padding:5px 55px 5px 50px; padding-left:15px">Tracking Number</td>
            <td style="padding:5px 15px 5px 10px; padding-left:15px">Additional Comments</td>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor='let no of requests'>
            <td style="padding-top:13px; padding-left:15px">{{ no.fl_typesnow }}</td>
            <td style="padding-top:13px; padding-left:15px">{{ no.fl_date_submittedsnow }}</td>
            <td style="padding-top:13px; padding-left:15px">{{ no.fl_statussnow }}</td>
            <td style="width:30%; padding-top:13px; padding-left:15px">{{ no.fl_ReqNumbersnow }}</td>
            <td style="padding-top:13px; padding-left:15px"><span *ngIf="no.fl_reqcomments.includes('none' || ''); then text; else link"></span>
              <ng-template #link><a (click)='openNav(no.fl_reqcomments)'
                  style="color:blue">{{ no.fl_reqcomments[0] }}</a></ng-template>
              <ng-template #text>{{ no.fl_reqcomments }}</ng-template>
            </td>
          </tr>
        </tbody>
      </table>
      <!--All Requests code Ends-->

      <!--Model code Starts-->
      <div id="myNav" class="overlay ds-pad-t-5" [style.display]="DisplayModel">
        <div class="overlay-content">
          <div class="ds-row ds-bg-neutral-1">
            <div class='ds-mar-r-1'><a class="ds-float-right" (click)="closeNav()">×</a><br><br>
              <div class="ds-pad-l-5 ds-pad-b-3 ds-pad-r-1">
                <div id="inval" style="padding-left: 1rem;" *ngFor='let cmts of allComments'>{{ cmts }}
                </div><br>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!--Model code Ends-->
   
  </div>
</div>