.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
}

.overlay a {
  padding: 8px;
  text-decoration: none;
  color: black;
}

.overlay a:hover {
  cursor: pointer;
  color: blue;
}

.overlay-content {
  width: 50%;
  margin-left: 25%;
  margin-top: 5%;
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  visibility: hidden;
  width: 280px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 40%;
  margin-left: -100px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

.tooltip .newtooltiptext {
  visibility: hidden;
  width: 280px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 3px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  top: 150%;
  left: 80%;
  margin-left: -100px;
}

.tooltip:hover .newtooltiptext {
  visibility: visible;
}