<app-topcountryframe></app-topcountryframe>


<div class=" ds-panel ds-col-12"></div>
<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData"></app-navigation>
    </div>
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5" *ngIf=display>    

    <p><b translate>servicestitle.Requests</b></p>
    <div class=" ds-pad-b-1"></div>
    <div class=" ds-panel ds-col-12 "></div>
    <app-steps [step]="servicesData.step" [isSelf]="reqFor" [hideSteps]=""></app-steps>
    <!--All Requests code starts-->
    <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 " translate>requesttrans.EmployeeRequestsDetails</h2>
    <div class="ds-panel ds-col-12"></div><br>
    <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=warninginfosnowreq>
      <p translate>employeeinfotrans.nooutstandingreq</p><p>
  </p></div>
  <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=errorinfo><p></p>
    <p translate>Jabbernewtrans.opps</p><p>
</p></div>

    <table style="width:100%; border-collapse: collapse; padding:2px" *ngIf="warninginfosnowreq==false && !errorinfo">
      <tbody>
      </tbody>
      <thead class="ds-bg-neutral-warm-2 ds-text-neutral-7 ds-font-weight-bold">
        <tr>
          <td style="padding:5px 15px 5px 25px; padding-left:15px " translate>requesttrans.ResourceType</td>
          <td style="padding:5px 55px 5px 25px; padding-left:15px" translate>requesttrans.CreatedDate</td>
          <td style="padding:5px 65px 9px 50px; padding-left:15px " translate>requesttrans.Status</td>
          <td style="padding:5px 55px 5px 50px ;padding-left:15px" translate>requesttrans.TrackingNumber</td>
          <td style="padding:5px 15px 5px 10px; padding-left:15px " translate>requesttrans.AdditionalComments</td>
        </tr>
      </thead>
      <tbody>
        <tr  *ngFor='let no of snowdata; let i=index'>
          <td style="padding-top:13px; padding-left:15px">{{ no.cat_item.display_value }}</td>
          <td style="padding-top:13px; padding-left:15px">{{ no.sys_created_on|date:'MM/dd/yyyy' }}</td>
          <td style="padding-top:13px; padding-left:15px">{{no.stage.includes("approved")?"Processing":no.stage.includes("Approved")?"Processing":no.stage.includes("_approval")?"Processing":no.stage}}<span *ngIf="no.stage=='Waiting for Approval'">{{approver[i]}}</span></td>
          <td style="width:30%; padding-top:13px; padding-left:15px">{{ no['variables.6b7d0e981b3f84d08476dc26bc4bcb75']}}</td>
          <td style="width:30%; padding-top:13px; padding-left:15px"><span *ngIf="!snowdataarray[i].includes('none' || '')"><a (click)='openNav(snowdataarray[i])' style="color:blue">{{lastcomment[i] }}</a></span>
            <span *ngIf="snowdataarray[i].includes('none' || '')">{{lastcomment[i]}}</span>            
          </td> 
        </tr>
      </tbody>
    </table>
    <div class="ds-panel ds-col-12"></div><br>
    <!--All Requests code Ends-->
  
    <!--Model code Starts-->
    <div id="myNav" class="overlay ds-pad-t-5" [style.display]="DisplayModel">
      <div class="overlay-content">
        <div class="ds-row ds-bg-neutral-1">
          <div class='ds-mar-r-1'><a class="ds-float-right"
                (click)="closeNav()">×</a><br><br>
            <div class="ds-pad-l-5 ds-pad-b-3 ds-pad-r-1">
              <div id="inval" style="padding-left: 1rem;" *ngFor='let cmts of allComments'>{{ cmts }}
              </div><br>
            </div>
        </div>
        <!--Model code Ends-->
    </div>

</div>