<app-topcountryframe></app-topcountryframe>

<div class=" ds-panel ds-col-12"></div>
<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData"></app-navigation>
    </div>
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
        <form [hidden]="isEntryForm" (submit)='entryDetailsLA(formData)' #formData='ngForm'>

            <b translate>servicestitle.Request new Jabber service</b>

            <div class="ds-pad-t-0_5 ds-pad-b-1">
                <span translate>Jabberentrydetails.Fieldsasterisk </span> (<span class="ds-text-contextual-red-2">*</span>) <span translate>Jabberentrydetails.arerequired</span>
            </div>
            <div class=" ds-panel ds-col-12 "></div> 

            <app-steps [step]="servicesData.step" [isSelf]="reqFor" [hideSteps]=""></app-steps>

            <!-- <div class="ds-col-12 ds-pad-t-0_5">
                <div class="ds-row ">
                <div class="ds-col-12">
                    <div class="ds-row">
                    <div>
                        <div class="tooltip"><span class="ds-text-contextual-blue-5 ds-pad-r-0_5 ds-pad-l-1"><b>STEP
                            1</b></span> <span class="tooltiptext ds-bg-blue-2 ds-text-neutral-7">Employee Search</span>
                        </div>
                        <div  class="tooltip"><span class="ds-text-contextual-blue-5 ds-pad-r-0_5 ds-pad-l-1"><b><span
                                class="ds-pad-r-1">-----&gt;</span>STEP 2</b></span><span
                            class="newtooltiptext ds-bg-blue-2 ds-text-neutral-7">Employee Information</span>
                        </div>
                        <div  class="tooltip"><span class="ds-text-contextual-green-3 ds-pad-r-0_5 ds-pad-l-1"><b><span
                        class="ds-pad-r-1">-----&gt;</span>STEP 3</b></span><span
                        class="newtooltiptext ds-bg-blue-2 ds-text-neutral-7">Employee Entry Details</span>
                        </div>
                        <div  class="tooltip"><span class="ds-text-contextual-blue-5 ds-pad-r-0_5 ds-pad-l-1"><b><span
                            class="ds-pad-r-1">-----&gt;</span>STEP 4</b></span><span
                        class="newtooltiptext ds-bg-blue-2 ds-text-neutral-7">Review Details</span>
                    </div>
                    </div>
                    </div>
                </div>
                </div>
            </div> -->


            <h2 id="h22" class="ds-bg-neutral-2 ds-text-neutral-7 ds-padding-left-0_5 " translate>Jabberentrydetails.EmployeeEntryDetails</h2>

            <p>
            <table id="t1" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    
                    <!-- <tr valign="top">
                        <td colspan="3" width="540">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td>
                    </tr> -->
                    <tr valign="top">
                        <!-- <td width="12">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td>  -->
                        <td width="46%"><br>
                            <label for="LocationId" class="ds-text-capitalize" translate>Jabbernewtrans.JabberLocation</label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="160">
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <input name="%%Surrogate_Location" type="hidden" value="1">
                                <select name="Location" rows="2" cols="40" id="LocationId" class="ds-title ds-align-text-left" style="width:300px !important;" title="Location" ngModel>
                                    <option value ="" translate>Jabbernewtrans.JabberLocation</option>
                                    <option name="Location" *ngFor='let fl_location of locationlist' [value]='fl_location'>
                                        {{ fl_location }}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <!-- <tr valign="top"><td width="12">
                        <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                    </td>
                    <td width="349">
                        <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                    </td>
                    <td width="160">
                        <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                    </td>
                    </tr> -->

                    <tr valign="top">
                        <!-- <td width="12">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td> -->
                        <td width="46%"><br>
                            <span class="ds-text-capitalize" translate>Jabbernewtrans.Voicemail</span>
                        </td><td width="160"><br>Yes
                        </td>
                    </tr>

                    <!-- <tr valign="top">
                        <td width="12">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td>
                        <td width="349">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td>
                        <td width="160">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td>
                    </tr> -->

                    <tr valign="top">
                        <!-- <td width="12">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td> -->
                        <td width="46%"><br>
                            <label for="COSId" translate>Jabbernewtrans.ClassofService</label><br>
                        </td>
                        <td width="160"><br>National
                        </td>
                    </tr>

                    <!-- <tr valign="top">
                        <td colspan="3" width="540">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td>
                    </tr> -->

                    <!-- <tr valign="top">
                        <td width="12">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td>
                        <td width="349">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td>
                        <td width="160">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td>
                    </tr> -->

                    <!-- <tr valign="top">
                        <td colspan="3" width="540"><font color="#FF0000"></font>
                        </td>
                    </tr> -->

                    <!-- <tr valign="top">
                        <td colspan="3" width="540">
                            <img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0">
                        </td>
                    </tr> -->
                </tbody>
            </table>

            <br><div class=" ds-panel ds-col-12 "></div> 

            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
                            <input type="button" name="back" class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 
                            ds-pad-r-3" value="{{ 'employeeinfotrans.BACK'|translate}}" (click)="backClick()">
                        </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
                            <input type="submit" name="next" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                             value="{{ 'employeeinfotrans.NEXT'|translate}}">
                        </span>
                    </div>
                </div>
            </div>
          
        </form>


        <form [hidden]="isReviewForm">
            <b translate>servicestitle.Request new Jabber service</b>

            
            <div class="ds-pad-t-0_5 ds-pad-b-1" translate>Jabbernewtrans.pleasesubmittostart
            </div>
            <div class="ds-hr-thick ds-mar-b-1_5"></div>

            <app-steps [step]="servicesData.step+1" [isSelf]="reqFor" [hideSteps]="" (previousStep)="previousStep($event)"></app-steps>


            <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-padding-left-0_5 " translate>Jabberupdate.ReviewDetails</h2>

            <table id="t2" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td width="61%">
                            <label for="addId1" translate>Jabbernewtrans.JabberLocation</label>
                        </td>
                        <td width="160">{{reviewDetailsIndia.officeLocation}}</td>
                    </tr>
                    <tr valign="top">
                        
                        <td width="61%"><br>
                            <span class="ds-text-capitalize" translate>Jabbernewtrans.Voicemail</span>
                        </td>
                        <td width="160"><br>Yes
                        </td>
                    </tr>
                    <tr valign="top">
                        
                       <td width="61%"><br>
                        <label for="COSId" translate>Jabbernewtrans.ClassofService</label><br>
                       </td>
                       <td width="160"><br>National<br>
                       </td>
                    </tr>
                    
                </tbody>
            </table>

            <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=errorinfo><p></p>
                <p translate>Jabbernewtrans.opps</p><p>
            </p></div>

            <div class="ds-hr-thick ds-mar-t-1_5"></div>

            <!-- Dark Background -->
            <div class="ds-loader-container" *ngIf="this.isSpinnerVisible">
                <div class="ds-loader-header" translate>Jabberentrydetails.Submissioninprogress</div>
                <div class="ds-loader" role="alert" aria-busy="true" aria-label="Your request is being submitted. Do not refresh or go back."></div>
            </div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
                            <input type="button" name="back" class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 
                            ds-pad-r-3" value="{{ 'employeeinfotrans.BACK'|translate}}" (click)='BackButton()' *ngIf="this.isButtonVisible && !errorinfo">
                        </span> 
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
                            <input type="submit" name="submit" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" 
                            value="{{ 'employeeinfotrans.SUBMIT1'|translate}}" (click)="submit_snow()" *ngIf="this.isButtonVisible && !errorinfo">
                        </span>
                        <input type="button" name="exit" *ngIf="errorinfo"type="button" class="ds-button ds-secondary 
                        ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" [routerLink]="['/jabberservices']" 
                        [queryParams]="{country:pcode,service:service}" value="{{ 'alerttranslation.EXITREQUEST'|translate}}">      
           
                        
                    </div>
                </div>
            </div>
           

        </form>

    </div>
</div>