<div class="ds-panel-row">
    <span *ngIf="true">
        <span [ngClass]="changeClass1 ? 'ds-tooltip ds-hover ds-text-align-center ds-open' : 'ds-tooltip ds-hover ds-text-align-center' " id="tooltip-demo1">
            <span (mouseenter)="changeClass1=true" (mouseout)="changeClass1=false">
                <a [routerLink]="['/employeesearch']" [queryParams]="{country:pcode,service:service}" [class.disabled]="step===1 ? true : false" [ngClass]="step===1 ? 'ds-tooltip-trigger ds-text-contextual-green-3' : 'ds-tooltip-trigger ds-text-contextual-blue-5'" aria-label="help" tabindex="0"><b>{{servicesData[0].name}}</b></a>
            </span>
    <div class="ds-tooltip-content ds-text-neutral-7" id="tooltip-demo1-content" role="tooltip">{{servicesData[0].tooltip}}</div>
    </span>
    </span>

    <span *ngIf="!isSelf && !isWarning">
        <span [ngClass]="step===2 ? 'ds-pad-l-r-1 ds-text-contextual-green-3' : 'ds-pad-l-r-1 ds-text-contextual-blue-5'"><b>-----&gt;</b></span>
    <span [ngClass]="changeClass2 ? 'ds-tooltip ds-hover ds-text-align-center ds-open' : 'ds-tooltip ds-hover ds-text-align-center' " id="tooltip-demo1">
        <span (mouseenter)="changeClass2=true" (mouseout)="changeClass2=false">    
        <a [routerLink]="['/employeeinfo']" [queryParams]="{country:pcode,service:service}" [class.disabled]="(step===1 || step===2) ? true : false" [ngClass]="step===2 ? 'ds-tooltip-trigger ds-text-contextual-green-3' : 'ds-tooltip-trigger ds-text-contextual-blue-5'" aria-label="help" tabindex="0"><b>{{servicesData[1].name}}</b></a>
        </span>
    <div class="ds-tooltip-content ds-text-neutral-7" id="tooltip-demo1-content" role="tooltip">{{servicesData[1].tooltip}}</div>
    </span>
    </span>

    <span *ngIf="isSelf && !isWarning">
        <span [ngClass]="step===2 ? 'ds-pad-l-r-1 ds-text-contextual-green-3' : 'ds-pad-l-r-1 ds-text-contextual-blue-5'"><b>-----&gt;</b></span>
    <span [ngClass]="changeClass2 ? 'ds-tooltip ds-hover ds-text-align-center ds-open' : 'ds-tooltip ds-hover ds-text-align-center' " id="tooltip-demo1">
        <span (mouseenter)="changeClass2=true" (mouseout)="changeClass2=false">
            <a [routerLink]="['/employeeinfo']" [queryParams]="{country:pcode,service:service}" [class.disabled]="(step===1 || step===2) ? true : false" [ngClass]="step===2 ? 'ds-tooltip-trigger ds-text-contextual-green-3' : 'ds-tooltip-trigger ds-text-contextual-blue-5'" aria-label="help" tabindex="0"><b>{{servicesData[2].name}}</b></a>
            </span>
    <div class="ds-tooltip-content ds-text-neutral-7" id="tooltip-demo1-content" role="tooltip">{{servicesData[2].tooltip}}</div>
    </span>
    </span>


    <span *ngIf="!isSelf && !isWarning2">
            <span [ngClass]="step===3 ? 'ds-pad-l-r-1 ds-text-contextual-green-3' : 'ds-pad-l-r-1 ds-text-contextual-blue-5'"><b>-----&gt;</b></span>
    <span [ngClass]="changeClass3 ? 'ds-tooltip ds-hover ds-text-align-center ds-open' : 'ds-tooltip ds-hover ds-text-align-center' " id="tooltip-demo1">
        <span (mouseenter)="changeClass3=true" (mouseout)="changeClass3=false">
            <a (click)="sendToEntryDetails()" [class.disabled]="(step===1 || step===2 || step===3) ? true : false" [ngClass]="step===3 ? 'ds-tooltip-trigger ds-text-contextual-green-3' : 'ds-tooltip-trigger ds-text-contextual-blue-5'" aria-label="help" tabindex="0"><b>{{servicesData[3].name}}</b></a>
        </span>
    <div class="ds-tooltip-content ds-text-neutral-7" id="tooltip-demo1-content" role="tooltip">{{servicesData[3].tooltip}}</div>

    </span>
    </span>

    <span *ngIf="isSelf && !isWarning2">
        <span [ngClass]="step===3 ? 'ds-pad-l-r-1 ds-text-contextual-green-3' : 'ds-pad-l-r-1 ds-text-contextual-blue-5'"><b>-----&gt;</b></span>
    <span [ngClass]="changeClass3 ? 'ds-tooltip ds-hover ds-text-align-center ds-open' : 'ds-tooltip ds-hover ds-text-align-center' " id="tooltip-demo1">
        <span (mouseenter)="changeClass3=true" (mouseout)="changeClass3=false">
            <a [routerLink]="['/entrydetails']" [queryParams]="{country:pcode,service:service}"  [class.disabled]="(step===1 || step===2 || step===3) ? true : false"  [ngClass]="step===3 ? 'ds-tooltip-trigger ds-text-contextual-green-3' : 'ds-tooltip-trigger ds-text-contextual-blue-5'" aria-label="help" tabindex="0"><b>{{servicesData[4].name}}</b></a>
            </span>
    <div class="ds-tooltip-content ds-text-neutral-7" id="tooltip-demo1-content" role="tooltip">{{servicesData[4].tooltip}}</div>
    </span>
    </span>

    <span *ngIf="!isSelf && !isWarning3">
    <span [ngClass]="step===4 ? 'ds-pad-l-r-1 ds-text-contextual-green-3' : 'ds-pad-l-r-1 ds-text-contextual-blue-5'"><b>-----&gt;</b></span>

    <span [ngClass]="changeClass4 ? 'ds-tooltip ds-hover ds-text-align-center ds-open' : 'ds-tooltip ds-hover ds-text-align-center' " id="tooltip-demo1">
        <span (mouseenter)="changeClass4=true" (mouseout)="changeClass4=false">
            <a  [class.disabled]="true" [ngClass]="step===4 ? 'ds-tooltip-trigger ds-text-contextual-green-3' : 'ds-tooltip-trigger ds-text-contextual-blue-5'" aria-label="help" tabindex="0"><b>{{servicesData[5].name}}</b></a>
            </span>
    <div class="ds-tooltip-content ds-text-neutral-7" id="tooltip-demo1-content" role="tooltip">{{servicesData[5].tooltip}}</div>
    </span>
    </span>

</div>