<div class="ds-pad-t-1">
    <div class="ds-row ds-pad-b-1 ds-pad-r-2">
        <div *ngIf="cloudantData.isjabber" class="ds-pad-b-1 ds-col-xs-12 ds-col-sm-6 ds-col-md-6 ds-col-lg-4">
            <a [routerLink]="['/jabberservices']" [queryParams]="{country:pcode,service:'jabberservices'}">
                <div class="ds-panel">
                    <div class="ds-panel-container ds-text-align-center" style="max-height: 215px">
                        <img src="././assets/Jabber.png">
                        <p class="ds-text-small  ds-padding-t-3">{{servicesData.services[0]}}</p>
                    </div>
                </div>
            </a>
        </div>
        <div *ngIf="cloudantData.isfixedphone" class="ds-pad-b-1 ds-col-xs-12 ds-col-sm-6 ds-col-md-6 ds-col-lg-4">
            <a [routerLink]="['/inprogress']" [queryParams]="{country:pcode}">
                <div class="ds-panel">
                    <div class="ds-panel-container ds-text-align-center" style="max-height: 215px">
                        <img src="././assets/fixedphone.png">
                        <p class="ds-text-small  ds-padding-t-3">{{servicesData.services[1]}}</p>
                    </div>
                </div>
            </a>
        </div>
        <div *ngIf="cloudantData.isfac" class="ds-pad-b-1 ds-col-xs-12 ds-col-sm-6 ds-col-md-6 ds-col-lg-4">
            <a [routerLink]="['/facservices']" [queryParams]="{country:pcode,service:'facservices'}">
                <div class="ds-panel">
                    <div class="ds-panel-container ds-text-align-center" style="max-height: 215px">
                        <img src="././assets/fixedphone.png">
                        <p class="ds-text-small  ds-padding-t-3">{{servicesData.services[2]}}</p>
                    </div>
                </div>
            </a>
        </div>
        <div *ngIf="cloudantData.isspecial" class="ds-pad-b-1 ds-col-xs-12 ds-col-sm-6 ds-col-md-6 ds-col-lg-4">
            <a [routerLink]="['/inprogress']" [queryParams]="{country:pcode}">
                <div class="ds-panel">
                    <div class="ds-panel-container ds-text-align-center" style="max-height: 215px">
                        <img src="././assets/ss.png">
                        <p class="ds-text-small  ds-padding-t-3">{{servicesData.services[3]}}</p>
                    </div>
                </div>
            </a>
        </div>
    </div>

    <a translate href={{servicesData.termsurl}} class="ds-text-contextual-blue-5 ds-link-unstyled" target="_blank" >footnote.{{servicesData.titles[0]}}</a>
    <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-padding-left-0_5 "translate>footnote.{{servicesData.titles[1]}}</h2>
    <p translate>footnote.{{servicesData.titles[2]}}</p>
    <ul>
        <li *ngFor="let usefulinfotext of servicesData.usefulinfotexts" translate>footnote.{{usefulinfotext}}</li>
    </ul>
</div>