<app-topcountryframe></app-topcountryframe>


<div class=" ds-panel ds-col-12"></div>
<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData"></app-navigation>
    </div>
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
        <form [hidden]='isEntryForm' (submit)='EntryDetails(formData)' #formData='ngForm'>

            <b>Update Jabber Request</b>

      <div class="ds-pad-t-0_5 ds-pad-b-1">
        <label *ngIf="warninginfo==false">Fields marked with an asterisk (<span class="ds-text-contextual-red-2">*</span>) are required.</label>
      </div>
      <div class=" ds-panel ds-col-12 "></div>

            <app-steps [step]="servicesData.step" [isSelf]="reqFor" [hideSteps]="hideSteps"></app-steps>


            <h2 id="h22" class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 ">Employee Entry Details</h2>

            <div id="b1" class="ds-col-xs-12 ds-alert ds-warning" *ngIf="warninginfo==true">
                <p>There is no Jabber for this serial number. </p>
            </div>
            <div id="req_stat_del" class="ds-col-xs-12 ds-alert ds-warning" *ngIf=warninginfosnow>
                <p><span style="font-size: 1rem;">The serial number that you have entered has already one Update Jabber request
            is in progress and request number is {{identifier}}.<br>

            You can view the status of the on-going request by clicking on the Requests link on the left side navigation
            menu.<br>

            For any further assistance, please contact <a style="color:blue" target="_blank"
              href="https://ibm-cio.slack.com/archives/C0133EDUGVB">#voice-at-ibm</a>.<br></span></p>
            </div>

            <table id="t2" width="100%" cellspacing="0" cellpadding="0" border="0" *ngIf="warninginfo==false && warninginfosnow==false">
                <tbody>
                    <tr valign="top">
                        <td colspan="2" width="46%" height="10"><label for="LocationId" class="ds-text-capitalize"> Select Jabber Number </label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="54%" height="10">
                            <div class="ds-dropdown ds-secondary" tabindex="0" role="menu" aria-label="w3DS Dropdown1">
                                <select rows="2" name="Jabber_1" cols="40" id="LocationId" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Select the Jabber number you wish to update" (change)='SelectedJabber(number.value)' tabindex="1"
                                    #number ngModel>
                  <option value="">Select One</option>
                  <option name="Jabber_1" *ngFor='let fl_itn of Jabber; let i = index' [value]='fl_itn' selected>
                    {{ fl_itn }}</option>
                </select>
                            </div>
                        </td>
                    </tr>
                 

                    <tr valign="top" [hidden]='currentVoiceMail'>
                        <td colspan="2" width="46%" height="10"><label for="current_vm" class="ds-text-capitalize"> Current Voice Mail </label>
                        </td>
                        <td width="54%" height="10">
                            <div class="ds-input-container">
                                <span >{{vm_disp}}</span></div>
                        </td>
                    </tr>

                    <tr valign="top" [hidden]='currentcos'>
                        <td colspan="2" width="46%" height="10"><label for="current_cos" class="ds-text-capitalize"> Current Class of Service (COS) </label>
                        </td>
                        <td width="54%" height="10">
                            <div class="ds-input-container">
                                <span >{{cos_disp}}</span></div>
                        </td>
                    </tr>
                    
        
                    
                    <tr valign="top" [hidden]='updaterequested'> 
                        <td colspan="2" width="46%" height="10">
                            <label for="updaterequested" class="ds-text-capitalize"> Update Required for </label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="54%" height="10">         
                            <div class="ds-input-container ds-mar-b-2">
                                <div class="ds-input-checkbox-group" role="group" aria-labelledby="basic-checkboxes-example">
                                    <div class="ds-input-checkbox">
                                        <input type="checkbox" id="checkbox1" name="checked" class="ds-input" title="Update requested for" (change)='toggle_options()' [(ngModel)]="checked" [ngModelOptions]="{standalone: true}">
                                        <div class="ds-input-control"></div>
                                        <label for="checkbox1">Voice Mail</label>
                                    </div>
                                    <div class="ds-input-checkbox">
                                        <input type="checkbox" id="checkbox2" name="checked1" class="ds-input" title="Update requested for" (change)='toggle_options()' [(ngModel)]="checked2" [ngModelOptions]="{standalone: true}">
                                        <div class="ds-input-control"></div>
                                        <label for="checkbox2">Class of Service (COS)</label>
                                    </div>
                                </div>
                            </div>
                            </td>    
                        </tr>


                            <tr valign="top" [hidden]='newvoicemail'>
                                <td colspan="2" width="46%"><label for="addId" class="ds-text-capitalize ds-padding-top-2">New Voice Mail</label>
                                    <span class="ds-text-contextual-red-2">*</span>
                                </td>
                                <td width="54%">
                                    <div class="ds-mar-b-1">
                                        <div class="ds-input-radio-group">
                                            <label for="radio1" class="ds-input-radio ds-pad-r-1" style="display:inline">
                            <input type="radio" [(ngModel)]="Voice_Mail" name="Voice_Mail" id="radio1" class="ds-input"
                              value="Yes">
                            <div class="ds-input-control"></div><span class="ds-pad-l-0_5">Yes</span>
                          </label><label for="radio2" class="ds-input-radio ds-pad-r-1" style="display:inline">
                            <input type="radio" [(ngModel)]="Voice_Mail" name="Voice_Mail" id="radio2" class="ds-input"
                              value="No">
                            <div class="ds-input-control"></div><span class="ds-pad-l-0_5">No</span>
                          </label>
                                        </div>
                                    </div>
                                </td>
                            </tr>


                            <tr valign="top" [hidden]="newcos">
                                <td colspan="2" width="46%" height="10"><label for="LocationId" class="ds-text-capitalize"> New Class of Service</label>
                                    <span class="ds-text-contextual-red-2">*</span>
                                </td>
                                <td width="54%" height="10">
                                    <div class="ds-dropdown ds-secondary" tabindex="0" role="menu" aria-label="w3DS Dropdown1">
                                        <select rows="2" name="select_cos" cols="40" id="LocationId" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Select the Jabber number you wish to update" (change)='hidebusinessjust(selectcos.value)' tabindex="1"
                                        #selectcos ngModel>
                          <option value="">Select Class of Service</option>
                          <option name="select_cos" *ngFor='let cos of classOfService' [value]='cos' selected>
                            {{ cos }}</option>
                        </select>
                                    </div>
                                </td>
                            </tr>
                         
                        

                            <tr valign="top" [hidden]="businessJust">
                                <td colspan="2" width="46%" height="10"><label for="LocationId" class="ds-text-capitalize">  Business Justification</label>
                                    <span class="ds-text-contextual-red-2">*</span>
                                </td>
                                <td width="54%" height="10">
                                    <div class="ds-input-container">
                                        <textarea name="businessjustification" tabindex="3" id="ch" class="ds-input" style="width:300px !important;" title="Contact FirstLine Manager for Charge Department Code" rows="2" cols="40" ngModel=""></textarea></div>
                                </td>
                            </tr>

                </tbody>
            </table>
            <br>
            <div class=" ds-panel ds-col-12 "></div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" tabindex="32765"
                value="Back" (click)="backClick()">
            </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2" *ngIf="warninginfo==false && warninginfosnow==false">
              <input type="submit" name="next"
                class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" tabindex="32767" value="Next">
            </span>
                    </div>
                </div>
            </div>
        </form>





        <form [hidden]='isReviewForm' #formData='ngForm'>

            <b>Update Jabber Request</b>

            <div class="ds-pad-t-0_5 ds-pad-b-1">
                By submitting this provisioning request, you are providing express written consent for IBM to process the Personal Information (PI) that you have provided as part of the provisioning process. </div>
            <div class=" ds-panel ds-col-12 "></div>

            <app-steps [step]="servicesData.step+1" [isSelf]="reqFor" [hideSteps]="" (previousStep)="previousStep($event)"></app-steps>


            <h2 id="h22" class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 ">Review Details</h2>

            <table id="t2" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top" >
                        <td colspan="2" width="46%" height="10"><label for="LocationId" class="ds-text-capitalize"> Jabber Number </label>

                        </td>
                        <td width="54%" height="10">
                            <label>{{jabberDisp}}</label>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%" height="10"><label for="current_vm" class="ds-text-capitalize"> Current Voice Mail </label>
                        </td>
                        <td width="54%" height="10">
                                <span >{{vm_disp}}</span>
                        </td>
                    </tr>

                    <tr valign="top">
                        <td colspan="2" width="46%" height="10"><label for="current_cos" class="ds-text-capitalize"> Current Class of Service (COS) </label>
                        </td>
                        <td width="54%" height="10">
                                <span >{{cos_disp}}</span>
                        </td>
                    </tr>

                    <tr valign="top" *ngIf="this.new_vm_disp">
                        <td colspan="2" width="46%" height="10"><label for="LocationId" class="ds-text-capitalize">New Voice Mail</label>
                        </td>
                        <td width="54%" height="10">
                            <label>{{new_vm_disp}}</label>
                        </td>
                    </tr>

                    <tr valign="top" *ngIf="this.new_cos_disp">
                        <td colspan="2" width="46%" height="10"><label for="LocationId" class="ds-text-capitalize">New Class of Service</label>
                        </td>
                        <td width="54%" height="10">
                            <label>{{new_cos_disp}}</label>
                        </td>
                    </tr>

                    <tr valign="top" *ngIf="this.bj_disp">
                        <td colspan="2" width="46%" height="10"><label for="LocationId" class="ds-text-capitalize">Business Justification</label>
                        </td>
                        <td width="54%" height="10">
                            <label>{{bj_disp}}</label>
                        </td>
                    </tr>

                </tbody>
            </table>
            <br>
            <div class=" ds-panel ds-col-12 "></div>
            <!-- Dark Background -->
            <div class="ds-loader-container" *ngIf="this.isSpinnerVisible">
                <div class="ds-loader-header">Your request submission is in progress.Do not Go back or Refresh the page.
                </div>
                <div class="ds-loader" role="alert" aria-busy="true" aria-label="Your request is being submitted. Do not refresh or go back."></div>
            </div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" tabindex="32765"
                value="Back" (click)='BackButton()' *ngIf="this.isButtonVisible">
            </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
              <input type="submit" name="next"
                class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" tabindex="32767" value="Submit" (click)="submit_snow()" *ngIf="this.isButtonVisible">
            </span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>