<app-topcountryframe></app-topcountryframe>


<div class=" ds-panel ds-col-12"></div>

<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData"></app-navigation>
    </div>
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
        <form [hidden]="isEntryFormEmea" (submit)='entryDetailsEMEA(formData)' #formData='ngForm'>

            <b translate>servicestitle.Request new Jabber service</b>

            <div class="ds-pad-t-0_5">
                <span translate>Jabberentrydetails.Fieldsasterisk </span>(<span class="ds-text-contextual-red-2">*</span>) <span translate>Jabberentrydetails.arerequired</span>
            </div><br>
            <!-- <div class="ds-hr-thick ds-mar-b-1_5"></div> -->
            <div class="ds-panel ds-col-12"></div>

            <app-steps [step]="servicesData.step" [isSelf]="reqFor" [hideSteps]=""></app-steps>

            <h2 id="h22" class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-left-0_5 " translate>Jabberentrydetails.EmployeeEntryDetails</h2>
            <br>

            <table id="tabsubform" width="100%">
                <tbody>
                    <tr valign="top">
                        <td colspan="2" width="47%">
                            <label for="LocationId" translate>Jabbernewtrans.JabberLocation</label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="53%">
                            <div class="ds-dropdown ds-secondary" tabindex="0" role="menu" aria-label="w3DS Dropdown1">
                            <select name="Location" rows="2" cols="40" id="LocationId" class="ds-title ds-align-text-left"
                                style="width:300px !important; text-transform: uppercase;" title="Location" #location (change)='selectedLocation(location.value)' ngModel>
                                <option value ="" >Select Location</option>
                                <option name="Location" *ngFor='let fl_location of locationlist' [value]='fl_location'>
                                {{ fl_location }} </option>
                            </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
        </table>

        <table width="100%" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <!-- <tr valign="top"><td colspan="3" width="100%" height="10"><p id="war11" class="ds-col-xs-12 ds-alert ds-warning" style="display: none;">
            </p></td></tr> -->

            <tr valign="top"><td width="5%"><br><br></td><td width="41%"><img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0"></td><td width="53%"><img src="/icons/ecblank.gif" alt="" width="1" height="1" border="0"></td></tr>
            </tbody>
        </table>
            <br><div class=" ds-panel ds-col-12 "></div>

            <div class="ds-row ds-grid ds-mar-b-5 ds-pad-r-1">
                <div class="ds-col-lg-2 ds-push-lg-8">
                    <button type="button" (click)="backClick()" class="ds-button ds-secondary ds-no-expand ds-text-align-center ds-mar-b-0" style="width: 100%" translate>employeeinfotrans.BACK</button>
                </div>
                <div class="ds-col-lg-2 ds-push-lg-8">
                    <button type="submit" class="ds-button ds-primary ds-pad-l-0 ds-pad-r-0 ds-text-align-center" style="width: 100%" translate>employeeinfotrans.NEXT</button>
                </div>
                
            </div>
        </form>
        
        <form [hidden]="isReviewFormEmea">
            <b translate>servicestitle.Request new Jabber service</b>

            <div class = "ds-pad-t-0_5" translate>
                Jabbernewtrans.pleasesubmittostart
            </div><br>
            
            <div class="ds-panel ds-col-12"></div>

            <!-- <app-steps [step]="servicesData.step" [isSelf]="reqFor" [hideSteps]="" (previousStep)="previousStep($event)"></app-steps> -->
            <app-steps [step]="servicesData.step+1" [isSelf]="reqFor" [hideSteps]="" (previousStep)="previousStep($event)"></app-steps>

            <h2 id="h22" class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-left-0_5 " translate>employeeinfotrans.EmployeeEntryDetails</h2>
            <br>


            <table id="tabsubform" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td colspan="2" width="47%">
                            <label for="LocationId" translate>Jabbernewtrans.JabberLocation</label>
                        </td>
                        <td width="103%">{{selectedLocationEmea}}</td>
                    </tr>
                </tbody>
            </table>

            <br><br>
            
            <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=errorinfo><p></p>
                <p translate>Jabbernewtrans.opps</p><p>
            </p></div>
            
            <div class=" ds-panel ds-col-12 "></div>
              <!-- Dark Background -->
            <div class="ds-loader-container" *ngIf="this.isSpinnerVisible">
                <div class="ds-loader-header" translate>Jabberentrydetails.Submissioninprogress</div>
                <div class="ds-loader" role="alert" aria-busy="true" aria-label="Your request is being submitted. Do not refresh or go back."></div>
            </div>
                <!-- <div class="ds-row ds-grid ds-mar-b-5 ds-pad-r-1">
                    <div class="ds-col-lg-2 ds-push-lg-8">
                        <button type="button" class="ds-button ds-secondary ds-no-expand 
                        ds-text-align-center ds-mar-b-0" style="width: 100%" (click)='BackButton()'>BACK</button>
                    </div>
                    <div class="ds-col-lg-2 ds-push-lg-8">
                        <button type="submit" class="ds-button ds-primary ds-pad-l-0 ds-pad-r-0 
                        ds-text-align-center" style="width: 100%">SUBMIT</button>
                    </div>
                    
                </div> -->

                <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                    <div class="ds-tray-fit-content ds-mar-b-0">
                        <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                            <span class="ds-pad-l-4" id="button1">
                                <input type="button" name="back" class="ds-button ds-secondary 
                                ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" value=" {{'employeeinfotrans.BACK'|translate}}" 
                                (click)='BackButton()' *ngIf="this.isButtonVisible && !errorinfo">
                            </span>
                            <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
                                <input type="submit" name="submit" class="ds-button ds-width-auto 
                                ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" value="{{'employeeinfotrans.SUBMIT1'|translate}}" (click)="submit_snow()"
                                 *ngIf="this.isButtonVisible && !errorinfo">
                            </span>
                                <input type="button" name="exit" *ngIf="errorinfo"type="button" 
                                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 
                                ds-pad-r-3" [routerLink]="['/jabberservices']" 
                                [queryParams]="{country:pcode,service:service}" value="{{ 'alerttranslation.EXITREQUEST'| translate}}">            
                              
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>