<app-topcountryframe></app-topcountryframe>
<div class=" ds-panel ds-col-12"></div>


<div class="ds-row ds-pad-b-1">
    <div class="ds-col-sm-5 ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData"></app-navigation>
    </div>
    <div class="ds-row ds-pad-t-2 ds-pad-b-1">
        <div class="ds-col-4">
        </div>
        <div class="ds-col-6">
            <b>Request new Jabber service</b>
            <div class="ds-pad-b-1">This request can be submitted for yourself, or on behalf of another employee. Fields
                marked with an asterisk (<span class="ds-text-contextual-red-2">*</span>) are required.</div>
            <div class="ds-hr-thick ds-mar-b-1_5"></div>
            <div class="ds-panel-row">
                <div>
                    <span class="ds-tooltip ds-hover" id="tooltip-demo1">
                        <span class="ds-tooltip-trigger ds-text-contextual-blue-5" aria-label="help" tabindex="0">STEP
                            1</span>
                        <div class="ds-tooltip-content ds-text-neutral-7" id="tooltip-demo1-content" role="tooltip">
                            Employee Search</div>
                    </span>
                    <span class="ds-pad-l-r-1 ds-text-contextual-blue-5">-----&gt;</span>
                    <span class="ds-tooltip ds-hover" id="tooltip-demo1">
                        <span class="ds-tooltip-trigger ds-text-contextual-blue-5" aria-label="help" tabindex="0">STEP
                            2</span>
                        <div class="ds-tooltip-content" id="tooltip-demo1-content" role="tooltip">Employee Information
                        </div>
                    </span>
                    <span class="ds-pad-l-r-1 ds-text-contextual-blue-5">-----&gt;</span>
                    <span class="ds-tooltip ds-hover ds-text-align-center" id="tooltip-demo1">
                        <span class="ds-tooltip-trigger ds-text-contextual-blue-5" aria-label="help" tabindex="0">STEP
                            3</span>
                        <div class="ds-tooltip-content" id="tooltip-demo1-content" role="tooltip">Employee Entry Details
                        </div>
                    </span>
                    <span class="ds-pad-l-r-1 ds-text-contextual-blue-5">-----&gt;</span>
                    <span class="ds-tooltip ds-hover ds-text-align-center" id="tooltip-demo1">
                        <span class="ds-tooltip-trigger ds-text-contextual-blue-5" aria-label="help" tabindex="0">STEP
                            4</span>
                        <div class="ds-tooltip-content" id="tooltip-demo1-content" role="tooltip">Review Details</div>
                    </span>
                </div>
            </div>
            <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-padding-left-0_5 ">Employee Search</h2>

            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td>Who is this request for</td>
                        <td>
                            <div class="ds-input-container">
                                <div class="ds-input-radio-group ds-flex" role="group"
                                    aria-labelledby="horizontal-radio-buttons-example">
                                    <div class="ds-input-radio ds-mar-r-1">
                                        <input type="radio" name="radio-group2" id="radio4" class="ds-input"
                                            value="option4">
                                        <div class="ds-input-control"></div>
                                        <label for="radio4">Myself</label>
                                    </div>
                                    <div class="ds-input-radio">
                                        <input type="radio" name="radio-group2" id="radio5" class="ds-input"
                                            value="option5">
                                        <div class="ds-input-control"></div>
                                        <label for="radio5">Another Employee</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <label for="OriginatorNameId">Name</label>
                        </td>
                        <td colspan="2">
                            Kankanampati,Manisha
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ds-pad-t-2">
                                <label for="OriginatorNameId">Serial Number</label>
                            </div>
                        </td>
                        <td colspan="2">
                            <div class="ds-pad-t-2">000RQU744</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div class="ds-pad-t-2">
                                <label for="OriginatorNameId">Employee Serial Number</label>
                                <span class="ds-text-contextual-red-2">*</span>
                            </div>
                        </td>
                        <td colspan="2">
                            <div class=" row ds-pad-t-2">
                                <div class="ds-col-4">
                                    <input type="text" class="ds-input">
                                </div>
                                <div class="ds-col-6">
                                    <span style="color:#808080">(eg 012789)</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="ds-hr-thick ds-mar-t-1_5"></div>

            <div class="ds-row ds-mar-t-b-3_5">
                <div
                    class="ds-col-xs-10 ds-col-md-5 ds-col-lg-2 ds-offset-md-3 ds-offset-lg-6 ds-push-md-4 ds-push-lg-4">
                    <button (click)="submit()" class="ds-button ds-primary ds-pad-l-0 ds-pad-r-0 ds-text-align-center"
                        style="width: 100%">NEXT</button>
                </div>
                <div class="ds-col-xs-12 ds-col-md-4 ds-col-lg-3 ds-pull-md-5 ds-pull-lg-1">
                    <button class="ds-button ds-secondary ds-no-expand ds-text-align-center ds-mar-b-0"
                        style="width: 100%">EXIT REQUEST</button>
                </div>
            </div>
        </div>
    </div>
</div>