<app-topcountryframe></app-topcountryframe>

<div class=" ds-panel ds-col-12"></div>

<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData"></app-navigation>
    </div>
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
        <form #formData="ngForm" (ngSubmit)="onSubmit(formData)">
            <b>Request new Jabber service</b>
            <div class="ds-pad-b-1">This request can be submitted for yourself, or on behalf of another employee. Fields marked with an asterisk (<span class="ds-text-contextual-red-2">*</span>) are required.</div>
            <div class="ds-hr-thick ds-mar-b-1_5"></div>

            <app-steps [step]="servicesData.step" [isSelf]="hideDisserial" [hideSteps]="notvalid"></app-steps>

            <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-padding-left-0_5 ">Employee Search</h2>

            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td>Who is this request for</td>
                        <td>
                            <div class="ds-input-container">
                                <div class="ds-input-radio-group ds-flex" role="group" aria-labelledby="horizontal-radio-buttons-example">
                                    <div class="ds-input-radio ds-mar-r-1">
                                        <input type="radio" name="radio-group2" id="radio4" class="ds-input" value="myself" [(ngModel)]="radioAction" (change)="onRequestForChange()">
                                        <div class="ds-input-control"></div>
                                        <label for="radio4">Myself</label>
                                    </div>
                                    <div class="ds-input-radio">
                                        <input type="radio" name="radio-group2" id="radio5" class="ds-input" value="anotheremployee" [(ngModel)]="radioAction" (change)="onRequestForChange()">
                                        <div class="ds-input-control"></div>
                                        <label for="radio5">Another Employee</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="hideDisserial">
                        <td>
                            <label for="OriginatorNameId">Name</label>
                        </td>
                        <td colspan="2">
                            {{this.fullName}}
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div *ngIf="hideDisserial" class="ds-pad-t-2">
                                <label for="OriginatorNameId">Serial Number</label>
                            </div>
                        </td>
                        <td colspan="2">
                            <div *ngIf="hideDisserial" class="ds-pad-t-2">{{this.ccode}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <div *ngIf="hideDisTextBox" class="ds-pad-t-2">
                                <label for="OriginatorNameId">Employee Serial Number</label>
                                <span class="ds-text-contextual-red-2">*</span>
                            </div>
                        </td>
                        <td colspan="2">
                            <div *ngIf="hideDisTextBox" class=" row ds-pad-t-2">
                                <div class="ds-col-4">
                                    <input maxlength="6" name="employeeSerial" ngModel type="text" class="ds-input" ngModel={{empno}}>
                                </div>
                                <div class="ds-col-6">
                                    <span style="color:#808080">(eg 012789)</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <p class="ds-col-xs-12 ds-alert ds-warning" id="error" *ngIf=notvalid>
                <font color="black">There is no record of an IBM employee with the serial number {{employeeSerial.substr(0,6)}} available from BluePages</font>
            </p>
            <div class="ds-hr-thick ds-mar-t-1_5"></div>
            <div class="ds-loader-container" *ngIf=showloader>
                <div class="ds-loader-header">Please wait data is loading !</div>
                <div class="ds-loader" role="alert" aria-busy="true" aria-label="Custom text goes here"></div>
            </div>

            <div class="ds-row ds-mar-t-b-3_5">
                <div class="ds-col-xs-12 ds-col-md-5 ds-col-lg-2 ds-offset-md-3 ds-offset-lg-6 ds-push-md-4 ds-push-lg-4">
                    <button *ngIf=!showloader type="submit" class="ds-button ds-primary ds-pad-l-0 ds-pad-r-0 ds-text-align-center" style="width: 100%">NEXT</button>
                </div>
                <div class="ds-col-xs-12 ds-col-md-4 ds-col-lg-3 ds-pull-md-5 ds-pull-lg-1">
                    <button *ngIf=!showloader type="button" class="ds-button ds-secondary ds-no-expand ds-text-align-center ds-mar-b-0" style="width: 100%" [routerLink]="['/jabberservices']" [queryParams]="{country:pcode}">EXIT REQUEST</button>
                </div>
            </div>


        </form>

    </div>
</div>