<app-topcountryframe [ngClass]="{'disabled':showloader==true}"></app-topcountryframe>

<div class=" ds-panel ds-col-12"></div>

<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData" [ngClass]="{'disabled':showloader==true}"></app-navigation>
    </div>
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
        <form #formData="ngForm" (ngSubmit)="onSubmit(formData)">

            <br><b translate>servicestitle.{{title}}</b>

            <div class="ds-pad-t-0_5 ds-padding-bottom-1" *ngIf="algMobile">
                <div class="ds-col-xs-12 ds-alert ds-warning">
                    <p>Avis de confidentialité</p>
                </div>
                <p>En vous inscrivant au programme géré par l'entreprise pour les services mobiles (CMP), vous autorisez le bureau IBM CMP, le fournisseur de services mobiles et d'autres fournisseurs de services mobiles sous contrat avec IBM à saisir des
                    informations sur votre téléphone mobile. services mobiles que vous utilisez. Ces informations sont utilisées dans l'intérêt légitime d'IBM, telles que la gestion des services et des coûts d'IBM, le respect des conditions contractuelles
                    d'IBM et des opérateurs mobiles et la projection de la demande de terminaux et de services mobiles pour mieux répondre aux besoins des employés. Pour des raisons techniques et commerciales, ces informations peuvent être transférées
                    dans n'importe quel pays où IBM est présent et aux fournisseurs de services si nécessaire. IBM a mis en place des politiques et des procédures destinées à protéger les informations sur ses employés dans le pays où ils sont stockés
                    ou traités, conformément aux Directives pour la protection des informations sur les employés d'IBM.

                    <br><br>Vous reconnaissez également qu'IBM et ses fournisseurs de services peuvent:
                    <br>• collectez les données d'identification de votre appareil mobile, telles que le numéro de série de l'appareil, l'identifiant de la carte SIM et le numéro de téléphone, pour permettre à IBM d'identifier de manière unique l'appareil
                    et la ligne de service
                    <br>• collecter vos informations de coûts mobiles pour gérer les coûts
                    <br>• collectez vos informations de consommation de services vocaux et de données, y compris SMS et MMS, pour valider les coûts et permettre à IBM de négocier avec les fournisseurs de services pour modifier la demande
                    <br>• vous contacter directement au sujet du service et de votre utilisation du service, au besoin
                    <br>• recueillir des renseignements détaillés sur les appels aux fins de facturation fractionnée et de conformité aux exigences de la vérification fiscale. Les détails de l'appel comprennent des données telles que la date et l'heure
                    de l'appel, la durée de l'appel, les frais de communication, le type d'appel (national ou international), les numéros de téléphone des tiers (appelant ou destinataire)

                    <br><br>IBM ne va pas:
                    <br>• capturer les détails des conversations vocales ou textuelles sur votre appareil mobile
                    <br>• suivre l'emplacement géographique de votre appareil mobile
                </p>
            </div>

            <div class="ds-pad-t-0_5 ds-pad-b-1" translate>Jabbernewtrans.Reqnewservice <span>(<span class="ds-text-contextual-red-2">*</span>)</span> <span translate> Jabbernewtrans.arerequired</span></div>
            <div class="ds-hr-thick ds-mar-b-1_5"></div>

            <app-steps [step]="servicesData.step" [isSelf]="hideDisserial" [hideSteps]="notvalid" [ngClass]="{'disabled':showloader==true}"></app-steps>

            <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-padding-left-0_5 " translate>Jabbernewtrans.EmployeeSearch</h2>

            <table width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td width="41%" translate>Jabbernewtrans.requestfor</td>
                        <td>
                            <div class="ds-input-container">
                                <div class="ds-input-radio-group ds-flex" role="group" aria-labelledby="horizontal-radio-buttons-example">
                                    <div class="ds-input-radio ds-mar-r-1">
                                        <input type="radio" name="radio-group2" id="radio4" class="ds-input" value="myself" [(ngModel)]="radioAction" (change)="onRequestForChange()" (click)="hidedata()">
                                        <div class="ds-input-control"></div>
                                        <label for="radio4" translate>Jabbernewtrans.Myself</label>
                                    </div>
                                    <div class="ds-input-radio">
                                        <input type="radio" name="radio-group2" id="radio5" class="ds-input" value="anotheremployee" [(ngModel)]="radioAction" (change)="onRequestForChange()" (click)="hidedata()">
                                        <div class="ds-input-control"></div>
                                        <label for="radio5" translate>Jabbernewtrans.AnotherEmployee</label>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="hideDisserial">
                        <td width="41%">
                            <label for="OriginatorNameId" translate>Jabbernewtrans.Name</label>
                        </td>
                        <td colspan="2">
                            {{this.fullName}}
                        </td>
                    </tr>
                    <tr>
                        <td width="41%">
                            <div *ngIf="hideDisserial" class="ds-pad-t-1">
                                <label for="OriginatorNameId" translate>Jabbernewtrans.SerialNumber</label>
                            </div>
                        </td>
                        <td colspan="2">
                            <div *ngIf="hideDisserial" class="ds-pad-t-1">{{this.ccode}}</div>
                        </td>
                    </tr>
                    <tr>
                        <td width="41%">
                            <div *ngIf="hideDisTextBox">
                                <label for="OriginatorNameId" translate>Jabbernewtrans.EmployeeSerialNumber</label>
                                <span class="ds-text-contextual-red-2">*</span>
                            </div>
                        </td>
                        <td colspan="2">
                            <div *ngIf="hideDisTextBox">
                                <div class="ds-col-4">
                                    <input maxlength="6" name="employeeSerial" ngModel type="text" class="ds-input" ngModel={{empno}} (click)="hidedata()">
                                </div>
                                <div class="ds-col-6 ds-pad-t-0_5 ds-pad-l-0_3">
                                    <span style="color:#808080" translate>Jabbernewtrans.forexample</span>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr *ngIf="hideDisTextBox && showCountryCode">
                        <td>
                            <div class="ds-pad-t-2">
                                <label for="OriginatorNameId" translate>Jabbernewtrans.CountryCode</label>
                                <span class="ds-text-contextual-red-2">*</span>
                            </div>
                        </td>
                        <td colspan="2">
                            <div class=" row ds-pad-t-2">
                                <div class="ds-col-4">
                                    <div class="ds-dropdown ds-secondary" tabindex="0" role="menu" aria-label="w3DS Dropdown1">
                                        <select name="selectedCountry" rows="2" cols="40" id="sub-Countries" class="ds-title ds-align-text-left" (click)="hidedata()" style="width:230px !important; text-transform: uppercase;" title="CountryCode" tabindex="1" [(ngModel)]="selectedCountry">	
                                            <option value ="Select One" translate>Jabbernewtrans.SelectOne</option>	
                                            <option *ngFor="let subCountry of subCountries" [value]='subCountry'>{{ subCountry }}</option>	
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <h2 *ngIf="algMobile" class="ds-bg-neutral-2 ds-text-neutral-7 ds-padding-left-0_5 " translate>Jabbernewtrans.Declaration</h2>

            <div class="ds-input-container" *ngIf="algMobile">
                <div class="ds-input-checkbox-group" role="group" aria-labelledby="basic-checkboxes-example">
                    <div class="ds-input-checkbox">
                        <input type="checkbox" id="checkbox1" name="checked" class="ds-input" title="Update requested for" (change)='ackMobile()' [(ngModel)]="checked" [ngModelOptions]="{standalone: true}">
                        <div class="ds-input-control"></div>
                        <label for="checkbox1"></label>
                        <span><span class="ds-text-contextual-red-2">*</span></span> <span translate>I have read and comply with the Algeria Mobility Policy, available <a href="https://apps.na.collabserv.com/wikis/home?lang=en-us#!/wiki/W8d573d8543f3_4106_b81c_623774d0a823/page/Getting%20Started" target="_blank">here</a> and I  acknowledge reading the Privacy Notice.</span>
                    </div>

                </div>
            </div>


            <p class="ds-col-xs-12 ds-mar-t-1 ds-alert ds-warning" id="error" *ngIf="notvalid && !emailblank">
                <font color="black" translate>Jabbernewtrans.norecord <span>{{employeeSerial.substr(0,6)}}</span><span translate=""> Jabbernewtrans.availablefromBluePages</span></font>
            </p>
            <p class="ds-col-xs-12 ds-mar-t-1 ds-alert ds-warning" id="emailblankid" *ngIf="notvalid && emailblank">
                <font color="black" ><span>The E-mail address could not be found in Bluepages for the entered serial number and cannot proceed further. Please try later.</span></font>
            </p>

            <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=errorinfo>
                <p></p>
                <p translate>Jabbernewtrans.opps</p>
                <p>
                </p>
            </div>


            <br>
            <div class=" ds-panel ds-col-12 "></div>
            <div class="ds-loader-container" *ngIf=showloader>
                <div class="ds-loader-header"></div>
                <div class="ds-loader" role="alert" aria-busy="true" aria-label=""> </div>
            </div>

            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1 ds-float-lg-right">
                        <span class="ds-pad-l-4" id="button1">
                            <input *ngIf="!showloader" type="button" name="EXIT REQUEST" class="ds-button ds-secondary 
                            ds-width-auto ds-mar-b-0 ds-pad-l-1 ds-pad-r-1" [routerLink]="['/'+this.exitrouting]" [queryParams]="{country:pcode,service:exitrouting}"
                            value="{{ 'alerttranslation.EXITREQUEST' | translate}}">
                        </span>
                        <span *ngIf="!showloader && !notvalid && !errorinfo && !emailblank" class="ds-pad-l-1 ds-pad-r-1" id="button2">
                            <input type="submit" 
                            name="NEXT" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 

                            ds-pad-r-3" value="{{ 'employeeinfotrans.NEXT' | translate}}">

                        </span>
                    </div>
                </div>

            </div>

            <!-- 

                <div class="ds-row ds-grid ds-mar-t-b-3_5 ds-pad-r-1">
                    <div [ngClass] = "!showloader && !notvalid ?'ds-col-lg-2 ds-push-lg-8':'ds-col-lg-2 ds-push-lg-10'">
                        <span class="ds-pad-l-4" id="button1"></span>
                        <button *ngIf="!showloader" type="button" class="ds-button ds-secondary 
                        ds-no-expand ds-text-align-center ds-mar-b-0" style="width: 500%" 
                        [routerLink]="['/jabberservices']" [queryParams]="{country:pcode,service:service}">
                        EXIT REQUEST</button>
                        </span>
                    </div>
                    <div class="ds-col-lg-2 ds-push-lg-8">
                        <span class="ds-pad-l-4" id="button1"></span>
                        <button *ngIf="!showloader && !notvalid && !errorinfo" type="submit" 
                        class="ds-button ds-primary ds-pad-l-0 ds-pad-r-0 ds-text-align-center" 
                        style="width: 500%">NEXT</button>
                    </span>
                    </div>
                </div>

            
         -->


        </form>

    </div>
</div>