<app-topcountryframe></app-topcountryframe>


<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData"></app-navigation>
    </div>

    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
        <form [hidden]="isEntryForm" (submit)='entryDetails(formData)' #formData='ngForm'>

            <b translate>servicestitle.Fixed Phone - Update Request</b>

            <div class="ds-pad-t-0_5 ds-pad-b-1">
                <span translate *ngIf="warninginfo==false && warninginfosnow==false">Jabberentrydetails.Fieldsasterisk</span> (<span class="ds-text-contextual-red-2">*</span>) <span translate>Jabberentrydetails.arerequired</span>
            </div>

            <div class=" ds-panel ds-col-12 "></div>

            <app-steps [step]="servicesData.step" [isSelf]="reqFor" [formData]="formData" [cnum]="cnum" [FixedPhoneData]="FixedPhoneData" [hideSteps]="hideSteps"></app-steps>
            <h2 id="h22" class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 " translate>employeeinfotrans.EmployeeEntryDetails</h2>

            <table id="t1" width="100%" height="10" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td width="50%">
                            <label for="Sear class=" translate>fixedphonenew.MACAddressorPhoneNumber</label>
                            <span class="ds-text-contextual-red-2"> *</span>
                        </td>
                        <td width="50%">
                            <div class="ds-col-12">
                                <div class="ds-row">
                                    <div class="ds-col-12">
                                        <div class="ds-row">
                                            <div class="ds-col-7">
                                                <input name="IdNum1" [(ngModel)]="currentMacOrPhone" value="" class="ds-input" style="width:180px !important;" maxlength="15" title="{{ 'tooltips.cMACAddressorPhoneNumber' | translate}}" (click)='onSearch()'>
                                            </div>
                                            <div class="ds-col-5 ds-pad-l-1">
                                                <div>
                                                    <input type="button" class="ds-button ds-secondary ds-width-auto 
                                                ds-margin-bottom-0 ds-pad-l-1 ds-pad-r-1" (click)='OnSearchClick()' name="SEARCH" value="{{ 'fixedphonenew.SEARCH' | translate}}">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr valign="top" *ngIf='showerrormessage'>
                        <td colspan="2" width="100%">
                            <span id="err1"><br><br>
                            <div class="ds-col-xs-12 ds-alert ds-warning">
                                <p translate>fixedphonenew.norecordfoundformac</p>
                            </div>
                        </span>
                        </td>
                    </tr>
                    <tr valign="top" *ngIf='showSearch'>
                        <td width="50%"><br>
                            <label for="sear" class="" translate>fixedphonenew.CurrentMACAddress </label>
                        </td>
                        <td width="50%"><br>{{currentMac}}
                        </td>
                    </tr>

                    <tr valign="top" *ngIf='showSearch'>
                        <td width="50%"><br>
                            <label for="sear" class="" translate>fixedphonenew.CurrentPhoneNumber</label>
                        </td>
                        <td width="50%"><br>{{currentPhone}}
                        </td>
                    </tr>

                    <tr valign="top" *ngIf='showSearch && showforJPUpdate'>
                        <td width="50%"><br>
                            <label for="sear" class="" translate>fixedphonenew.CurrentLocation</label>
                        </td>
                        <td width="50%"><br>{{currentloc}}</td>
                    </tr>

                    <tr valign="top" *ngIf='showSearch'>
                        <td width="50%"><br>
                            <label for="sear" class="" translate>fixedphonenew.CurrentDescription</label>
                        </td>
                        <td width="50%"><br>{{currentdesc}}</td>
                    </tr>

                    <tr valign="top" *ngIf='showSearch && showforNZJPUpdate'>
                        <td width="50%"><br>
                            <label for="sear" class="" translate>fixedphonenew.CurrentModel</label>
                        </td>
                        <td width="50%"><br>{{currentmodel}}</td>
                    </tr>

                    <tr valign="top" *ngIf='showSearch'>
                        <td width="50%"><br>
                            <label for="up" class="" translate>fixedphonenew.UpdateRequiredfor</label>
                            <span class="ds-text-contextual-red-2"> *</span>
                        </td>
                        <td width="50%"><br>
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select name="UpdateReq" id="voicetype" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="{{ 'tooltips.UpdateRequiredFor' | translate}}" #device (change)='updateFor(device.value)' [(ngModel)]='selected_device'
                                    ngModel>
                                <option value="" translate>Jabbernewtrans.SelectOne</option>
                                <option *ngFor='let device of updateRequiredFor' [value]='device'>{{ device }}</option>
                            </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>



            <table id="t3" width="100%" height="10" cellspacing="0" cellpadding="0" *ngIf='showSearch' border="0">
                <tbody>
                    <tr valign="top" *ngIf='showformodel && showforNZJPUpdate'>
                        <td width="50%">
                            <span id="modelid"><br>
                            <label for="modelid" translate>fixedphonenew.NewPhonemodel</label>
                            <span class="ds-text-contextual-red-2"></span>
                            </span>
                        </td>
                        <td width="50%">
                            <div id="model1" class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1" (change)="checkModel(newModel)"><br>
                                <select name="NewModel" rows="2" cols="40" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="{{ 'tooltips.PhoneModel'| translate}}" [(ngModel)]='newModel'>
                                <option value="" translate >Jabbernewtrans.SelectOne</option>
                                <option name="NewModel"  *ngFor='let model of models' [value]='model' >{{ model }}</option>
                            </select>
                            </div>
                        </td>
                    </tr>

                    <tr valign="top" *ngIf='showformacadd'>
                        <td width="50%" class="ds-pad-t-1 ds-pad-b-2">
                            <label class="" translate>fixedphonenew.NewMACAddress<span class="ds-text-contextual-red-2"> *</span></label>
                        </td>
                        <td width="50%" class="ds-pad-t-1 ds-pad-b-2">
                            <input name="MAC1" value="" class="ds-input" style="width:300px !important;" title="{{ 'tooltips.NewMACAddress'| translate}}" maxlength="12;" [(ngModel)]="newMacAddress">
                            <p translate>fixedphonenew.NoteCombination</p>
                        </td>
                    </tr>

                    <tr valign="top" *ngIf='showforNewDesc'>
                        <td width="50%" class="ds-pad-t-1 ds-pad-b-1">
                            <label for="descn" id="desc1" class="" translate>fixedphonenew.NewDescriptiontoUpdate
                            <span class="ds-text-contextual-red-2"> *</span></label>
                        </td>
                        <td width="50%" class="ds-pad-t-1 ds-pad-b-1">
                            <input name="Newdesc" value="" id="desc" class="ds-input " style="width:300px !important;" title="{{ 'tooltips.NewDescription'| translate}}" maxlength="30;" [(ngModel)]='newDescription'><br>
                        </td>
                    </tr>

                    <tr valign="top" *ngIf='showforrsn'>
                        <td width="50%">
                            <label class="" translate>fixedphonenew.ReasonforUpdation<span class="ds-text-contextual-red-2"> *</span></label>
                        </td>
                        <td width="50%">
                            <textarea name="Comments" class="ds-input " style="width:300px !important;" title="{{ 'tooltips.ReasonforUpdate'| translate}}" rows="2" cols="40" maxlength="500;" [(ngModel)]='reasonForUpdate'>
                        </textarea>
                            <label>Note:Length should not exceed 500</label>
                            <br>
                        </td>
                    </tr>
                </tbody>
            </table>

            <br>
            <div class=" ds-panel ds-col-12 "></div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
                    <input type="button" name="back" class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" 
                    value="{{ 'Jabberentrydetails.Back' | translate}}" (click)="backClick(formData)">
                    </span>
                        <span *ngIf="!hideNextButton" class="ds-pad-l-1 ds-pad-r-1" id="button2">
                    <input type="submit" name="next" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                    value="{{ 'Jabberentrydetails.Next' | translate}}" >
                    </span>
                    </div>
                </div>
            </div>
        </form>

        <form [hidden]="isReviewForm">

            <b translate>servicestitle.Fixed Phone - Update Request</b>


            <div class="ds-pad-b-1" translate>Jabberentrydetails.toprocessPI
            </div>
            <div class="ds-hr-thick ds-mar-b-1_5"></div>

            <app-steps [step]="servicesData.step+1" [isSelf]="reqFor" [hideSteps]="" [formData]="formData" [cnum]="cnum" [FixedPhoneData]="FixedPhoneData" (previousStep)="previousStep($event)">
            </app-steps>

            <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-padding-left-0_5 " translate>Jabberupdate.ReviewDetails</h2>

            <table id="t2" width="100%" cellspacing="8" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1" translate>fixedphonenew.CurrentMACAddress</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.mac}}</td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1" translate>fixedphonenew.CurrentPhoneNumber</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.phoneNunmer}}</td>
                    </tr>
                    <tr valign="top" *ngIf='showforJPUpdate'>
                        <td colspan="2" width="46%">
                            <label for="addId1" translate>fixedphonenew.CurrentLocation</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.Location_final}}</td>
                    </tr>
                    <tr valign="top" *ngIf='showSearch'>
                        <td colspan="2" width="46%">
                            <label for="addId1" translate>fixedphonenew.CurrentDescription</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.Currentdescription}}</td>
                    </tr>
                    <tr valign="top" *ngIf='showforNZJPUpdate'>
                        <td colspan="2" width="46%">
                            <label for="addId1" translate>fixedphonenew.CurrentModel</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.model}}</td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1" translate>fixedphonenew.UpdateRequiredfor</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.device}}</td>
                    </tr>
                    <tr valign="top" *ngIf='showformodel1'>
                        <td colspan="2" width="46%">
                            <label for="addId1" translate>fixedphonenew.NewPhonemodel</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.newModel}}</td>
                    </tr>
                    <tr valign="top" *ngIf='showformacadd'>
                        <td colspan="2" width="46%">
                            <label for="addId1" translate>fixedphonenew.NewMACAddress</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.newMac}}</td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1" translate>fixedphonenew.ReasonforUpdation</label>
                        </td>
                        <td width="54%" style="word-break:break-all;">{{reviewDetailsIndia.justification}}</td>
                    </tr>
                    <tr valign="top" *ngIf='showforNewDesc'>
                        <td colspan="2" width="46%">
                            <label for="addId1" translate>fixedphonenew.NewDescriptiontoUpdate</label>
                        </td>
                        <td width="54%" style="word-break:break-all;">{{reviewDetailsIndia.description}}</td>
                    </tr>

                </tbody>
            </table>
            <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=errorinfo>
                <p></p>
                <p><span translate>Jabbernewtrans.opps</span><a style="color:blue" target="_blank" href="https://w3.ibm.com/help/#/" translate>employeeinfotrans.helpdesk</a><span translate>Jabbernewtrans.reportthismessage</span></p>
                <p>
                </p>
            </div>
            <div class="ds-hr-thick ds-mar-t-1_5"></div>
            <!-- Dark Background -->
            <div class="ds-loader-container" *ngIf="this.isSpinnerVisible">
                <div class="ds-loader-header" translate>Jabberentrydetails.Submissioninprogress</div>
                <div class="ds-loader" role="alert" aria-busy="true" aria-label="Your request is being submitted. Do not refresh or go back."></div>
            </div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
          <input type="button" name="back"
            class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" value="{{ 'Jabberentrydetails.Back' | translate}}"
            (click)='BackButton()' *ngIf="this.isButtonVisible">
        </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
          <input type="submit" name="submit" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
            value="{{ 'employeeinfotrans.SUBMIT1' | translate}}" (click)="submit_snow()" *ngIf="this.isButtonVisible">
        </span>



                    </div>
                </div>
            </div>

        </form>


    </div>

</div>