<a href="https://w3.ibm.com/" id="ds-w3-injectable-nav" data-layout="1" data-height="79" data-breakpoint="md" target="_blank" class="ds-hide-xs ds-display-md-block light md" style="height: 79px; margin-left: 20px;">
    <svg id="w3-nav-full-overlay-injectable-open" width="91px" height="99px" viewBox="0 0 71 99" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
        <defs>
            <polygon id="path-1" points="0.3828125 0.0936521943 0.3828125 61 35.62839 79 71 61 71 0.151757577">
            </polygon>
            <filter x="-22.7%" y="-18.8%" width="145.3%" height="137.7%" filterUnits="objectBoundingBox" id="filter-2">
                <feMorphology radius="1" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                <feGaussianBlur stdDeviation="5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1">
                </feComposite>
                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix"
                    in="shadowBlurOuter1"></feColorMatrix>
            </filter>
            <filter x="-22.7%" y="-24.4%" width="145.3%" height="148.8%" filterUnits="objectBoundingBox" id="filter-3">
                <feMorphology radius="1" operator="dilate" in="SourceAlpha" result="shadowSpreadOuter1"></feMorphology>
                +_ln+
                <feOffset dx="0" dy="0" in="shadowSpreadOuter1" result="shadowOffsetOuter1"></feOffset>
                <feGaussianBlur stdDeviation="5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                <feComposite in="shadowBlurOuter1" in2="SourceAlpha" operator="out" result="shadowBlurOuter1">
                </feComposite>
                <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.5 0" type="matrix"
                    in="shadowBlurOuter1"></feColorMatrix>
            </filter>
        </defs>
        <g id="w3Masthead" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
            <g>
                <g id="Badge">
                    <g id="Path-2">
                        <use id="mobile-filter" fill="black" fill-opacity="1" filter="url(#filter-2)"
                            xlink:href="#path-1"></use>
                        <use id="BadgeFill" fill-rule="evenodd" xlink:href="#path-1"></use>
                    </g><text id="w3" class="masthead-svg__text" ds-heading-4>
                        <tspan x="21" y="40.85">w3</tspan>
                    </text>
                </g>
            </g>
        </g>
    </svg></a>
<div class="header">
    <div class="ds-row ds-shadow-floating ds-margin-bottom-0">
        <div class="ds-col-8 ds-padding-top-0_8 ds-no-gutter ds-float-lg-right ">
            <div class="ds-tray-fit-content ds-margin-bottom-0">
                <a id="home-nav" class="ds-button ds-flat ds-padding-left-2 ds-padding-right-2" (click)="closeDropdown('home-nav')" [routerLink]="['/']">HOME</a>
                <a id="privacy-nav" href="https://w3.ibm.com/w3publisher/global-voice-services/about-gvs/data-privacy" target="_blank" (click)="closeDropdown('privacy-nav')" class="ds-button ds-flat ds-flat ds-padding-left-2 ds-padding-right-2">DATA PRIVACY</a>
                <a id="services-nav" class="ds-button ds-flat ds-padding-left-2 ds-padding-right-2" (click)="closeDropdown('services-nav')" [routerLink]="['/services']" [queryParams]="{country:ccode,service:'services'}" style="cursor:default">SERVICES</a>
                <a id="help-nav" href="https://w3.ibm.com/help/#/article/telephony_gvi_spoe/overview" target="_blank" (click)="closeDropdown('help-nav')" class="ds-button ds-flat ds-flat ds-padding-left-2 ds-padding-right-2">HELP</a>
                <a id="feed-nav" class="ds-button ds-flat ds-padding-left-2 ds-padding-right-2" (click)="closeDropdown('feed-nav')" [routerLink]="['/feedback']">FEEDBACK</a>
                <div id="countryDropdown" class="dropdown">
                    <button (click)="toggleDropdown()" class="dropbtn">CHANGE COUNTRY</button>
                    <div id="countrydropdown" class="dropdown-content">
                        <input type="text" class="ds-input" id="myInput" aria-describedby="search-text" [(ngModel)]="searchText" placeholder="Search.." style="background-image: url('././assets/search.png');background-repeat: no-repeat;background-position:right 20px center; ">
                        <div class="ds-text-align-left ds-pad-t-0_5" *ngFor="let searchResult of searchItems | dropdownsearch: searchText; let i=index">
                            <a (click)="closeDropdown('drop-nav')" [routerLink]="['/services']" [routerLinkActive]="['active']" [queryParams]="{country:searchResult.code,service:'services'}"><img class="ds-border-neutral-5" src={{searchResult.path}} width="25;" height="16;"> {{searchResult.name}}</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>