.dropbtn {
    background-color: white;
    font-size: 16px;
    font-weight: 410;
    font-family: IBMPlexSans, Helvetica Neue, Helvetica, Arial, sans-serif;
    width: 215px;
    color: black;
    padding: 16px;
    border: none;
    cursor: pointer;
}

.dropbtn:hover,
.dropbtn:focus {
    background-color: white;
    color: black;
}

#myInput {
    box-sizing: border-box;
    /* background-image: url('searchicon.png'); */
    background-position: 14px 12px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
}


/* #myInput:focus {
    outline: 1px solid #ddd;
} */

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f6f6f6;
    min-width: 210px;
    /* max-height: 450px; */
    /* border-right: 6px solid #ddd; */
    overflow: auto;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content1 {
    max-height: 350px;
    overflow: auto;
}

.dropdown a:hover {
    background-color: #038AD8;
}

.show {
    display: block;
}

img.a {
    vertical-align: baseline;
}