<app-topcountryframe></app-topcountryframe>


<div class=" ds-panel ds-col-12"></div>
<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData" [ngClass]="{'disabled':isSpinnerVisible==true}"></app-navigation>
    </div>
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
        <form [hidden]="isEntryForm" (submit)='entryDetailsFac(formData)' #formData='ngForm'>

            <b>FAC Code New Request</b>

            <div class="ds-pad-t-0_5 ds-pad-b-1">
                Fields marked with an asterisk (<span class="ds-text-contextual-red-2">*</span>) are required.
            </div>
            <div class=" ds-panel ds-col-12 "></div>

            <app-steps [step]="servicesData.step" [isSelf]="reqFor" [hideSteps]=""></app-steps>


            <h2 id="h22" class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 ">Employee Entry Details</h2>

            <table id="t2" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td colspan="2" width="46%" height="10"><label for="LocationId" class="ds-text-capitalize"> Location</label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="54%" height="10">
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select rows="2" name="Location_1" cols="40" id="LocationId" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Office Location" #location (change)='selectedLocation(location.value)' ngModel>
                                    <option value ="">Select Office Location</option>
                                    <option name="Location_1" *ngFor='let fl_location of camp' [value]='fl_location' >
                    {{ fl_location }}</option>
                </select>
                            </div>
                        </td>
                    </tr>

                    <tr valign="top" [hidden]='hideBuilding'>
                        <td colspan="2" width="46%"><label for="builId" class="ds-text-capitalize"> Campus</label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="54%">
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select name="Buildings" rows="2" cols="40" id="LocationId_1_1" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Campus" [(ngModel)]='campus'>
                                    <option value ="">Select One</option>
                                    <option *ngFor="let fl_campus of build" [value]='fl_campus'>{{ fl_campus }}</option>
                </select>
                            </div>
                        </td>
                    </tr><br>


                    <tr valign="top">
                        <td colspan="2" width="46%"><label for="addId" class="ds-text-capitalize ds-padding-top-2">Funded</label>
                        </td>
                        <td width="54%">
                            <div class="ds-mar-b-1">
                                <div class="ds-input-radio-group">
                                    <label for="radio1" class="ds-input-radio ds-pad-r-1" style="display:inline">
                    <input type="radio" [(ngModel)]="Voice_Type" name="Voice_Type" id="radio1" class="ds-input"
                      value="Yes" (click)='showChargeDepartmentCode()'>
                    <div class="ds-input-control"></div><span class="ds-pad-l-0_5">Yes</span>
                  </label><label for="radio2" class="ds-input-radio ds-pad-r-1" style="display:inline">
                    <input type="radio" [(ngModel)]="Voice_Type" checked name="Voice_Type" id="radio2" class="ds-input"
                      value="No" (click)='hideChargeDepartmentCode()'>
                    <div class="ds-input-control"></div><span class="ds-pad-l-0_5">No</span>
                  </label>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr valign="top" [hidden]='hideDeptCode'>
                        <td colspan="2" width="46%">
                            <div id="d1"><label for="addId" class="ds-text-capitalize ds-pad-t-1">Charge Department
                  Code</label> <span class="ds-text-contextual-red-2">*</span></div>
                        </td>
                        <td width="54%">
                            <div id="d21" class="ds-input-container ">
                                <input name="chargeDepartmentCode" value="" id="d2" class="ds-input" style="width: 300px !important;" title="Charge Department Code" autocomplete="off" ngModel>
                                <div id="Mentor1Div"></div>
                            </div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%"><label for="addId" class="ds-text-capitalize " style="display: inline-block;padding-bottom: 1rem;">Business Unit</label>
                        </td>
                        <td width="54%"><label name='BusinessUnit' style="display: inline-block;padding-bottom: 1rem;" ngModel> {{ employeeInfo.businessUnit}} </label>
                        </td>
                    </tr>

                    <tr valign="top">
                        <td colspan="2" width="46%"><label for="DeptID" class="ds-text-capitalize " style="display: inline-block;padding-bottom: 1rem;">Department</label>
                        </td>
                        <td width="54%"><label name='DeptID' style="display: inline-block;padding-bottom: 1rem;" ngModel> {{ employeeInfo.department}} </label>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="50%"><br>
                            <label for="LocationId" class=""> Authorization Level</label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="50%"><br>
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select name="authLevel" rows="2" cols="40" id="authLevel" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Authorization Level" #authLevel ngModel>
                                 <option value ="">Select Authorization Level</option>
                                 <option>Local</option>
                                 <option>STD</option>
                                 <option>ISD</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="50%"><br>
                            <label for="LocationId" class=""> FAC Code Type</label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="50%"><br>
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select name="Fac_Type" rows="2" cols="40" id="Fac_Type" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="FAC Code Type" #facType (change)="FacCodeType(facType.value)" ngModel>
                                    <option value="">Select FAC Code Type</option>
                                    <option>Temporary</option>
                                    <option>Permanent</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr valign="top" [hidden]="hideValidity">
                        <td colspan="2" width="50%"><br>
                            <label for="LocationId" class=""> Validity</label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="50%"><br>
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select name="validity" rows="2" cols="40" id="validity" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Validity" #validity ngModel>
                                    <option value="">Select Validity</option>
                                    <option>7 days</option>
                                    <option>30 days</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr valign="top">
                        <td colspan="2" width="50%"><br>
                            <label for="comments" class="">Business Justification <span class="ds-text-contextual-red-2"> *</span></label>
                        </td>
                        <td width="50%"><br>
                            <textarea name="Comments" id="JustificationId" class="ds-input " style="width:300px !important;" title="Buisness Justification" rows="2" cols="40" ngModel></textarea>
                        </td>
                    </tr>
                </tbody>
            </table>

            <br>
            <div class=" ds-panel ds-col-12 "></div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                value="BACK" (click)="backClick()">
            </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
              <input type="submit" name="next" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                value="NEXT">
            </span>
                    </div>
                </div>
            </div>
        </form>

        <form [hidden]="isReviewForm">

            <b>FAC Code New Request</b>


            <div class="ds-pad-b-1">By submitting this provisioning request, you are providing express written consent for IBM to process the Personal Information (PI) that you have provided as part of the provisioning process.
            </div>
            <div class="ds-hr-thick ds-mar-b-1_5"></div>

            <app-steps [step]="servicesData.step+1" [isSelf]="reqFor" [hideSteps]="" (previousStep)="previousStep($event)"></app-steps>


            <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 ">Review Details</h2>

            <table id="t2" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td colspan="2" width="46%" height="10">
                            <label for="addId1">Location</label>
                        </td>
                        <td width="54%" height="10">{{reviewDetailsIndia.officeLocation}}</td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Campus</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.campus}}</td>
                    </tr>
                </tbody>
            </table>

            <table id="t1" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Funded</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.funded}}</td>
                    </tr>

                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label [hidden]="hideDeptCode" for="addId1">Charge Department Code</label>
                        </td>
                        <td [hidden]="hideDeptCode" width="54%">{{reviewDetailsIndia.chargeDepartmentCode}}</td>
                    </tr>

                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Business Unit</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.businessUnit}}</td>
                    </tr>

                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Department</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.Department_number}}</td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Authorization Level</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.authLevel}}</td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">FAC Code Type</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.Fac_Type}}</td>
                    </tr>
                    <tr [hidden]="hideValidity" valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Validity</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.validity}}</td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Business Justification</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.Comments}}</td>
                    </tr>
                </tbody>
            </table>

            <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=errorinfo>
                <p></p>
                <p>Opps! Some thing went worng.Please try again latter.</p>
                <p>
                </p>
            </div>

            <div class="ds-hr-thick ds-mar-t-1_5"></div>

            <!-- Dark Background -->
            <div class="ds-loader-container" *ngIf="this.isSpinnerVisible">
                <div class="ds-loader-header">Your request submission is in progress.Do not Go back or Refresh the page.</div>
                <div class="ds-loader" role="alert" aria-busy="true" aria-label="Your request is being submitted. Do not refresh or go back."></div>
            </div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" value="BACK"
                (click)='BackButton()' *ngIf="this.isButtonVisible && !errorinfo">
            </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
              <input type="submit" name="submit" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                value="SUBMIT" (click)="submit_snow()" *ngIf="this.isButtonVisible && !errorinfo">
            </span>
                        <input type="button" name="exit" *ngIf="errorinfo" type="button" class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" [routerLink]="['/jabberservices']" [queryParams]="{country:pcode,service:service}" value="EXIT REQUEST">





                    </div>
                </div>
            </div>


        </form>


    </div>
</div>