<app-topcountryframe></app-topcountryframe>

<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData" [ngClass]="{'disabled':isSpinnerVisible==true}"></app-navigation>
    </div>
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
        <form [hidden]="isEntryForm" (submit)='entryDetailsFac(formData)' #formData='ngForm'>

            <b *ngIf="facIn" translate>servicestitle.FAC Code / IDD PIN New Request</b>
            <b *ngIf="!facIn" translate>servicestitle.FAC Code / IDD PIN - New Request</b>

            <div class="ds-pad-t-0_5 ds-pad-b-1">
                Fields marked with an asterisk (<span class="ds-text-contextual-red-2">*</span>) are mandatory.
            </div>
            <div class="ds-hr-thick ds-mar-b-1_5"></div>

            <app-steps [step]="servicesData.step" [isSelf]="reqFor" [formData]="formData" [cnum]="cnum" [hideSteps]=""></app-steps>


            <h2 id="h22" class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 ">Employee Entry Details</h2>

            <table id="t2" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td>
                            <label for="LocationId" *ngIf="facIn" class="ds-text-capitalize">Office Location</label>
                            <label for="LocationId" *ngIf="!facIn" class="ds-text-capitalize">FAC Code / IDD PIN Location</label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td class="ds-pad-l-8" height="10">
                            <div *ngIf="facIn" class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select rows="2" name="Location_1" cols="40" id="LocationId" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Office Location" #location (change)='selectedLocation(location.value)' [(ngModel)]='selected_location'>
                                    <option value ="" *ngIf=locdisplay>Select One</option>
                                    <option name="Location_1" *ngFor='let fl_location of camp' [value]='fl_location' >
                    {{ fl_location }}</option>
                </select>
                            </div>
                            <div *ngIf="!facIn" class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select rows="2" name="Location_1" cols="40" id="LocationId" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="FAC Code / IDD PIN Office Location" #location (change)='selectedLocation(location.value)'
                                    [(ngModel)]='selected_location'>
                                    <option value ="">Select One</option>
                                    <option name="Location_1" *ngFor='let fl_location of camp' [value]='fl_location' >
                    {{ fl_location }}</option>
                </select>
                            </div>
                        </td>
                    </tr>

                    <tr valign="top" *ngIf="facIn" [hidden]='hideBuilding'>
                        <td><label for="builId" class="ds-text-capitalize"> Campus</label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td class="ds-pad-l-8">
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select name="Buildings" rows="2" cols="40" id="LocationId_1_1" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Campus" [(ngModel)]='campus'>
                                    <option value ="" *ngIf=locdisplay1>Select One</option>
                                    <option *ngFor="let fl_campus of build" [value]='fl_campus'>{{ fl_campus }}</option>
                </select>
                            </div>
                        </td>
                    </tr><br>


                    <tr valign="top" *ngIf="facIn">
                        <td><label for="addId" class="ds-text-capitalize ds-padding-top-2">Funded</label>
                        </td>
                        <td class="ds-pad-l-8">
                            <div class="ds-mar-b-1">
                                <div class="ds-input-radio-group">
                                    <label for="radio1" class="ds-input-radio ds-pad-r-1" style="display:inline">
                    <input type="radio" [(ngModel)]="Voice_Type" name="Voice_Type" id="radio1" class="ds-input"
                      value="Yes" (click)='showChargeDepartmentCode()'>
                    <div class="ds-input-control"></div><span class="ds-pad-l-0_5">Yes</span>
                  </label><label for="radio2" class="ds-input-radio ds-pad-r-1" style="display:inline">
                    <input type="radio" [(ngModel)]="Voice_Type" checked name="Voice_Type" id="radio2" class="ds-input"
                      value="No" (click)='hideChargeDepartmentCode()'>
                    <div class="ds-input-control"></div><span class="ds-pad-l-0_5">No</span>
                  </label>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr valign="top" *ngIf="facIn" [hidden]='hideDeptCode'>
                        <td>
                            <div id="d1"><label for="addId" class="ds-text-capitalize ds-pad-t-1">Charge Department
                  Code</label> <span class="ds-text-contextual-red-2">*</span></div>
                        </td>
                        <td class="ds-pad-l-8">
                            <div id="d21" class="ds-input-container ">
                                <input name="chargeDepartmentCode" value="" id="d2" maxlength='6' class="ds-input" style="width: 300px !important;" title="Charge Department Code" [(ngModel)]="chargeDepartmentCode">
                                <div id="Mentor1Div"></div>
                            </div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td><label for="addId" class="ds-text-capitalize " style="display: inline-block;padding-bottom: 1rem;">Business Unit</label>
                        </td>
                        <td class="ds-pad-l-8"><label name='BusinessUnit' style="display: inline-block;padding-bottom: 1rem;" ngModel> {{ employeeInfo.businessUnit}} </label>
                        </td>
                    </tr>

                    <tr valign="top">
                        <td><label for="DeptID" class="ds-text-capitalize " style="display: inline-block;padding-bottom: 1rem;">Department</label>
                        </td>
                        <td class="ds-pad-l-8"><label name='DeptID' style="display: inline-block;padding-bottom: 1rem;" ngModel> {{ employeeInfo.department}} </label>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td *ngIf="facIn"><br>
                            <label for="LocationId" class=""> Authorization Level</label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td *ngIf="!facIn" class="ds-pad-l-8"><br>
                            <label for="LocationId" class=""> Authorization Level</label>
                        </td>
                        <td class="ds-pad-l-8"><br>
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select *ngIf="facIn" name="authLevel" rows="2" cols="40" id="authLevel" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Authorization Level" [(ngModel)]="authLevel">
                                    <option value ="">Select One</option>
                                    <option>Local</option>
                                    <option>STD</option>
                                    <option>ISD</option>
                                </select>
                                <select *ngIf="!facIn" name="authLevel" rows="2" cols="40" id="authLevel" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Authorization Level" [(ngModel)]="authLevel">
                                    <option value="International">International</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr valign="top" *ngIf="facIn">
                        <td><br>
                            <label for="LocationId" class=""> FAC Code / IDD PIN Type</label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td class="ds-pad-l-8"><br>
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select name="Fac_Type" rows="2" cols="40" id="Fac_Type" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="FAC Code / IDD PIN Type" #facType (change)="FacCodeType(facType.value)" [(ngModel)]="Fac_Type">
                                    <option value="">Select One</option>
                                    <option>Temporary</option>
                                    <option>Permanent</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr valign="top" *ngIf="facIn" [hidden]="hideValidity">
                        <td><br>
                            <label for="LocationId" class=""> Validity</label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td class="ds-pad-l-8"><br>
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select name="validity" rows="2" cols="40" id="validity" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Validity" [(ngModel)]="validity">
                                    <option value="">Select One</option>
                                    <option>7 days</option>
                                    <option>30 days</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <tr valign="top">
                        <td><br>
                            <label for="comments" class="">Business Justification <span class="ds-text-contextual-red-2"> *</span></label>
                        </td>
                        <td class="ds-pad-l-8"><br>
                            <textarea name="Comments" id="JustificationId" class="ds-input " style="width:300px !important;" maxlength='500' title="Business Justification" rows="2" cols="40" [(ngModel)]="Comments"></textarea>
                            <label>Note:Length should not exceed 500</label>
                        </td>
                    </tr>
                </tbody>
            </table>

            <br>
            <div class="ds-hr-thick ds-mar-b-1_5"></div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                value="BACK" (click)="backClick(formData)">
            </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
              <input type="submit" name="next" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                value="NEXT">
            </span>
                    </div>
                </div>
            </div>
        </form>

        <form [hidden]="isReviewForm">

            <b *ngIf="facIn" translate>servicestitle.FAC Code / IDD PIN New Request</b>
            <b *ngIf="!facIn" translate>servicestitle.FAC Code / IDD PIN - New Request</b>

            <div class="ds-pad-b-1">By submitting this provisioning request, you are providing your written consent to IBM to process the Personal Information (PI) provided.
            </div>
            <div class="ds-hr-thick ds-mar-b-1_5"></div>

            <app-steps [step]="servicesData.step+1" [isSelf]="reqFor" [hideSteps]="" (previousStep)="previousStep($event)"></app-steps>

            <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 ">Review Details</h2>

            <table id="t2" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td colspan="2" width="46%" height="10">
                            <label for="addId1">Office Location</label>
                        </td>
                        <td width="54%" height="10">{{reviewDetailsIndia.officeLocation}}</td>
                    </tr>
                    <tr valign="top" *ngIf="facIn">
                        <td colspan="2" width="46%">
                            <label for="addId1">Campus</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.campus}}</td>
                    </tr>
                </tbody>
            </table>

            <table id="t1" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top" *ngIf="facIn">
                        <td colspan="2" width="46%">
                            <label for="addId1">Funded</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.funded}}</td>
                    </tr>

                    <tr valign="top" *ngIf="facIn">
                        <td colspan="2" width="46%">
                            <label [hidden]="hideDeptCode" for="addId1">Charge Department Code</label>
                        </td>
                        <td [hidden]="hideDeptCode" width="54%">{{reviewDetailsIndia.chargeDepartmentCode}}</td>
                    </tr>

                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Business Unit</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.businessUnit}}</td>
                    </tr>

                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Department</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.Department_number}}</td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Authorization Level</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.authLevel}}</td>
                    </tr>
                    <tr valign="top" *ngIf="facIn">
                        <td colspan="2" width="46%">
                            <label for="addId1">FAC Code / IDD PIN Type</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.Fac_Type}}</td>
                    </tr>
                    <tr *ngIf="facIn" [hidden]="hideValidity" valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Validity</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.validity}}</td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Business Justification</label>
                        </td>
                        <td width="54%"><span style="word-break:break-all;">{{reviewDetailsIndia.Comments}}</span></td>
                    </tr>
                </tbody>
            </table>

            <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=errorinfo>
                <p></p>
                <p>We're currently having trouble completing your request due to an unexpected error. Please reach out to the help desk to report this message. [Error] </p>
                <p>
                </p>
            </div>

            <div class="ds-hr-thick ds-mar-b-1_5  ds-mar-t-1_5"></div>

            <!-- Dark Background -->
            <div class="ds-loader-container" *ngIf="this.isSpinnerVisible">
                <div class="ds-loader-header">Your request submission is in progress.Do not Go back or Refresh the page.</div>
                <div class="ds-loader" role="alert" aria-busy="true" aria-label="Your request is being submitted. Do not refresh or go back."></div>
            </div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" value="BACK"
                (click)='BackButton()' *ngIf="this.isButtonVisible && !errorinfo">
            </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
              <input type="submit" name="submit" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                value="SUBMIT" (click)="submit_snow()" *ngIf="this.isButtonVisible && !errorinfo">
            </span>
                        <input type="button" name="exit" *ngIf="errorinfo" type="button" class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" [routerLink]="['/jabberservices']" [queryParams]="{country:pcode,service:service}" value="EXIT REQUEST">





                    </div>
                </div>
            </div>


        </form>


    </div>
</div>