<div class="ds-row ds-pad-t-2 ds-pad-b-1">
    <div class="ds-col-12">
        <div class="ds-text-align-center">
            <img class="ds-border-neutral-5" src="././assets/flags/744.png">
            <h2><b>India</b></h2>
        </div>
    </div>
</div>

<div class=" ds-panel ds-col-12"></div>

<div class="ds-row ds-pad-t-1 ds-pad-b-2 ds-pad-l-5">
    <div class="ds-col-sm-12 ds-col-md-2 ds-col-xl-4">
        <div class="ds-panel ds-bg-neutral-warm-1 ds-no-border ">
            <ul class="ds-list-unstyled ds-hover ">
                <li class="ds-panel-segment ds-nav-item ds-bg-blue-1 ds-text-uppercase"><a
                        class="ds-text-contextual-blue-5"
                        href="/tools/voice/SPOEProdUI.nsf/EntryPageUI?OpenForm&amp;IN">Services</a></li>
                <li class="ds-panel-segment ds-text-uppercase"><a class="ds-text-neutral-7"
                        href="/tools/voice/SPOEProdUI.nsf/StatusApproval?OpenForm&amp;Approval_IN_MgrApproval">Approvals
                        Pending</a></li>
                <li class="ds-panel-segment ds-text-uppercase"><a class="ds-text-neutral-7"
                        href="/tools/voice/SPOEProdUI.nsf/StatusRequestRevalidation?OpenForm&amp;VOIP_IN_Deptcode">Revalidation
                        Pending</a></li>
                <li class="ds-panel-segment ds-text-uppercase"><a class="ds-text-neutral-7"
                        href="/tools/voice/SPOEProdUI.nsf/EmployeeSearch_summary?OpenForm&amp;EN_Summary_IN_Summary">Resources</a>
                </li>
                <li class="ds-panel-segment ds-text-uppercase"><a class="ds-text-neutral-7"
                        href="/tools/voice/SPOEProdUI.nsf/EmployeeSearch_summary?OpenForm&amp;TOOL_IN_Request">Requests</a>
                </li>

            </ul>
        </div>
    </div>
    <div class="ds-col-sm-12 ds-col-md-10 ds-col-xl-8">
        <div class="ds-row ds-pad-b-1">
            <div class="ds-col-xs-12 ds-col-sm-6 ds-col-md-6 ds-col-lg-4">
                <a href="./EntryPageUI?OpenForm&amp;VOIP_IN">
                    <div class="ds-panel">
                        <div class="ds-panel-container ds-text-align-center" style="max-height: 245px">
                            <img style="max-width: 150px ; max-height: 150px" src="././assets/JABBER-small.png">
                            <p class="ds-text-small  ds-padding-t-3">Jabber</p>
                        </div>
                    </div>
                </a>
            </div>

            <div class="ds-col-xs-12 ds-col-sm-6 ds-col-md-6 ds-col-lg-4">
                <a href="./EntryPageUI?OpenForm&amp;VOIP_IN">
                    <div class="ds-panel">
                        <div class="ds-panel-container ds-text-align-center" style="max-height: 245px">
                            <img style="max-width: 150px ; max-height: 150px" src="././assets/ipextn.png">
                            <p class="ds-text-small  ds-padding-t-3">FAC Code</p>
                        </div>
                    </div>
                </a>
            </div>

        </div>
        <a href="http://w3.ibm.com/w3/info_terms_of_use.html" class="ds-text-contextual-blue-5 ds-link-unstyled"
            target="_blank">Terms of use</a>
        <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-padding-left-0_5 ">Useful Information</h2>
        <p>Please bear in mind the following points when making a request :</p>
        <ul>
            <li>To make a request the Employee must exist in BluePages (except for cancellation requests).</li>
            <li>You must know the IBM serial Number of the person making the request.</li>
            <li>Only one request per employee per request type is processed at a time.</li>
        </ul>
    </div>
</div>