<app-topcountryframe></app-topcountryframe>



<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData"></app-navigation>
    </div>
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">

        <span class='ds-pad-l-0_5'><b translate>servicestitle.Resources</b></span>
        <div class="ds-col-12 ds-pad-t-0_5">

            <app-steps [step]="3" [isSelf]="reqFor" [hideSteps]=""></app-steps>

            <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 " translate>resourcespagetranslation.EmployeeResourcesDetails</h2>

            <span class="ds-pad-t-1"></span><br>
            <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=warninginfosnowres>

                <p translate>employeeinfotrans.noresources</p>
                <p>
                </p>
            </div>
            <table id="t1" cellspacing="0" cellpad="0" border="0" *ngIf="warninginfosnowres==false">
                <thead>
                    <tr valign="top">
                        <td width="172" bgcolor="#F1F0EE">
                            <div class="ds-set-height-group-1 ds-col-xs-12  ds-pad-1 ds-bg-neutral-warm-2 ds-text-neutral-7	">
                                <b translate>requesttrans.ResourceType</b></div>
                        </td>
                        <td width="172" bgcolor="#F1F0EE">
                            <div class="ds-set-height-group-1   ds-pad-t-1 ds-bg-neutral-warm-2 ds-text-neutral-7"><b translate>resourcespagetranslation.Supplier</b>
                            </div>
                        </td>
                        <td width="172" bgcolor="#F1F0EE">
                            <div class="ds-set-height-group-1 ds-pad-t-1 ds-bg-neutral-warm-2 ds-text-neutral-7"><b> <span translate>resourcespagetranslation.Phone/Dial </span>
                    <br>
                     <span translate> resourcespagetranslation.Innumber </span></b></div>
                        </td>
                        <td colspan="2" width="345" bgcolor="#F1F0EE">
                            <div class="ds-set-height-group-1 ds-pad-t-1 ds-bg-neutral-warm-2 ds-text-neutral-7"><b> <span translate>resourcespagetranslation.AdditionalInformation </span></b></div>
                        </td>
                    </tr>
                    <tr valign="top">
                        <td colspan="5" width="862" bgcolor="#FFFFFF"><br><br></td>
                    </tr>
                </thead>
                <tbody *ngFor='let no of dbdata'>

                    <tr valign="top">
                        <td colspan="5" width="862" bgcolor="#FFFFFF"></td>
                    </tr>

                    <tr valign="top">
                        <td class="ds-pad-l-1" width="172" bgcolor="#FFFFFF">{{no.ATTRIBUTE1!=null&&no.ATTRIBUTE1.includes("SEP")&&(no.ATTRIBUTE8==null||!no.ATTRIBUTE8.includes("chcs"))?"Fixed Phone":no.ATTRIBUTE1!=null&&no.ATTRIBUTE1.includes("SEP")&&(no.ATTRIBUTE8!=null && no.ATTRIBUTE8.includes("chcs"))?"Jabber,Fixed Phone":no.TYPE.includes("ip")?"Jabber":no.TYPE.includes("fac")?"FAC":no.TYPE}}</td>
                        <td width="172" bgcolor="#FFFFFF">
                            <font color="#808080"> </font>{{no.SUPPLIER}}
                            <font color="#808080"> </font>
                        </td>
                        <td width="172" bgcolor="#FFFFFF">
                            <font color="#808080"> </font>{{no.TYPE.includes("fac")?"XXXXXXXX":no.IDENTIFIER}}
                        </td>
                        <td colspan="2" width="345" bgcolor="#FFFFFF">
                            <font color="#808080"> </font>{{(no.ATTRIBUTE8!=null && no.ATTRIBUTE8.includes("chcs"))?"Primary":(no.ATTRIBUTE8!=null && no.ATTRIBUTE8.includes("secondary"))?"Add-on":(no.ATTRIBUTE8!=null && no.ATTRIBUTE8.includes("Secondary"))?"Add-on":""}}
                        </td>
                        <br><br>
                    </tr>

                    <tr valign="top">
                        <td colspan="5" width="862" bgcolor="#FFFFFF">
                            <div class="ds-panel ds-col-12"></div>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
</div>