<app-topcountryframe></app-topcountryframe>



<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData"></app-navigation>
    </div>
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
        <form [hidden]="isEntryForm" (submit)='entryDetails(formData)' #formData='ngForm'>

            <b translate>servicestitle.Fixed Phone - New Request</b>

            <div class="ds-pad-t-0_5 ds-pad-b-1">
                Fields marked with an asterisk (<span class="ds-text-contextual-red-2">*</span>) are mandatory.
            </div>
            <div class=" ds-panel ds-col-12 "></div>

            <app-steps [step]="servicesData.step" [formData]="formData" [cnum]="cnum" [FixedPhoneData]="FixedPhoneData" [isSelf]="reqFor" [hideSteps]=""></app-steps>
            

            <h2 id="h22" class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 ">Employee Entry Details</h2>

            <table id="t2" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td colspan="2" width="46%" height="10"><label for="LocationId" class="ds-text-capitalize">Location</label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="54%" height="10">
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select rows="2" name="Location_1" cols="40" id="LocationId" class="ds-title ds-align-text-left" 
                                style="width:300px !important; text-transform: uppercase;" title="Office Location" #location ngModel
                                [(ngModel)]='selected_location'>
                                    <option value ="" translate>Jabbernewtrans.SelectOne</option>
                                    <option name="Location_1" *ngFor='let fl_location of locationlist' [value]='fl_location' >
                                        {{ fl_location }}</option> -->
                                </select>
                            </div>
                        </td>
                    </tr>
                    <br>
                    

                </tbody>
            </table>

            <table id="t1" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>


                    <tr valign="top">
                        <td colspan="2" width="46%" height="10"><label for="DeviceType" class="">Type of device </label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="54%" height="10">
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select rows="2" name="Device_Type" cols="40" id="DeviceTypeId" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Device Type" #device (change)='selectedDevice(device.value)' ngModel [(ngModel)]='selected_device'>
                                    <option value ="">Select One</option>
                                    <option name="Device_Type" *ngFor='let device of devices' [value]='device' >{{ device }}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <br>
                    
                </tbody>
            </table>



            <table id="t3" width="100%" cellspacing="0" cellpadding="0" border="0" [hidden]='hideDeviceSection'>
                <tbody>
                    <tr valign="top" [hidden]='showforAnyDevice'>
                        <td colspan="2" width="46%" height="10"><label for="DeviceType" class="">Type of Model </label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="54%" height="10">
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select rows="2" name="Model_Type" cols="40" id="ModelTypeId" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Model" [(ngModel)]='modelValue'>
                                    <option value ="">Select One</option>
                                    <option name="Model_Type" *ngFor='let model of models' [value]='model'>{{ model }}</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                    <!-- <tr valign="top" [hidden]='showforFixedPhone'>
                        <td colspan="2" width="46%" height="10"><label for="EmployeeID" class="ds-text-capitalize">Employee ID </label>
                            <span class="ds-text-contextual-red-2">*</span>
                            
                        </td>
                        <td width="54%" height="10">
                            <label style="display: ruby-base-container;">
                                <input name="StepMentor" class="ds-input" style="width:250px !important;display: inline-block;" title="Employee ID" [(ngModel)]='empID' (change)='onEmpIDChange()'>
                                <button class="ds-button ds-small ds-width-auto" style="padding-right: 1rem;padding-left: 1rem; margin-left: 2px;margin-bottom: 0px" (click)='fetchEmployee()'>Go</button>
                            </label>
                                <div [hidden]='goClick'>
                                <div [hidden]='emailResult' id="StepMentorDiv" *ngIf="goResults; else elseBlock" style="font-size: 14pt; background: rgb(238, 238, 238) none repeat scroll 0% 0%; width: 300px;">
                                    Search result: <br>
                                    <a (click)='onEmailClick()'>{{ this.email }}</a><br>
                                </div>
                                <ng-template #elseBlock>
                                <div style="font-size: 14pt; background: rgb(238, 238, 238) none repeat scroll 0% 0%; width: 300px;">
                                    No match, please try again<br>
                                </div>
                            </ng-template>
                        </div>
                        </td>
                    </tr> -->

                    <tr class='ds-mar-t-1_5' valign="top" [hidden]='showforFixedPhone'>
                        <td colspan="2" width="46%" height="10"><label for="Voicemail" class="ds-text-capitalize ds-mar-t-1" style="display: inline-block;">Voicemail Required</label>
                        </td>
                        <td width="54%" height="10">
                            <div class="ds-dropdown ds-secondary" tabindex="0" role="menu" aria-label="w3DS Dropdown1">
                                <select rows="2" name="Voicemail" cols="40" id="VoicemailId" class="ds-title ds-align-text-left ds-mar-t-1" style="width:300px !important; text-transform: uppercase;" title="Voicemail" [(ngModel)]="voicemail" ngModel>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                          </select>
                            </div>
                        </td>
                    </tr>
                    <br>

                    <tr valign="top" [hidden]='showforFixedPhone'>
                        <td colspan="2" width="46%" height="10"><label for="cos" class="ds-pad-b-2">Class of Service (COS)</label>
                        </td>
                        <td width="54%" height="10">
                            <div class="ds-dropdown ds-secondary" tabindex="0" role="menu" aria-label="w3DS Dropdown1">
                                <select rows="2" name="cos" cols="40" id="COSId" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Class of Service" [(ngModel)]='COS' #cos (change)='classofservice(cos.value)' ngModel>
                              <option value="national">National</option>
                              <option value="international">International</option>
                            </select>
                            </div>
                        </td>
                    </tr>
                    

                    <tr valign="top" [hidden]='showBusinessNeed' >
                        <td colspan="2" width="46%"><br><label for="Justification"class="ds-pas-t-1 ds-pas-b-1" >Business Justification (Why is international required?)</label>
                            <span class="ds-text-contextual-red-2">*</span></td>
                        <td width="54%">
                            <textarea name="Justification" class="ds-input" style="width:300px !important;" title="Business Justification" maxlength="500" rows="2" cols="40" ngModel ngModel [(ngModel)]="justificationValue"></textarea>
                            <label>Note:Length should not exceed 500</label>
                        </td>
                    </tr>

                    <tr valign="top" [hidden]='showforAnyDevice'>
                        <td colspan="2" width="46%"><br><label for="Description" class="ds-pad-t-3" margin-top>Description of the Device </label>
                            <span class="ds-text-contextual-red-2">*</span></td>
                        <td width="54%">
                            <div class="ds-input-container ds-pad-t-1">
                                <input name="Description" value="" tabindex="2" rows="2" cols="40" id="DescriptionId" class="ds-input" maxlength="30" style="width:300px !important;" title="Description" maxlength="30" ngModel [(ngModel)]='descValue'>
                                <label *ngIf="selected_device == 'Extension Mobility Station'">e.g. IBMC Lv21 EM desk </label>
                                <label *ngIf="selected_device == 'Conference / Meeting Room Phone'">e.g. IBMC Lv21 conference room 3 </label>
            
                            </div>
                        </td>
                    </tr>

                    <tr valign="top" [hidden]='showforAnyDevice'>
                        <td colspan="2" width="46%"><br><label for="MACAddress" class="">MAC Address of the Device </label>
                            <span class="ds-text-contextual-red-2">*</span></td>
                        <td width="54%">
                            <div class="ds-input-container">
                                <input name="MACAddress" value="" tabindex="2" rows="2" cols="40" id="MACAddressId" class="ds-input" style="width:300px !important;" title="MAC Address" maxlength="12" ngModel [(ngModel)]='MACValue'>
                                <label>Note:Combination of (0 to 9 , A to F) and Length:12</label>
                            </div>
                        </td>
                    </tr>

                </tbody>
            </table>

            <br>
            <div class=" ds-panel ds-col-12 "></div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1 ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" 
                value="BACK" (click)="backClick(formData)">
            </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
              <input type="submit" name="next" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
               value="NEXT">
            </span>
                    </div>
                </div>
            </div>
        </form>

        <form [hidden]="isReviewForm">

            <b translate>servicestitle.Fixed Phone - New Request</b>


            <div class="ds-pad-b-1" translate>Jabberentrydetails.toprocessPI
            </div>
            <div class="ds-hr-thick ds-mar-b-1_5"></div>

            <app-steps [step]="servicesData.step+1" [isSelf]="reqFor" [hideSteps]="" [formData]="formData" [cnum]="cnum" [FixedPhoneData]="FixedPhoneData" (previousStep)="previousStep($event)"></app-steps>
            

            <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-padding-left-0_5 ">Review Details</h2>

            <table id="t2" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td colspan="2" width="46%" height="10">
                            <label for="addId1">Location</label>
                        </td>
                        <td width="54%" height="10">{{reviewDetailsIndia.officeLocation}}</td>
                    </tr>
                    <!-- <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Campus</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.campus}}</td>
                    </tr> -->
                </tbody>
            </table>

            <table id="t1" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <!-- <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Funded</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.funded}}</td>
                    </tr>

                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label [hidden]="hideDeptCode" for="addId1">Charge Department Code</label>
                        </td>
                        <td [hidden]="hideDeptCode" width="54%">{{reviewDetailsIndia.chargeDepartmentCode}}</td>
                    </tr>

                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Business Unit</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.businessUnit}}</td>
                    </tr>

                    <tr valign="top" [hidden]='hideProjectId'>
                        <td colspan="2" width="46%">
                            <label for="Projectid">Project id (for GBS employee only)</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.projectId}}</td>
                    </tr>

                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="icano">Account Id</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.accountId}}</td>
                    </tr>

                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="icano">ICA Code</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.icaCode}}</td>
                    </tr> -->

                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="device">Type of device</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.device}}</td>
                    </tr>

                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="model">Type of Model</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.model}}</td>
                    </tr>

                    <!-- <tr valign="top" [hidden]='hideEmpID'>
                        <td colspan="2" width="46%">
                            <label for="employeeId">Employee ID</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.employeeId}}</td>
                    </tr> -->

                    <tr valign="top" [hidden]='hideVoicemail'>
                        <td colspan="2" width="46%">
                            <label for="voiemail">Voicemail Required</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.voicemail}}</td>
                    </tr>

                    <tr valign="top" [hidden]='showforFixedPhone'>
                        <td colspan="2" width="46%">
                            <label for="cos">Class of Service (COS)</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.cos}}</td>
                    </tr>

                    <tr valign="top" [hidden]='showBusinessNeed'>
                        <td colspan="2" width="46%">
                            <label for="justification">Business Justification</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.justification}}</td>
                    </tr>

                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="description">Description of the Device</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.description}}</td>
                    </tr>

                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="mac">MAC Address of the Device</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.mac}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=errorinfo>
                <p></p>
                <p translate>fixedphonenew.Somethingseemswrong</p>
                <p>
                </p>
            </div>
            <div class="ds-hr-thick ds-mar-t-1_5"></div>
            <!-- Dark Background -->
            <div class="ds-loader-container" *ngIf="this.isSpinnerVisible">
                <div class="ds-loader-header">Your request submission is in progress.Do not Go back or Refresh the page.</div>
                <div class="ds-loader" role="alert" aria-busy="true" aria-label="Your request is being submitted. Do not refresh or go back."></div>
            </div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" value="BACK"
                (click)='BackButton()' *ngIf="this.isButtonVisible">
            </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
              <input type="submit" name="submit" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                value="SUBMIT" (click)="submit_snow()" *ngIf="this.isButtonVisible">
            </span>



                    </div>
                </div>
            </div>

        </form>


    </div>
</div>