<app-topcountryframe></app-topcountryframe>



<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData"></app-navigation>
    </div>


    <div class="ds-col-sm-2 ds-col-md-7  ds-padding-left-1_5">

        <h3 *ngIf="reval"><b translate>approvalpending.Approvals</b></h3>
        <!--<div class="ds-hr-thick ds-mar-b-1_5"></div>-->
        <h3 *ngIf="!reval"><b translate>approvalpending.Revalidation</b></h3>
        <div  *ngIf="errorinfo && reval" class="ds-pad-b-1" translate> approvalpending.rejectserialnumber</div>
        <div class="ds-padding-top-0_5 ds-padding-bottom-1"></div>
        <div class=" ds-panel ds-col-12 "></div>
        <div class="ds-padding-top-0_5 ds-padding-bottom-1"></div>
        <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 "></h2>
        <table cellspacing="0" cellpadding="0" border="0" *ngIf="errorinfo && reval">
            <tbody>
                <tr valign="top">
                    <td width="783">
                        <div translate>approvalpending.EnterSerialNumberorTrackingNumber</div>
                    </td>
                    <td width="217">
                        <div class="ds-pad-l-1">
                            <input class="ds-input" name="search" id="search" style="width:220px !important;" maxlength="17" [(ngModel)]="search"></div>
                    </td>
                    <td width="169">
                        <div class="ds-float-lg-right">
                            <div class="ds-tray-fit-content ds-margin-bottom-0">
                                <div class="button-bar ds-tray-fit-content ds-float-lg-right ">
                                    <span class="ds-pad-l-1 ds-pad-r-1">
                    <input type="button" class="ds-button ds-secondary ds-pad-l-1 ds-width-auto ds-pad-r-1"  value="{{'fixedphonenew.SEARCH'|translate}}" (click)="performsearch()"></span>
                                    <input type="button" class="ds-button ds-secondary  ds-pad-l-1 ds-width-auto ds-pad-r-1" value="{{'approvalpending.CLEAR'|translate}}" (click)="clear()">
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
        <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5" translate>approvalpending.PendingRequests</h2>
        <div class="ds-table-container">
            <table style="width:100%; border-collapse: collapse; padding:2px" *ngIf="reval && errorinfo && searchresult==false">
                <thead class="ds-bg-neutral-warm-2 ds-text-neutral-7 ds-font-weight-bold">
                    <tr>
                        <td width="59" height="49"></td>
                        <td width="175" height="49" translate>Jabbernewtrans.SerialNumber</td>
                        <td width="194" height="49" translate>phonenumber.UserName</td>
                        <td width="213" height="49" translate>requesttrans.ResourceType</td>
                        <td width="175" height="49" translate>requesttrans.TrackingNumber</td>                        
                    </tr>
                </thead>
                <tbody valign="top" *ngFor="let req of pendingRequest, let i = index">
                    <tr>
                        <td width="59" height="49">
                            <font color="#ffffff">
                                <input name="req.sys_id" id="req.sys_id" type="checkbox" [(ngModel)]="checked[i]">
                            </font>
                        </td>
                        <td width="175" height="49"><a (click)='openpage(req)'>{{req['sysapproval.variables.requested_by.user_name'].replace('-','')}}</a></td>
                        <td width="194" height="49">{{req['sysapproval.variables.requested_by.name']}}
                            <font color="#808080"> </font>
                        </td>
                        <td width="213" height="49">{{req['sysapproval.short_description']}}</td>
                        <td width="213" height="49">{{req['sysapproval.variables.id']}}</td>
                    </tr>
                </tbody>
            </table>
            <table style="width:100%; border-collapse: collapse; padding:2px" *ngIf="errorinfo && !reval">
                <thead class="ds-bg-neutral-warm-2 ds-text-neutral-7 ds-font-weight-bold">
                    <tr>
                        <td width="59"></td>
                        <td width="175" translate>Jabbernewtrans.SerialNumber</td>
                        <td width="194" translate>phonenumber.UserName</td>
                        <td width="213" translate>approvalpending.Revalidation Date</td>
                        <td width="175" translate>approvalpending.Phone/Dial in number</td>
                        <td width="213" translate>approvalpending.Details of Change</td>
                    </tr>
                </thead>
                <tbody valign="top" *ngFor="let req of pendingRequest, let i = index">
                    <tr>
                        <td width="59">
                            <font color="#ffffff">
                                <input name="req.sys_id" id="req.sys_id" type="checkbox" [(ngModel)]="checked[i]">
                            </font>
                        </td>
                        <td width="175"><a (click)='openpage(req)'>{{req['sysapproval.variables.requested_by.user_name'].replace('-','')}}</a></td>
                        <td width="194">{{req['sysapproval.variables.requested_by.name']}}
                            <font color="#808080"> </font>
                        </td>

                        <td width="213">{{req['sysapproval.variables.call_permission']}}</td>
                        <td width="175">{{req['sysapproval.variables.itn']}}</td>
                        <td width="213">{{req['sysapproval.variables.ica_code']}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf="!errorinfo && reval">
            <p></p>
            <p translate>approvalpending.There are no pending approvals</p>
            <p>
            </p>
        </div>
        <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf="searchresult">
            <p></p>
            <p translate>approvalpending.No search results found</p>
            <p>
            </p>
        </div>
        <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf="!errorinfo && !reval">
            <p></p>
            <p translate>approvalpending.There are no pending revalidation documents</p>
            <p>
            </p>
        </div>

        <div class="ds-panel ds-col-12"></div>
        <div class="ds-loader-container" *ngIf="this.isSpinnerVisible">
            <div class="ds-loader-header" translate>Jabberentrydetails.Submissioninprogress</div>
            <div class="ds-loader" role="alert" aria-busy="true" aria-label="Your request is being processed. Do not refresh or go back."></div>
        </div>
        <div class="ds-row ds-pad-t-2" style="margin-right:12px" *ngIf="this.isButtonVisible && errorinfo && searchresult==false">
            <div class="ds-tray-fit-content ds-mar-b-0">
                <div class="button-bar ds-tray-fit-content ds-pad-t-1 ds-float-lg-right">
                    <span class="ds-pad-l-4" id="button1">
                <input type="button" (click)="selectAllcheck()" class="ds-button ds-secondary
                ds-width-auto ds-mar-b-0 ds-pad-l-1 ds-pad-r-1" value="{{'approvalpending.SELECT ALL'|translate}}">
                </span>
                    <span class="ds-pad-l-1" id="button2">
                <input type="button" (click)="unSelectAllcheck()" class="ds-button ds-secondary
                ds-width-auto ds-mar-b-0 ds-pad-l-1 ds-pad-r-1" value="{{'approvalpending.DESELECT ALL'|translate}}">
                </span>
                    <span class="ds-pad-l-1 ds-pad-r-1" id="button3">
                <input type="button" name="NEXT" class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" (click)="process()" value="{{'approvalpending.APPROVE SELECTED ONE'|translate}}">
                </span>
                </div>




            </div>

        </div>