<br><br><br><br>
<div class="ds-row ds-text-align-center">
    <div class="ds-col-xs-10 ds-col-md-8 ds-col-lg-6 ds-col-xl-5 ds-pad-t-2 ds-pad-b-4 ds-pad-t-md-3 hp-heading" *ngIf="miccountry==false">
        
        <div class="ds-heading-xs-2 ds-heading-md-1 ds-pad-b-0_5">Page Not Found</div>
        <p>The page you're looking for may not exists.</p>  
           
    </div>
    <div class="ds-col-xs-10 ds-col-md-8 ds-col-lg-6 ds-col-xl-5 ds-pad-t-2 ds-pad-b-4 ds-pad-t-md-3 hp-heading" *ngIf="miccountry">
        
        <div class="ds-heading-xs-2 ds-heading-md-1 ds-pad-b-0_5">Launching Soon!</div>
          
           
    </div>
</div>
<br><br><br>