.#{$framework-class-prefix}-z-negative {
  z-index: $z-negative;
}

.#{$framework-class-prefix}-z-base {
  z-index: $z-base;
}

.#{$framework-class-prefix}-z-low {
  z-index: $z-low;
}

.#{$framework-class-prefix}-z-mid {
  z-index: $z-mid;
}

.#{$framework-class-prefix}-z-high {
  z-index: $z-high;
}

.#{$framework-class-prefix}-z-extreme {
  z-index: $z-extreme;
}
