<app-topcountryframe></app-topcountryframe>


<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData"></app-navigation>
    </div>

    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
        <form [hidden]="isEntryForm" (submit)='entryDetails(formData)' #formData='ngForm'>

            <b translate>servicestitle.Fixed Phone - Update Request</b>

            <div class="ds-pad-t-0_5 ds-pad-b-1">
                Fields marked with an asterisk (<span class="ds-text-contextual-red-2">*</span>) are mandatory.
            </div>

            <div class=" ds-panel ds-col-12 "></div>

            <app-steps [step]="servicesData.step" [isSelf]="reqFor" [formData]="formData" [cnum]="cnum" [FixedPhoneData]="FixedPhoneData" [hideSteps]="hideSteps"></app-steps>

            <h2 id="h22" class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 ">Employee Entry Details</h2>

            <table id="t1" width="100%" height="10" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td width="50%">
                            <label for="Sear class=">Enter current MAC address or Phone Number</label>
                            <span class="ds-text-contextual-red-2"> *</span>
                        </td>
                        <td width="50%">
                            <div class="ds-col-12">
                                <div class="ds-row">
                                    <div class="ds-col-12">
                                        <div class="ds-row">
                                            <div class="ds-col-7">
                                                <input name="IdNum1" [(ngModel)]="currentMacOrPhone" value="" class="ds-input" style="width:180px !important;" maxlength="15" title="Enter current MAC address or Phone Number" (click)='onSearch()'>
                                            </div>
                                            <div class="ds-col-5 ds-pad-l-1">
                                                <div>
                                                    <input type="button" class="ds-button ds-secondary ds-width-auto 
                                                ds-margin-bottom-0 ds-pad-l-1 ds-pad-r-1" (click)='OnSearchClick()' name="SEARCH" value="SEARCH">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>

                    <tr valign="top" *ngIf='showerrormessage'>
                        <td colspan="2" width="100%">
                            <span id="err1"><br><br>
                            <div class="ds-col-xs-12 ds-alert ds-warning">
                                <p>No record was found for the MAC Address or Phone Number. 
                                Please verify and try again.</p>
                            </div>
                        </span>
                        </td>
                    </tr>
                    <tr valign="top" *ngIf='showSearch'>
                        <td width="50%"><br>
                            <label for="sear" class=""> Current MAC address </label>
                        </td>
                        <td width="50%"><br>{{currentMac}}
                        </td>
                    </tr>

                    <tr valign="top" *ngIf='showSearch'>
                        <td width="50%"><br>
                            <label for="sear" class=""> Current Phone Number </label>
                        </td>
                        <td width="50%"><br>{{currentPhone}}
                        </td>
                    </tr>

                    <tr valign="top" *ngIf='showSearch'>
                        <td width="50%"><br>
                            <label for="sear" class=""> Current Location</label>
                        </td>
                        <td width="50%"><br>{{currentloc}}</td>
                    </tr>

                    <tr valign="top" *ngIf='showSearch'>
                        <td width="50%"><br>
                            <label for="sear" class=""> Current description </label>
                        </td>
                        <td width="50%"><br>{{currentdesc}}</td>
                    </tr>

                    <tr valign="top" *ngIf='showSearch'>
                        <td width="50%"><br>
                            <label for="up" class=""> Update required for</label>
                            <span class="ds-text-contextual-red-2"> *</span>
                        </td>
                        <td width="50%"><br>
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select name="UpdateReq" id="voicetype" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="Update Required For" #device (change)='updateFor(device.value)' ngModel [(ngModel)]='updateRequired'>
                  <option value="">Select One</option>
                  <option name="UpdateReq" *ngFor='let devices of updateRequiredFor' [value]='devices'>{{ devices }}</option>
                </select>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table id="t2" width="100%" height="10" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top" *ngIf='showLocation && showSearch'>
                        <td width="50%"><label for="LocationId">New state </label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="54%" height="10">
                            <div class="ds-dropdown ds-secondary" tabindex="0" role="menu" aria-label="w3DS Dropdown1">
                                <select ngModel rows="2" name="Location_1_1" cols="40" id="LocationId" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="New State" tabindex="1" #location (change)='selectedLocation(location.value)'
                                    [(ngModel)]='state'>
                                    <option value ="">Select One</option>
                                    <option name="Location_1_1" *ngFor='let fl_location of camp' [value]='fl_location'>{{ fl_location }}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr valign="top" *ngIf='showLocation && showSearch' class="ds-pad-t-1">
                        <td width="50%"><label for="LocationId_1_1">New location </label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="54%">
                            <div class="ds-dropdown ds-secondary" tabindex="0" role="menu" aria-label="w3DS Dropdown1">
                                <select ngModel name="Buildings" rows="2" [(ngModel)]='campus' cols="40" id="LocationId_1_1" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" title="New Location" tabindex="1">
                        <option value ="Select Location" translate>Jabbernewtrans.SelectOne</option>
                        <option name="Buildings" *ngFor="let fl_campus of build" [value]='fl_campus'>{{ fl_campus }}</option>
                    </select>
                            </div>
                        </td>
                    </tr>

                    <tr valign="top" *ngIf='showSearch && showformacadd'>
                        <td width="50%" class="ds-pad-t-1 ds-pad-b-2">
                            <label class="">New MAC address<span class="ds-text-contextual-red-2"> *</span></label>
                        </td>
                        <td width="50%" class="ds-pad-t-1 ds-pad-b-2">
                            <input name="MAC1" value="" class="ds-input" style="width:300px !important;" title="New MAC Address" maxlength="12" ngModel [(ngModel)]='newMacAddress'>
                            <label>Note:Combination of (0 to 9 , A to F) and Length:12</label>
                        </td>
                    </tr>

                    <tr valign="top" *ngIf='showSearch && showforNewDesc'>
                        <td width="50%" class="ds-pad-t-1 ds-pad-b-2">
                            <label class="">New description<span class="ds-text-contextual-red-2"> *</span></label>
                        </td>
                        <td width="50%" class="ds-pad-t-1 ds-pad-b-2">
                            <input name="Newdesc" value="" class="ds-input" style="width:300px !important;" title="New Description" maxlength="30" ngModel [(ngModel)]='newDescription'>
                        </td>
                    </tr>


                    <tr valign="top" *ngIf='showSearch && showforrsn'>
                        <td width="50%">
                            <label class="">Reason for update<span class="ds-text-contextual-red-2"> *</span></label>
                        </td>
                        <td width="50%">
                            <textarea name="Comments" class="ds-input " style="width:300px !important;" title="Reason for Update" rows="2" cols="40" maxlength="500" ngModel [(ngModel)]='reasonForUpdate'>
                        </textarea>
                        <label>Note:Length should not exceed 500</label>
                        <br>
                        </td>
                    </tr>
                </tbody>
            </table>

           <!-- <table id="t3" width="100%" height="10" cellspacing="0" cellpadding="0" *ngIf='showSearch' border="0">
                <tbody>

                     <tr valign="top" *ngIf='showformacadd'>
                        <td colspan="2" width="50%" class="ds-pad-t-1 ds-pad-b-2">
                            <label class="">New MAC Address<span class="ds-text-contextual-red-2"> *</span></label>
                        </td>
                        <td width="50%" class="ds-pad-t-1 ds-pad-b-2">
                            <input name="MAC1" value="" class="ds-input" style="width:300px !important;" title="New MAC Address" maxlength="12" ngModel [(ngModel)]='newMacAddress'>
                            <label>Note:Combination of (0 to 9 , A to F) and Length:12</label>
                        </td>
                    </tr>

                    <tr valign="top" *ngIf='showforNewDesc'>
                        <td colspan="2" width="50%" class="ds-pad-t-1 ds-pad-b-2">
                            <label class="">New Description to Update<span class="ds-text-contextual-red-2"> *</span></label>
                        </td>
                        <td width="50%" class="ds-pad-t-1 ds-pad-b-2">
                            <input name="Newdesc" value="" class="ds-input" style="width:300px !important;" title="New Description" maxlength="200" ngModel [(ngModel)]='newDescription'>
                        </td>
                    </tr>


                    <tr valign="top" *ngIf='showforrsn'>
                        <td colspan="2" width="50%">
                            <label class="">Reason for Update<span class="ds-text-contextual-red-2"> *</span></label>
                        </td>
                        <td width="50%">
                            <textarea name="Comments" class="ds-input " style="width:300px !important;" title="Reason for Update" rows="2" cols="40" maxlength="200" ngModel [(ngModel)]='reasonForUpdate'>
                        </textarea><br>
                        </td>
                    </tr> 
                </tbody>
            </table> -->

            <br>
            <div class=" ds-panel ds-col-12 "></div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" value="BACK"
                (click)="backClick(formData)">
            </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2" [hidden]='hideNextButton'>
              <input type="submit" name="next" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                value="NEXT">
            </span>
                    </div>
                </div>
            </div>
        </form>

        <form [hidden]="isReviewForm">

            <b translate>servicestitle.Fixed Phone - Update Request</b>


            <div class="ds-pad-b-1" translate>Jabberentrydetails.toprocessPI
            </div>
            <div class="ds-hr-thick ds-mar-b-1_5"></div>

            <app-steps [step]="servicesData.step+1" [isSelf]="reqFor" [hideSteps]="" [formData]="formData" [cnum]="cnum" [FixedPhoneData]="FixedPhoneData" (previousStep)="previousStep($event)">
            </app-steps>


            <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-padding-left-0_5 ">Review Details</h2>

            <table id="t2" width="100%" cellspacing="8" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Current MAC address</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.mac}}</td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Current Phone Number </label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.phoneNunmer}}</td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Current Location</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.location}}</td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Current description</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.Currentdescription}}</td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Update required for</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.updatereq}}</td>
                    </tr>
                    <tr valign="top" *ngIf='showLocation'>
                        <td colspan="2" width="46%" height="10">
                            <label for="addId1">New state</label>
                        </td>
                        <td width="54%" height="10">{{reviewDetailsIndia.officeLocation}}</td>
                    </tr>
                    <tr valign="top" *ngIf='showLocation'>
                        <td colspan="2" width="46%">
                            <label for="addId1">New location</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.campus}}</td>
                    </tr>
                    <tr valign="top" *ngIf='showformacadd'>
                        <td colspan="2" width="46%">
                            <label for="addId1">New MAC address</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.newMac}}</td>
                    </tr>
                    <tr valign="top" *ngIf='showforNewDesc'>
                        <td colspan="2" width="46%">
                            <label for="addId1">New description</label>
                        </td>
                        <td width="54%" style='word-wrap: anywhere;'>{{reviewDetailsIndia.description}}</td>
                    </tr>
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="addId1">Reason for update</label>
                        </td>
                        <td width="54%" style='word-wrap: anywhere;'>{{reviewDetailsIndia.justification}}</td>
                    </tr>

                </tbody>
            </table>

            <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=errorinfo>
                <p></p>
                <p ><span translate>Jabbernewtrans.opps</span><a style="color:blue" target="_blank" href="https://w3.ibm.com/help/#/" translate>employeeinfotrans.helpdesk</a><span translate>Jabbernewtrans.reportthismessage</span></p>
                <p>
                </p>
            </div>
            <div class="ds-hr-thick ds-mar-t-1_5"></div>
            <!-- Dark Background -->
            <div class="ds-loader-container" *ngIf="this.isSpinnerVisible">
                <div class="ds-loader-header">Your request submission is in progress.Do not Go back or Refresh the page.</div>
                <div class="ds-loader" role="alert" aria-busy="true" aria-label="Your request is being submitted. Do not refresh or go back."></div>
            </div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" value="BACK"
                (click)='BackButton()' *ngIf="this.isButtonVisible">
            </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
              <input type="submit" name="submit" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                value="SUBMIT" (click)="submit_snow()" *ngIf="this.isButtonVisible">
            </span>
                    </div>
                </div>
            </div>

        </form>


    </div>

</div>