
  $ds-icon-add: "\ea01";

  $ds-icon-add-alt: "\ea02";

  $ds-icon-add-comment: "\ea03";

  $ds-icon-arrow-down: "\ea04";

  $ds-icon-arrow-left: "\ea05";

  $ds-icon-arrow-right: "\ea06";

  $ds-icon-arrow-up: "\ea07";

  $ds-icon-arrows-horizontal: "\ea08";

  $ds-icon-arrows-vertical: "\ea09";

  $ds-icon-attachment: "\ea0a";

  $ds-icon-back-to-top: "\ea0b";

  $ds-icon-bookmark: "\ea0c";

  $ds-icon-box: "\ea0d";

  $ds-icon-bullhorn: "\ea0e";

  $ds-icon-calculator: "\ea0f";

  $ds-icon-calendar: "\ea10";

  $ds-icon-calendar-add: "\ea11";

  $ds-icon-camera: "\ea12";

  $ds-icon-caret-down: "\ea13";

  $ds-icon-caret-left: "\ea14";

  $ds-icon-caret-right: "\ea15";

  $ds-icon-caret-sort: "\ea16";

  $ds-icon-caret-up: "\ea17";

  $ds-icon-chart-area: "\ea18";

  $ds-icon-chart-bar: "\ea19";

  $ds-icon-chart-line: "\ea1a";

  $ds-icon-chat: "\ea1b";

  $ds-icon-checkbox: "\ea1c";

  $ds-icon-checkbox-checked: "\ea1d";

  $ds-icon-checkmark: "\ea1e";

  $ds-icon-checkmark-outline: "\ea1f";

  $ds-icon-chevron-down: "\ea20";

  $ds-icon-chevron-left: "\ea21";

  $ds-icon-chevron-outline-down: "\ea22";

  $ds-icon-chevron-outline-left: "\ea23";

  $ds-icon-chevron-outline-right: "\ea24";

  $ds-icon-chevron-outline-up: "\ea25";

  $ds-icon-chevron-right: "\ea26";

  $ds-icon-chevron-up: "\ea27";

  $ds-icon-close: "\ea28";

  $ds-icon-close-outline: "\ea29";

  $ds-icon-cloud: "\ea2a";

  $ds-icon-cloud-download: "\ea2b";

  $ds-icon-cloud-upload: "\ea2c";

  $ds-icon-code: "\ea2d";

  $ds-icon-copy: "\ea2e";

  $ds-icon-currency: "\ea2f";

  $ds-icon-cut: "\ea30";

  $ds-icon-dash: "\ea31";

  $ds-icon-data-vis-4: "\ea32";

  $ds-icon-diagram: "\ea33";

  $ds-icon-doc: "\ea34";

  $ds-icon-document: "\ea35";

  $ds-icon-document-add: "\ea36";

  $ds-icon-document-audio: "\ea37";

  $ds-icon-document-blank: "\ea38";

  $ds-icon-document-code: "\ea39";

  $ds-icon-document-sketch: "\ea3a";

  $ds-icon-document-tasks: "\ea3b";

  $ds-icon-document-video: "\ea3c";

  $ds-icon-download: "\ea3d";

  $ds-icon-edit: "\ea3e";

  $ds-icon-email: "\ea3f";

  $ds-icon-export: "\ea40";

  $ds-icon-face-activated: "\ea41";

  $ds-icon-face-dissatisfied: "\ea42";

  $ds-icon-face-dizzy: "\ea43";

  $ds-icon-face-neutral: "\ea44";

  $ds-icon-face-pending: "\ea45";

  $ds-icon-face-satisfied: "\ea46";

  $ds-icon-face-wink: "\ea47";

  $ds-icon-face-wow: "\ea48";

  $ds-icon-favorite: "\ea49";

  $ds-icon-favorite-filled: "\ea4a";

  $ds-icon-folder: "\ea4b";

  $ds-icon-folder-add: "\ea4c";

  $ds-icon-forum: "\ea4d";

  $ds-icon-grid: "\ea4e";

  $ds-icon-group: "\ea4f";

  $ds-icon-help: "\ea50";

  $ds-icon-home: "\ea51";

  $ds-icon-image: "\ea52";

  $ds-icon-information: "\ea53";

  $ds-icon-jpg: "\ea54";

  $ds-icon-launch: "\ea55";

  $ds-icon-link: "\ea56";

  $ds-icon-list-bulleted: "\ea57";

  $ds-icon-list-numbered: "\ea58";

  $ds-icon-location: "\ea59";

  $ds-icon-locked: "\ea5a";

  $ds-icon-logo-facebook: "\ea5b";

  $ds-icon-logo-github: "\ea5c";

  $ds-icon-logo-google: "\ea5d";

  $ds-icon-logo-instagram: "\ea5e";

  $ds-icon-logo-linkedin: "\ea5f";

  $ds-icon-logo-slack: "\ea60";

  $ds-icon-logo-twitter: "\ea61";

  $ds-icon-logo-youtube: "\ea62";

  $ds-icon-maximize: "\ea63";

  $ds-icon-media-library: "\ea64";

  $ds-icon-menu: "\ea65";

  $ds-icon-microphone: "\ea66";

  $ds-icon-microphone-filled: "\ea67";

  $ds-icon-microphone-off: "\ea68";

  $ds-icon-microphone-off-filled: "\ea69";

  $ds-icon-mobile: "\ea6a";

  $ds-icon-move: "\ea6b";

  $ds-icon-new: "\ea6c";

  $ds-icon-notification: "\ea6d";

  $ds-icon-overflow-menu-horizontal: "\ea6e";

  $ds-icon-overflow-menu-vertical: "\ea6f";

  $ds-icon-page-first: "\ea70";

  $ds-icon-page-last: "\ea71";

  $ds-icon-paste: "\ea72";

  $ds-icon-pause: "\ea73";

  $ds-icon-pause-filled: "\ea74";

  $ds-icon-pdf: "\ea75";

  $ds-icon-phone: "\ea76";

  $ds-icon-play: "\ea77";

  $ds-icon-play-filled-alt: "\ea78";

  $ds-icon-ppt: "\ea79";

  $ds-icon-printer: "\ea7a";

  $ds-icon-product: "\ea7b";

  $ds-icon-purchase: "\ea7c";

  $ds-icon-radio-button: "\ea7d";

  $ds-icon-radio-button-filled: "\ea7e";

  $ds-icon-recommend: "\ea7f";

  $ds-icon-request-quote: "\ea80";

  $ds-icon-reset: "\ea81";

  $ds-icon-restart: "\ea82";

  $ds-icon-rotate: "\ea83";

  $ds-icon-rss: "\ea84";

  $ds-icon-save: "\ea85";

  $ds-icon-screen: "\ea86";

  $ds-icon-search: "\ea87";

  $ds-icon-settings: "\ea88";

  $ds-icon-settings-adjust: "\ea89";

  $ds-icon-share: "\ea8a";

  $ds-icon-shopping-cart: "\ea8b";

  $ds-icon-sort-ascending: "\ea8c";

  $ds-icon-sort-descending: "\ea8d";

  $ds-icon-star: "\ea8e";

  $ds-icon-star-filled: "\ea8f";

  $ds-icon-star-half: "\ea90";

  $ds-icon-stop: "\ea91";

  $ds-icon-stop-filled-alt: "\ea92";

  $ds-icon-subtract: "\ea93";

  $ds-icon-subtract-alt: "\ea94";

  $ds-icon-tablet: "\ea95";

  $ds-icon-tag: "\ea96";

  $ds-icon-text-align-center: "\ea97";

  $ds-icon-text-align-justify: "\ea98";

  $ds-icon-text-align-left: "\ea99";

  $ds-icon-text-align-right: "\ea9a";

  $ds-icon-text-bold: "\ea9b";

  $ds-icon-text-clear-format: "\ea9c";

  $ds-icon-text-fill: "\ea9d";

  $ds-icon-text-indent-less: "\ea9e";

  $ds-icon-text-indent-more: "\ea9f";

  $ds-icon-text-insert: "\eaa0";

  $ds-icon-text-italic: "\eaa1";

  $ds-icon-text-scale: "\eaa2";

  $ds-icon-text-underline: "\eaa3";

  $ds-icon-thumbs-down: "\eaa4";

  $ds-icon-thumbs-up: "\eaa5";

  $ds-icon-time: "\eaa6";

  $ds-icon-tools: "\eaa7";

  $ds-icon-translate: "\eaa8";

  $ds-icon-trash-can: "\eaa9";

  $ds-icon-travel: "\eaaa";

  $ds-icon-unlocked: "\eaab";

  $ds-icon-upload: "\eaac";

  $ds-icon-user: "\eaad";

  $ds-icon-user-role: "\eaae";

  $ds-icon-video: "\eaaf";

  $ds-icon-video-chat: "\eab0";

  $ds-icon-video-filled: "\eab1";

  $ds-icon-view: "\eab2";

  $ds-icon-volume-down: "\eab3";

  $ds-icon-volume-down-filled: "\eab4";

  $ds-icon-volume-max: "\eab5";

  $ds-icon-volume-max-filled: "\eab6";

  $ds-icon-volume-mid: "\eab7";

  $ds-icon-volume-mid-filled: "\eab8";

  $ds-icon-volume-min: "\eab9";

  $ds-icon-volume-min-filled: "\eaba";

  $ds-icon-volume-mute: "\eabb";

  $ds-icon-volume-mute-filled: "\eabc";

  $ds-icon-volume-none: "\eabd";

  $ds-icon-volume-none-filled: "\eabe";

  $ds-icon-volume-up: "\eabf";

  $ds-icon-volume-up-filled: "\eac0";

  $ds-icon-warning-alt: "\eac1";

  $ds-icon-wikis: "\eac2";

  $ds-icon-wireless: "\eac3";

  $ds-icon-xls: "\eac4";

  $ds-icon-zip: "\eac5";

  $ds-icon-zoom-in: "\eac6";

  $ds-icon-zoom-out: "\eac7";


@font-face {
  font-family: "w3ds-icons";
  font-style: normal;
  font-weight: 400;
  font-display: auto;
  src: url("./icons/w3ds-icons.eot");
  src: url("./icons/w3ds-icons.eot?#iefix") format("embedded-opentype"), url("./icons/w3ds-icons.woff2") format("woff2"), url("./icons/w3ds-icons.woff") format("woff"), url("./icons/w3ds-icons.ttf") format("truetype"), url("./icons/w3ds-icons.svg#w3ds-icons") format("svg");
}

%ds-icon {
display: inline-block;
  font-family: "w3ds-icons";
  font-weight: 400;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  line-height: 1;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.ds-icon {
  @extend %ds-icon;
}

.ds-icon-lg {
  font-size: 1.33333em;
  line-height: 0.75em;
  vertical-align: -0.0667em;
}

.ds-icon-xs {
  font-size: 0.75em;
}

.ds-icon-sm {
  font-size: 0.875em;
}

.ds-icon-1x {
  font-size: 1em;
}

.ds-icon-2x {
  font-size: 2em;
}

.ds-icon-3x {
  font-size: 3em;
}

.ds-icon-4x {
  font-size: 4em;
}

.ds-icon-5x {
  font-size: 5em;
}

.ds-icon-6x {
  font-size: 6em;
}

.ds-icon-7x {
  font-size: 7em;
}

.ds-icon-8x {
  font-size: 8em;
}

.ds-icon-9x {
  font-size: 9em;
}

.ds-icon-10x {
  font-size: 10em;
}

.ds-icon-fw {
  text-align: center;
  width: 1.25em;
}

.ds-icon-border {
  border: solid 0.08em #eee;
  border-radius: 0.1em;
  padding: 0.2em 0.25em 0.15em;
}

.ds-icon-pull-left {
  float: left;
}

.ds-icon-pull-right {
  float: right;
}

.ds-icon.ds-icon-pull-left {
  margin-right: 0.3em;
}

.ds-icon.ds-icon-pull-right {
  margin-left: 0.3em;
}


.ds-icon-add::before {
    content: "\ea01";
}

.ds-icon-add-alt::before {
    content: "\ea02";
}

.ds-icon-add-comment::before {
    content: "\ea03";
}

.ds-icon-arrow-down::before {
    content: "\ea04";
}

.ds-icon-arrow-left::before {
    content: "\ea05";
}

.ds-icon-arrow-right::before {
    content: "\ea06";
}

.ds-icon-arrow-up::before {
    content: "\ea07";
}

.ds-icon-arrows-horizontal::before {
    content: "\ea08";
}

.ds-icon-arrows-vertical::before {
    content: "\ea09";
}

.ds-icon-attachment::before {
    content: "\ea0a";
}

.ds-icon-back-to-top::before {
    content: "\ea0b";
}

.ds-icon-bookmark::before {
    content: "\ea0c";
}

.ds-icon-box::before {
    content: "\ea0d";
}

.ds-icon-bullhorn::before {
    content: "\ea0e";
}

.ds-icon-calculator::before {
    content: "\ea0f";
}

.ds-icon-calendar::before {
    content: "\ea10";
}

.ds-icon-calendar-add::before {
    content: "\ea11";
}

.ds-icon-camera::before {
    content: "\ea12";
}

.ds-icon-caret-down::before {
    content: "\ea13";
}

.ds-icon-caret-left::before {
    content: "\ea14";
}

.ds-icon-caret-right::before {
    content: "\ea15";
}

.ds-icon-caret-sort::before {
    content: "\ea16";
}

.ds-icon-caret-up::before {
    content: "\ea17";
}

.ds-icon-chart-area::before {
    content: "\ea18";
}

.ds-icon-chart-bar::before {
    content: "\ea19";
}

.ds-icon-chart-line::before {
    content: "\ea1a";
}

.ds-icon-chat::before {
    content: "\ea1b";
}

.ds-icon-checkbox::before {
    content: "\ea1c";
}

.ds-icon-checkbox-checked::before {
    content: "\ea1d";
}

.ds-icon-checkmark::before {
    content: "\ea1e";
}

.ds-icon-checkmark-outline::before {
    content: "\ea1f";
}

.ds-icon-chevron-down::before {
    content: "\ea20";
}

.ds-icon-chevron-left::before {
    content: "\ea21";
}

.ds-icon-chevron-outline-down::before {
    content: "\ea22";
}

.ds-icon-chevron-outline-left::before {
    content: "\ea23";
}

.ds-icon-chevron-outline-right::before {
    content: "\ea24";
}

.ds-icon-chevron-outline-up::before {
    content: "\ea25";
}

.ds-icon-chevron-right::before {
    content: "\ea26";
}

.ds-icon-chevron-up::before {
    content: "\ea27";
}

.ds-icon-close::before {
    content: "\ea28";
}

.ds-icon-close-outline::before {
    content: "\ea29";
}

.ds-icon-cloud::before {
    content: "\ea2a";
}

.ds-icon-cloud-download::before {
    content: "\ea2b";
}

.ds-icon-cloud-upload::before {
    content: "\ea2c";
}

.ds-icon-code::before {
    content: "\ea2d";
}

.ds-icon-copy::before {
    content: "\ea2e";
}

.ds-icon-currency::before {
    content: "\ea2f";
}

.ds-icon-cut::before {
    content: "\ea30";
}

.ds-icon-dash::before {
    content: "\ea31";
}

.ds-icon-data-vis-4::before {
    content: "\ea32";
}

.ds-icon-diagram::before {
    content: "\ea33";
}

.ds-icon-doc::before {
    content: "\ea34";
}

.ds-icon-document::before {
    content: "\ea35";
}

.ds-icon-document-add::before {
    content: "\ea36";
}

.ds-icon-document-audio::before {
    content: "\ea37";
}

.ds-icon-document-blank::before {
    content: "\ea38";
}

.ds-icon-document-code::before {
    content: "\ea39";
}

.ds-icon-document-sketch::before {
    content: "\ea3a";
}

.ds-icon-document-tasks::before {
    content: "\ea3b";
}

.ds-icon-document-video::before {
    content: "\ea3c";
}

.ds-icon-download::before {
    content: "\ea3d";
}

.ds-icon-edit::before {
    content: "\ea3e";
}

.ds-icon-email::before {
    content: "\ea3f";
}

.ds-icon-export::before {
    content: "\ea40";
}

.ds-icon-face-activated::before {
    content: "\ea41";
}

.ds-icon-face-dissatisfied::before {
    content: "\ea42";
}

.ds-icon-face-dizzy::before {
    content: "\ea43";
}

.ds-icon-face-neutral::before {
    content: "\ea44";
}

.ds-icon-face-pending::before {
    content: "\ea45";
}

.ds-icon-face-satisfied::before {
    content: "\ea46";
}

.ds-icon-face-wink::before {
    content: "\ea47";
}

.ds-icon-face-wow::before {
    content: "\ea48";
}

.ds-icon-favorite::before {
    content: "\ea49";
}

.ds-icon-favorite-filled::before {
    content: "\ea4a";
}

.ds-icon-folder::before {
    content: "\ea4b";
}

.ds-icon-folder-add::before {
    content: "\ea4c";
}

.ds-icon-forum::before {
    content: "\ea4d";
}

.ds-icon-grid::before {
    content: "\ea4e";
}

.ds-icon-group::before {
    content: "\ea4f";
}

.ds-icon-help::before {
    content: "\ea50";
}

.ds-icon-home::before {
    content: "\ea51";
}

.ds-icon-image::before {
    content: "\ea52";
}

.ds-icon-information::before {
    content: "\ea53";
}

.ds-icon-jpg::before {
    content: "\ea54";
}

.ds-icon-launch::before {
    content: "\ea55";
}

.ds-icon-link::before {
    content: "\ea56";
}

.ds-icon-list-bulleted::before {
    content: "\ea57";
}

.ds-icon-list-numbered::before {
    content: "\ea58";
}

.ds-icon-location::before {
    content: "\ea59";
}

.ds-icon-locked::before {
    content: "\ea5a";
}

.ds-icon-logo-facebook::before {
    content: "\ea5b";
}

.ds-icon-logo-github::before {
    content: "\ea5c";
}

.ds-icon-logo-google::before {
    content: "\ea5d";
}

.ds-icon-logo-instagram::before {
    content: "\ea5e";
}

.ds-icon-logo-linkedin::before {
    content: "\ea5f";
}

.ds-icon-logo-slack::before {
    content: "\ea60";
}

.ds-icon-logo-twitter::before {
    content: "\ea61";
}

.ds-icon-logo-youtube::before {
    content: "\ea62";
}

.ds-icon-maximize::before {
    content: "\ea63";
}

.ds-icon-media-library::before {
    content: "\ea64";
}

.ds-icon-menu::before {
    content: "\ea65";
}

.ds-icon-microphone::before {
    content: "\ea66";
}

.ds-icon-microphone-filled::before {
    content: "\ea67";
}

.ds-icon-microphone-off::before {
    content: "\ea68";
}

.ds-icon-microphone-off-filled::before {
    content: "\ea69";
}

.ds-icon-mobile::before {
    content: "\ea6a";
}

.ds-icon-move::before {
    content: "\ea6b";
}

.ds-icon-new::before {
    content: "\ea6c";
}

.ds-icon-notification::before {
    content: "\ea6d";
}

.ds-icon-overflow-menu-horizontal::before {
    content: "\ea6e";
}

.ds-icon-overflow-menu-vertical::before {
    content: "\ea6f";
}

.ds-icon-page-first::before {
    content: "\ea70";
}

.ds-icon-page-last::before {
    content: "\ea71";
}

.ds-icon-paste::before {
    content: "\ea72";
}

.ds-icon-pause::before {
    content: "\ea73";
}

.ds-icon-pause-filled::before {
    content: "\ea74";
}

.ds-icon-pdf::before {
    content: "\ea75";
}

.ds-icon-phone::before {
    content: "\ea76";
}

.ds-icon-play::before {
    content: "\ea77";
}

.ds-icon-play-filled-alt::before {
    content: "\ea78";
}

.ds-icon-ppt::before {
    content: "\ea79";
}

.ds-icon-printer::before {
    content: "\ea7a";
}

.ds-icon-product::before {
    content: "\ea7b";
}

.ds-icon-purchase::before {
    content: "\ea7c";
}

.ds-icon-radio-button::before {
    content: "\ea7d";
}

.ds-icon-radio-button-filled::before {
    content: "\ea7e";
}

.ds-icon-recommend::before {
    content: "\ea7f";
}

.ds-icon-request-quote::before {
    content: "\ea80";
}

.ds-icon-reset::before {
    content: "\ea81";
}

.ds-icon-restart::before {
    content: "\ea82";
}

.ds-icon-rotate::before {
    content: "\ea83";
}

.ds-icon-rss::before {
    content: "\ea84";
}

.ds-icon-save::before {
    content: "\ea85";
}

.ds-icon-screen::before {
    content: "\ea86";
}

.ds-icon-search::before {
    content: "\ea87";
}

.ds-icon-settings::before {
    content: "\ea88";
}

.ds-icon-settings-adjust::before {
    content: "\ea89";
}

.ds-icon-share::before {
    content: "\ea8a";
}

.ds-icon-shopping-cart::before {
    content: "\ea8b";
}

.ds-icon-sort-ascending::before {
    content: "\ea8c";
}

.ds-icon-sort-descending::before {
    content: "\ea8d";
}

.ds-icon-star::before {
    content: "\ea8e";
}

.ds-icon-star-filled::before {
    content: "\ea8f";
}

.ds-icon-star-half::before {
    content: "\ea90";
}

.ds-icon-stop::before {
    content: "\ea91";
}

.ds-icon-stop-filled-alt::before {
    content: "\ea92";
}

.ds-icon-subtract::before {
    content: "\ea93";
}

.ds-icon-subtract-alt::before {
    content: "\ea94";
}

.ds-icon-tablet::before {
    content: "\ea95";
}

.ds-icon-tag::before {
    content: "\ea96";
}

.ds-icon-text-align-center::before {
    content: "\ea97";
}

.ds-icon-text-align-justify::before {
    content: "\ea98";
}

.ds-icon-text-align-left::before {
    content: "\ea99";
}

.ds-icon-text-align-right::before {
    content: "\ea9a";
}

.ds-icon-text-bold::before {
    content: "\ea9b";
}

.ds-icon-text-clear-format::before {
    content: "\ea9c";
}

.ds-icon-text-fill::before {
    content: "\ea9d";
}

.ds-icon-text-indent-less::before {
    content: "\ea9e";
}

.ds-icon-text-indent-more::before {
    content: "\ea9f";
}

.ds-icon-text-insert::before {
    content: "\eaa0";
}

.ds-icon-text-italic::before {
    content: "\eaa1";
}

.ds-icon-text-scale::before {
    content: "\eaa2";
}

.ds-icon-text-underline::before {
    content: "\eaa3";
}

.ds-icon-thumbs-down::before {
    content: "\eaa4";
}

.ds-icon-thumbs-up::before {
    content: "\eaa5";
}

.ds-icon-time::before {
    content: "\eaa6";
}

.ds-icon-tools::before {
    content: "\eaa7";
}

.ds-icon-translate::before {
    content: "\eaa8";
}

.ds-icon-trash-can::before {
    content: "\eaa9";
}

.ds-icon-travel::before {
    content: "\eaaa";
}

.ds-icon-unlocked::before {
    content: "\eaab";
}

.ds-icon-upload::before {
    content: "\eaac";
}

.ds-icon-user::before {
    content: "\eaad";
}

.ds-icon-user-role::before {
    content: "\eaae";
}

.ds-icon-video::before {
    content: "\eaaf";
}

.ds-icon-video-chat::before {
    content: "\eab0";
}

.ds-icon-video-filled::before {
    content: "\eab1";
}

.ds-icon-view::before {
    content: "\eab2";
}

.ds-icon-volume-down::before {
    content: "\eab3";
}

.ds-icon-volume-down-filled::before {
    content: "\eab4";
}

.ds-icon-volume-max::before {
    content: "\eab5";
}

.ds-icon-volume-max-filled::before {
    content: "\eab6";
}

.ds-icon-volume-mid::before {
    content: "\eab7";
}

.ds-icon-volume-mid-filled::before {
    content: "\eab8";
}

.ds-icon-volume-min::before {
    content: "\eab9";
}

.ds-icon-volume-min-filled::before {
    content: "\eaba";
}

.ds-icon-volume-mute::before {
    content: "\eabb";
}

.ds-icon-volume-mute-filled::before {
    content: "\eabc";
}

.ds-icon-volume-none::before {
    content: "\eabd";
}

.ds-icon-volume-none-filled::before {
    content: "\eabe";
}

.ds-icon-volume-up::before {
    content: "\eabf";
}

.ds-icon-volume-up-filled::before {
    content: "\eac0";
}

.ds-icon-warning-alt::before {
    content: "\eac1";
}

.ds-icon-wikis::before {
    content: "\eac2";
}

.ds-icon-wireless::before {
    content: "\eac3";
}

.ds-icon-xls::before {
    content: "\eac4";
}

.ds-icon-zip::before {
    content: "\eac5";
}

.ds-icon-zoom-in::before {
    content: "\eac6";
}

.ds-icon-zoom-out::before {
    content: "\eac7";
}

