<app-topcountryframe></app-topcountryframe>


<div class=" ds-panel ds-col-12"></div>

<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
  <div class="ds-col-md-4 ds-col-xl-4">
    <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData"></app-navigation>
  </div>
  <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
    <form [hidden]="isEntryFormMove" (submit)='entryDetailsMove(formData)' #formData='ngForm'>

      <b translate>servicestitle.Request Move Jabber service</b>

      <div class="ds-pad-t-0_5 ds-pad-b-1" >
        <span translate>Jabberentrydetails.Fieldsasterisk</span> (<span class="ds-text-contextual-red-2">*</span>) <span translate>Jabberentrydetails.arerequired</span>
      </div>
      <div class=" ds-panel ds-col-12 "></div>

      <app-steps [step]="servicesData.step" [isSelf]="reqFor" [hideSteps]="hideSteps" (previousStep)="previousStep($event)"></app-steps>


      <h2 id="h22" class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 " translate>Jabberentrydetails.EmployeeEntryDetails</h2>
      <div id="b1" class="ds-col-xs-12 ds-alert ds-warning" *ngIf=warninginfo>
        <p translate>employeeinfotrans.nojabber</p>
      </div>
      <div id="req_stat_del" class="ds-col-xs-12 ds-alert ds-warning" *ngIf=warninginfosnow>
        <p><span style="font-size: 1rem;"><span translate>employeeinfotrans.alreadyonemoverequestinprogress</span> {{identifier}}.<br>

            <span translate>employeeinfotrans.ongoingrequestsbyclickonrequestpage</span><br>

            <span translate>employeeinfotrans.furtherassistance </span> <a style="color:blue" target="_blank"
              href="https://ibm-cio.slack.com/archives/C0133EDUGVB">#voice-at-ibm</a>.<br></span></p>
      </div>
      <table width="100%" cellspacing="0" cellpadding="0" border="0" *ngIf="warninginfo==false && warninginfosnow==false ">
        <tbody>
          <tr valign="top">
            <td colspan="2" width="46%">
              <label for="IdentifierId" class="ds-text-capitalize" translate>Jabbermove.JabbertoMove</label>
              <span class="ds-text-contextual-red-2">*</span>
            </td>
            <td width="54%" height="10">
              <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                <select ngModel #jabberNumberVal (change)="getjabberNumberVal(jabberNumberVal.value)"
                  name="Identifier_Selected" id="IdentifierId" class="ds-title ds-align-text-left"
                  style="width:300px !important; text-transform: uppercase;" title="Identifier to Move">
                  <option value="">Select One</option>
                  <option *ngFor="let jab of jabberNumber" [value]="jab">{{jab}}</option>
                </select>
              </div>
            </td>
          </tr>
        </tbody>
      </table>

      <div *ngIf="displayDiv">
        <table id="t1" width="100%" cellspacing="0" cellpadding="0" border="0">
          <tbody>
            <tr valign="top">
              <td colspan="2" width="46%" height="10"><label for="LocationId" class="ds-text-capitalize" translate> Jabberentrydetails.OfficeLocation</label>
                <span class="ds-text-contextual-red-2">*</span>
              </td>
              <td width="54%" height="10">
                <div class="ds-dropdown ds-secondary" tabindex="0" role="menu" aria-label="w3DS Dropdown1">
                  <select rows="2" name="Location_1" cols="40" id="LocationId" class="ds-title ds-align-text-left"
                    style="width:300px !important; text-transform: uppercase;" title="Office Location" tabindex="1"
                    #location (change)='selectedLocation(location.value)' ngModel>
                    <option value="">Select Office Location</option>
                    <option name="Location_1" *ngFor='let fl_location of camp' [value]='fl_location'>
                      {{ fl_location }}</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr valign="top" [hidden]='hideBuilding'>
              <td colspan="2" width="46%"><label for="builId" class="ds-text-capitalize" translate> Jabberentrydetails.Campus</label>
                <span class="ds-text-contextual-red-2">*</span>
              </td>
              <td width="54%">
                <div class="ds-dropdown ds-secondary" tabindex="0" role="menu" aria-label="w3DS Dropdown1">
                  <select name="Buildings" rows="2" cols="40" id="LocationId_1_1" class="ds-title ds-align-text-left"
                    style="width:300px !important; text-transform: uppercase;" title="Campus" tabindex="1"
                    [(ngModel)]='campus'>
                    <option value="">Select One</option>
                    <option *ngFor="let fl_campus of build" [value]='fl_campus'>{{ fl_campus }}</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr valign="top">
              <td colspan="2" width="46%"><label for="addId" class="ds-text-capitalize ds-padding-top-2" translate>Jabberentrydetails.Funded</label>
              </td>
              <td width="54%">
                <div class="ds-mar-b-1">
                  <div class="ds-input-radio-group">
                    <label for="radio1" class="ds-input-radio ds-pad-r-1" style="display:inline">
                      <input type="radio" [(ngModel)]="Voice_Type" name="Voice_Type" id="radio1" class="ds-input"
                        value="Yes" (click)='showChargeDepartmentCode()'>
                      <div class="ds-input-control"></div><span class="ds-pad-l-0_5">Yes</span>
                    </label><label for="radio2" class="ds-input-radio ds-pad-r-1" style="display:inline">
                      <input type="radio" [(ngModel)]="Voice_Type" checked name="Voice_Type" id="radio2"
                        class="ds-input" value="No" (click)='hideChargeDepartmentCode()'>
                      <div class="ds-input-control"></div><span class="ds-pad-l-0_5">No</span>
                    </label>
                  </div>
                </div>
              </td>
            </tr>

            <tr valign="top" [hidden]='hideDeptCode'>
              <td colspan="2" width="46%">
                <div id="d1"><label for="addId" class="ds-text-capitalize ds-pad-t-1" translate>Jabberentrydetails.ChargeDepartmentCode</label> <span class="ds-text-contextual-red-2">*</span></div>
              </td>
              <td width="54%">
                <div id="d21" class="ds-input-container ">
                  <input name="Department_number" value="" maxlength='6' tabindex="4" id="d2" class="ds-input"
                    style="width: 300px !important;"
                    title="Contact FirstLine Manager\Project Manager for Charge Department Code" autocomplete="off"
                    ngModel>
                  <div id="Mentor1Div"></div>
                </div>
              </td>
            </tr>
            <tr valign="top">
              <td colspan="2" width="46%">
                <label for="addId" class="ds-text-capitalize" translate>Jabberentrydetails.BusinessUnit</label>
              </td>
              <td width="54%">
                <div class="ds-input-container ">{{ employeeInfo.businessUnit}}</div>
              </td>
            </tr>
            <tr valign="top" [hidden]='hideProjectId'>
              <td colspan="2" width="46%">
                <label for="Projectid" class="ds-text-capitalize ds-pad-t-1" translate>Jabbermove.ProjectIId</label>
                <span class="ds-text-contextual-red-2"> *</span>
              </td>
              <td width="54%">
                <div class="ds-input-container">
                  <input ngModel name="Projectid" value="" rows="2" maxlength='6' cols="40" id="Projectid" class="ds-input"
                    style="width:300px !important;" title="Project id">
                </div>
              </td>
            </tr>
            <tr valign="top">
              <td colspan="2" width="46%">
                <label for="accid" class="ds-text-capitalize ds-pad-b-1" translate>Jabbermove.AccountId</label>
                <span class="ds-text-contextual-red-2">*</span>
              </td>
              <td width="54%">
                <div class="ds-input-container ">
                  <input ngModel name="accid" value="" maxlength='6' id="accid" class="ds-input" style="width:300px !important;"
                    title="Account Id">
                </div>
              </td>
            </tr>
            <tr valign="top">
              <td colspan="2" width="46%">
                <label for="icano" class="ds-text-capitalize" translate>Jabbermove.ICACode</label>
                <span class="ds-text-contextual-red-2">*</span>
              </td>
              <td width="54%">
                <div class="ds-input-container ">
                  <input ngModel name="icano" value="" id="icano" maxlength='6' class="ds-input" style="width:300px !important;"
                    title="ICA Code">
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <br><br>

      <div class=" ds-panel ds-col-12 "></div>
      <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
        <div class="ds-tray-fit-content ds-mar-b-0">
          <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
            <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" value="Back"
                (click)="backClick()">
            </span>
            <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
              <input type="submit" name="next" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                value="Next" *ngIf="warninginfo==false && warninginfosnow==false "><br>
            </span>
          </div>
        </div>
      </div>


    </form>


    <form [hidden]="isReviewFormMove">
      <b translate>servicestitle.Request Move Jabber service</b>
      <div class="ds-pad-b-1" translate>Jabberentrydetails.toprocessPI
      </div>
      <div class="ds-hr-thick ds-mar-b-1_5"></div>

      <app-steps [step]="servicesData.step+1" [isSelf]="reqFor" [hideSteps]="" (previousStep)="previousStep($event)">
      </app-steps>
      <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-padding-left-0_5 " translate>Jabberentrydetails.JabberRequestDetails</h2>



      <table id="t2" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>
          <tr valign="top">
            <td colspan="2" width="46%" height="10">
              <label for="addId1" translate>Jabbermove.JabbertoMove</label>
            </td>
            <td width="54%" height="10">{{reviewDetailsIndia.jabberNumbertoMove}}</td>
          </tr>
          <tr valign="top">
            <td colspan="2" width="46%" height="10">
              <label for="addId1" translate>Jabbermove.NewOfficeLocation</label>
            </td>
            <td width="54%" height="10">{{reviewDetailsIndia.officeLocation}}</td>
          </tr>
          <tr valign="top">
            <td colspan="2" width="46%">
              <label for="addId1" translate>Jabbermove.Building</label>
            </td>
            <td width="54%">{{reviewDetailsIndia.campus}}</td>
          </tr>
          <!--</tbody>
      </table>

      <table id="t1" width="100%" cellspacing="0" cellpadding="0" border="0">
        <tbody>-->
          <tr valign="top">
            <td colspan="2" width="46%">
              <label for="addId1" translate>Jabberentrydetails.Funded</label>
            </td>
            <td width="54%">{{reviewDetailsIndia.funded}}</td>
          </tr>

          <tr valign="top" [hidden]="hideDeptCode">
            <td colspan="2" width="46%">
              <label for="addId1" translate>Jabberentrydetails.ChargeDepartmentCode</label>
            </td>
            <td width="54%">{{reviewDetailsIndia.chargeDepartmentCode}}</td>
          </tr>

          <tr valign="top">
            <td colspan="2" width="46%">
              <label for="addId1" translate>Jabberentrydetails.BusinessUnit</label>
            </td>
            <td width="54%">{{reviewDetailsIndia.businessUnit}}</td>
          </tr>

          <tr valign="top" [hidden]='hideProjectId'>
            <td colspan="2" width="46%">
              <label for="Projectid" translate>Jabbermove.ProjectIId</label>
            </td>
            <td width="54%">{{reviewDetailsIndia.projectId}}</td>
          </tr>

          <tr valign="top">
            <td colspan="2" width="46%">
              <label for="Projectid" translate>Jabbermove.AccountId</label>
            </td>
            <td width="54%">{{reviewDetailsIndia.accid_Disp}}</td>
          </tr>

          <tr valign="top">
            <td colspan="2" width="46%">
              <label for="icano" translate>Jabbermove.ICACode</label>
            </td>
            <td width="54%">{{reviewDetailsIndia.icano_Disp}}</td>
          </tr>
        </tbody>
      </table>

      <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=errorinfo><p></p>
        <p translate>Jabbernewtrans.opps</p><p>
    </p></div>

      <div class="ds-hr-thick ds-mar-t-1_5"></div>
      <!-- Dark Background -->
      <div class="ds-loader-container" *ngIf="this.isSpinnerVisible">
        <div class="ds-loader-header" translate>requesttrans.beingsubmitted</div>
        <div class="ds-loader" role="alert" aria-busy="true"
          aria-label="Your request is being submitted. Do not refresh or go back."></div>
      </div>
      <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
        <div class="ds-tray-fit-content ds-mar-b-0">
          <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
            <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" value="Back"
                (click)='BackButton()' *ngIf="this.isButtonVisible && !errorinfo">
            </span>
            <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
              <input type="submit" name="submit" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                value="Submit" (click)="submit_snow()" *ngIf="this.isButtonVisible && !errorinfo">
            </span>
            <input type="button" name="exit" *ngIf="errorinfo"type="button" class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" [routerLink]="['/jabberservices']" [queryParams]="{country:pcode,service:service}" value="EXIT REQUEST">
        
          </div>
        </div>
      </div>

    </form>
  </div>