<div class="ds-row ds-pad-t-1 ds-pad-b-2" *ngIf="display">
    <div class="ds-panel ds-bg-neutral-warm-1 ds-no-border ">
        <ul class="ds-list-unstyled ds-hover" translate>
            <li *ngFor="let nav of dataNav123.data[0].lhs; let i=index" [ngClass]="i==selectedItem ? getNavActiveClass(i) : getNavClass(i) "   [title]="getNavTitle(nav.tooltip)">
                <a translate (click)="clickEvent(i)" [routerLink]="nav.routingname" [queryParams]="{country:pcode, service: nav.param}" [ngClass]="i==selectedItem ? 'ds-text-contextual-blue-5' : 'ds-text-neutral-7' ">lhs.{{nav.name}}</a>
            </li>
        </ul>
    </div>
</div>