<div class="ds-row ds-pad-t-2 ds-pad-b-1">
    <div class="ds-col-12">
        <div class="ds-text-align-center">
            <img class="ds-border-neutral-5" src="././assets/744.png">
            <h2><b>India</b></h2>
        </div>
    </div>
</div>

<div class=" ds-panel ds-col-12"></div>

<div class="ds-row ds-pad-t-1 ds-pad-b-2 ds-pad-l-5">
  <div class="ds-col-sm-12 ds-col-md-2 ds-col-xl-4">
    <div class="ds-panel ds-bg-neutral-warm-1 ds-no-border ">
      <ul class="ds-list-unstyled ds-hover ">
        <li class="ds-panel-segment ds-nav-item ds-text-uppercase"><a class="ds-text-neutral-7"
            href="/tools/voice/SPOEProdUI.nsf/EntryPageUI?OpenForm&amp;IN" [routerLink]="['/services']">Services</a></li>
        <li class="ds-panel-segment ds-pad-l-2 ds-bg-blue-1 ds-text-uppercase"><a class="ds-text-contextual-blue-5"
            href="/tools/voice/SPOEProdUI.nsf/EntryPageUI?OpenForm&amp;VOIP_IN">Jabber</a></li>
            <li class="ds-panel-segment ds-pad-l-2 ds-text-uppercase"><a class="ds-text-neutral-7"
              href="/tools/voice/SPOEProdUI.nsf/EntryPageUI?OpenForm&amp;VOIP_IN">FAC Code</a></li>
        <li class="ds-panel-segment ds-text-uppercase"><a class="ds-text-neutral-7"
            href="/tools/voice/SPOEProdUI.nsf/StatusApproval?OpenForm&amp;Approval_IN_MgrApproval">Approvals
            Pending</a></li>
        <li class="ds-panel-segment ds-text-uppercase"><a class="ds-text-neutral-7"
            href="/tools/voice/SPOEProdUI.nsf/StatusRequestRevalidation?OpenForm&amp;VOIP_IN_Deptcode">Revalidation
            Pending</a></li>
        <li class="ds-panel-segment ds-text-uppercase"><a class="ds-text-neutral-7"
            href="/tools/voice/SPOEProdUI.nsf/EmployeeSearch_summary?OpenForm&amp;EN_Summary_IN_Summary">Resources</a>
        </li>
        <li class="ds-panel-segment ds-text-uppercase"><a class="ds-text-neutral-7"
            href="/tools/voice/SPOEProdUI.nsf/EmployeeSearch_summary?OpenForm&amp;TOOL_IN_Request">Requests</a>
        </li> 
      </ul>
    </div>
  </div>

  <div class="ds-col-sm-2 ds-col-md-7 ds-padding-left-2">
    <p class="lead-in">Please click on a request type below to initiate a Jabber service request. </p>
    <div class="ds-col-12">
      <div class="ds-panel">
        <div class="ds-panel-container">
          <a href="./EmployeeSearch?OpenForm&amp;VOIP_IN_New" style="text-decoration: none;">
            <table>
              <tbody>
                <tr>
                  <td><img src="././assets/arr.png"></td>
                  <td><span class="ds-text-blue-6 ds-pad-l-1"><b>Request a new service</b></span></td>
                </tr>
              </tbody>
            </table>
          </a>
        </div>
      </div><br>
      <div class="ds-panel">
        <div class="ds-panel-container">
          <a href="./EmployeeSearch?OpenForm&amp;VOIP_IN_Update" style="text-decoration: none;">
            <table>
              <tbody>
                <tr>
                  <td><img src="././assets/arr.png"></td>
                  <td><span class="ds-padding-left-1 ds-text-blue-6 ds-pad-l-1"><b>Update an existing service</b></span></td>
                </tr>
              </tbody>
            </table>
          </a>
        </div>
      </div><br>
      <div class="ds-panel">
        <div class="ds-panel-container">
          <a href="./EmployeeSearch?OpenForm&amp;VOIP_IN_Move" style="text-decoration: none;">
            <table>
              <tbody>
                <tr>
                  <td><img src="././assets/arr.png"></td>
                  <td><span class="ds-padding-left-1 ds-text-blue-6 ds-pad-l-1"><b>Move an existing service</b></span></td>
                </tr>
              </tbody>
            </table>
          </a>
        </div>
      </div><br>
      <div class="ds-panel">
        <div class="ds-panel-container">
          <a href="./EmployeeSearch?OpenForm&amp;VOIP_IN_Delete" style="text-decoration: none;">
            <table>
              <tbody>
                <tr>
                  <td><img src="././assets/arr.png"></td>
                  <td><span class="ds-padding-left-1 ds-text-blue-6 ds-pad-l-1"><b>Delete an existing service</b></span></td>
                </tr>
              </tbody>
            </table>
          </a>
        </div>
      </div><br>
    </div>
  </div>
