<app-topcountryframe></app-topcountryframe>
<div class=" ds-panel ds-col-12"></div>
<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" ></app-navigation>
    </div>
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
        <p class="lead-in" translate>Jabberservices.initiateJabber </p>
        <div class="ds-col-12" *ngIf="linkv.includes('new')">
            <div class="ds-panel" >
                <div class="ds-panel-container">
                    <a [routerLink]="['/employeesearch']" [queryParams]="{country:pcode,service:'jabber_new'}" style="text-decoration: none;">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img src="././assets/arr.png"></td>
                                    <td><span class="ds-text-blue-6 ds-pad-l-1"><b translate>Jabberservices.jnew</b></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </div>
            </div><br *ngIf="linkv.includes('new')">
            <div class="ds-panel" *ngIf="linkv.includes('update')">
                <div class="ds-panel-container">
                    <a [routerLink]="['/employeesearch']" [queryParams]="{country:pcode,service:'jabber_update'}" style="text-decoration: none;">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img src="././assets/arr.png"></td>
                                    <td><span class="ds-padding-left-1 ds-text-blue-6 ds-pad-l-1"><b translate>Jabberservices.jupdate</b></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </div>
            </div><br *ngIf="linkv.includes('update')">
            <div class="ds-panel" *ngIf="linkv.includes('move')">
                <div class="ds-panel-container">
                    <a [routerLink]="['/employeesearch']" [queryParams]="{country:pcode,service:'jabber_move'}" style="text-decoration: none;">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img src="././assets/arr.png"></td>
                                    <td><span class="ds-padding-left-1 ds-text-blue-6 ds-pad-l-1"><b translate>Jabberservices.jmove</b></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </div>
            </div><br *ngIf="linkv.includes('move')">
            <div class="ds-panel" *ngIf="linkv.includes('delete')">
                <div class="ds-panel-container">
                    <a [routerLink]="['/employeesearch']" [queryParams]="{country:pcode,service:'jabber_delete'}" style="text-decoration: none;">
                        <table>
                            <tbody>
                                <tr>
                                    <td><img src="././assets/arr.png"></td>
                                    <td><span class="ds-padding-left-1 ds-text-blue-6 ds-pad-l-1"><b translate>Jabberservices.jdelete</b></span></td>
                                </tr>
                            </tbody>
                        </table>
                    </a>
                </div>
            </div><br *ngIf="linkv.includes('delete')">
        </div>
    </div>
</div>