<app-topcountryframe></app-topcountryframe>

<div class=" ds-panel ds-col-12"></div>
<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData"></app-navigation>
    </div>
    
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
    <form [hidden]="isEntryForm" (submit)='entryDetails(formData)' #formData='ngForm'> 

        <b>Fixed Phone - Update Request</b><br><br>


        <!-- <div class="ds-pad-t-0_5 ds-pad-b-1">
        Fields marked with an asterick (<span class="ds-text-contextual-red-2">*</span>) are required.
        </div> -->

        <div class=" ds-panel ds-col-12 "></div> 
    
        <app-steps [step]="servicesData.step" [isSelf]="reqFor" [hideSteps]=""></app-steps>


        <h2 id="h22" class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 ">Employee Entry Details</h2>

        <table id="t1" width="100%" height="10" cellspacing="0" cellpadding="0" border="0">
            <tbody>
                <tr valign="top">
                    <td width="50%">
                        <label for="Sear class=">Enter Current MAC Address or Phone Number</label>
                        <span class="ds-text-contextual-red-2"> *</span>
                    </td>
                    <td width="50%">
                        <div class="ds-col-12">
                            <div class="ds-row">
                                <div class="ds-col-12">
                                    <div class="ds-row">
                                        <div class="ds-col-7">
                                            <input name="IdNum1" [(ngModel)]="currentMacOrPhone" value="" maxlength="15;" class="ds-input" style="width:180px !important;">
                                        </div>
                                        <div class="ds-col-5 ds-pad-l-1">
                                            <div>
                                                <input type="button" class="ds-button ds-secondary ds-width-auto 
                                                ds-margin-bottom-0 ds-pad-l-1 ds-pad-r-1"  
                                                (click)='OnSearchClick()' name="SEARCH" value="SEARCH">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>

                <tr valign="top" *ngIf='showerrormessage'>
                    <td colspan="2" width="100%">
                        <span id="err1" ><br><br>
                            <div class="ds-col-xs-12 ds-alert ds-warning">
                                <p>No record was found for the Mac Address or Phone Number you have entered. 
                                Please check and try again.</p>
                            </div>
                        </span>
                    </td>
                </tr>

                <tr valign="top" *ngIf='showSearch'>
                    <td width="50%"><br>
                        <label for="sear" class="">Current MAC Address </label>
                    </td>
                    <td width="50%"><br>{{currentMac}}
                    </td>
                </tr>
                
                <tr valign="top" *ngIf='showSearch'>
                    <td width="50%"><br>
                        <label for="sear" class="">Current  Phone Number </label>
                    </td>
                    <td width="50%"><br>{{currentPhone}}
                    </td>
                </tr>
                
                <tr valign="top" *ngIf='showSearch'>
                    <td width="50%"><br>
                        <label for="sear" class="">  Current  Description </label>
                    </td>
                    <td width="50%"><br>{{currentdesc}}</td>
                </tr>
                
                <tr valign="top" *ngIf='showSearch'>
                    <td width="50%"><br>
                        <label for="sear" class="">  Current Model</label>
                    </td>
                    <td width="50%"><br>{{currentmodel}}</td>
                </tr>

                <tr valign="top" *ngIf='showSearch'>
                    <td width="50%"><br>
                        <label for="up" class=""> Update Required for</label>
                        <span class="ds-text-contextual-red-2"> *</span>
                    </td>
                    <td width="50%"><br>
                        <div class="ds-dropdown ds-secondary"  role="menu" aria-label="w3DS Dropdown1"> 
                            <select name="UpdateReq" id="voicetype" class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;" 
                            title="Update Required For" #device (change)='updateFor(device.value)' [(ngModel)]='selected_device' ngModel>
                                <option value="">Select One</option>
                                <option *ngFor='let device of updateRequiredFor' [value]='device'>{{ device }}</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table id="t2" width="100%" height="10" cellspacing="0" cellpadding="0" *ngIf='showSearch' border="0">
            <tbody>
                <tr valign="top" *ngIf='showLocation'>
                    <td colspan="2" width="50%"><label for="LocationId" class="ds-text-capitalize"> Office
                        Location</label>
                        <span class="ds-text-contextual-red-2">*</span>
                    </td>
                    <td width="50%" class="ds-pad-t-1">
                        <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                            <select rows="2" name="Location_1" cols="40" id="LocationId" class="ds-title ds-align-text-left"  
                            style="width:300px !important; text-transform: uppercase;" title="Office Location"
                            #location (change)='selectedLocation(location.value)' ngModel>
                                <option value ="">Select Office Location</option>
                                <option *ngFor='let fl_location of camp' [value]='fl_location' >
                                {{ fl_location }}</option>
                            </select>
                        </div>
                    </td>
                </tr>
                <tr valign="top" *ngIf='hideBuilding' class="ds-pad-t-1">
                    <td colspan="2" width="50%"><label for="builId" class="ds-text-capitalize"> Campus</label>
                        <span class="ds-text-contextual-red-2">*</span>
                    </td>
                    <td width="54%">
                        <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                            <select name="Buildings" rows="2" cols="40" class="ds-title ds-align-text-left" 
                            style="width:300px !important; text-transform: uppercase;" title="Campus" [(ngModel)]='campus' ngModel>
                                <option value ="">Select One</option>
                                <option *ngFor="let fl_campus of build" [value]='fl_campus'>{{ fl_campus }}</option>
                            </select>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>

        <table id="t3"  width="100%" height="10" cellspacing="0" cellpadding="0" *ngIf='showSearch' border="0">
            <tbody>
                <tr valign="top" *ngIf='showformodel'>
                    <td colspan="2" width="50%">
                        <span id="modelid"><br>
                            <label for="modelid" class="ds-text-capitalize"> Type Of Model</label>
                            <span class="ds-text-contextual-red-2"></span>
                        </span>
                    </td>
                    <td width="50%">
                        <div id="model1" class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1"><br>
                            <!-- <input name="" type="hidden" value="1"> -->
                            <select name="NewModel" rows="2" cols="40"class="ds-title ds-align-text-left" style="width:300px !important; text-transform: uppercase;"
                             title="Phone Model" ngModel>
                                <option value="">Select Phone Model</option>
                                <option name="NewModel" *ngFor='let model of models' [value]='model'>{{ model }}</option>
                            </select>
                        </div>
                    </td>
                </tr>

                <tr valign="top" *ngIf='showformacadd'>
                    <td colspan="2" width="50%" class="ds-pad-t-1 ds-pad-b-2">
                        <label class="">New MAC Address<span class="ds-text-contextual-red-2"> *</span></label>
                    </td>
                    <td width="50%" class="ds-pad-t-1 ds-pad-b-2">
                        <input name="MAC1" value="" class="ds-input ds-pad-b-1" style="width:300px !important;" title="New MAC Address" maxlength="12;" ngModel>
                    </td>
                </tr>

                <tr valign="top" *ngIf='showforNewDesc'>
                    <td colspan="2" width="50%" class="ds-pad-t-1 ds-pad-b-1">
                        <label for="descn" id="desc1" class="">New Description to Update
                            <span class="ds-text-contextual-red-2"> *</span></label>
                    </td>
                    <td width="50%" class="ds-pad-t-1 ds-pad-b-1">
                        <input name="Newdesc" value="" id="desc" class="ds-input " style="width:300px !important;" 
                        title="New Description" ngModel><br>
                    </td>
                </tr>

                <tr valign="top" *ngIf='showforrsn'>
                    <td colspan="2" width="50%">
                        <label class="">Reason for Updation<span class="ds-text-contextual-red-2"> *</span></label>
                    </td>
                    <td width="50%">
                        <textarea name="Comments" class="ds-input " style="width:300px !important;" 
                        title="Reason for Update" rows="2" cols="40" ngModel>
                        </textarea><br>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>
        <div class=" ds-panel ds-col-12 "></div>
        <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
            <div class="ds-tray-fit-content ds-mar-b-0">
                <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                    <span class="ds-pad-l-4" id="button1">
                    <input type="button" name="back" class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" 
                    value="BACK" (click)="backClick()">
                    </span>
                    <span class="ds-pad-l-1 ds-pad-r-1" id="button2" [hidden]='showerrormessage'>
                    <input type="submit" name="next" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                    value="NEXT">
                    </span>
                </div>
            </div>
        </div>
    </form>

    <form [hidden]="isReviewForm">
            
        <b>Fixed Phone - Update Request</b>

        
        <div class="ds-pad-b-1">By submitting this provisioning request, you are providing express written consent for IBM to process the Personal Information (PI) that you have provided as part of the provisioning process.
        </div>
        <div class="ds-hr-thick ds-mar-b-1_5"></div>

        <app-steps [step]="servicesData.step+1" [isSelf]="reqFor" [hideSteps]="" (previousStep)="previousStep($event)"></app-steps>


        <!-- <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-padding-left-0_5 ">Review Details</h2> -->

        <table id="t2" width="100%" cellspacing="8" cellpadding="0" border="0">
            <tbody>
                <tr valign="top">
                    <td colspan="2" width="46%">
                        <label for="addId1">Current MAC Address</label>
                    </td>
                    <td width="54%">{{reviewDetailsIndia.mac}}</td>
                </tr>
                
                <tr valign="top">
                    <td colspan="2" width="46%">
                        <label for="addId1">Current Phone Number </label>
                    </td>
                    <td width="54%">{{reviewDetailsIndia.phoneNunmer}}</td>
                </tr>
                
                <tr valign="top" *ngIf='showSearch'>
                    <td colspan="2" width="46%">
                        <label for="addId1">Current Description</label>
                    </td>
                    <td width="54%">{{reviewDetailsIndia.Currentdescription}}</td>
                </tr>
                
                <tr valign="top">
                    <td colspan="2" width="46%">
                        <label for="addId1">Current Model</label>
                    </td>
                    <td width="54%">{{reviewDetailsIndia.model}}</td>
                </tr>
                
                <tr valign="top">
                    <td colspan="2" width="46%">
                        <label for="addId1">Update Required for</label>
                    </td>
                    <td width="54%">{{reviewDetailsIndia.device}}</td>
                </tr>
                
                <tr valign="top" *ngIf='showformodel'>
                    <td colspan="2" width="46%">
                        <label for="addId1">Type Of Model</label>
                    </td>
                    <td width="54%">{{reviewDetailsIndia.newModel}}</td>
                </tr>
                
                <tr valign="top" *ngIf='showformacadd'>
                    <td colspan="2" width="46%">
                        <label for="addId1">New MAC Address</label>
                    </td>
                    <td width="54%">{{reviewDetailsIndia.newMac}}</td>
                </tr>              
           

                <!-- <table id="t1" width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody> -->
                <tr valign="top" *ngIf='showLocation'>
                    <td colspan="2" width="46%" height="10">
                        <label for="addId1">Office Location</label>
                    </td>
                    <td width="54%" height="10">{{reviewDetailsIndia.officeLocation}}</td>
                </tr>
                
                <tr valign="top" *ngIf='hideBuilding'>
                    <td colspan="2" width="46%">
                        <label for="addId1">Campus</label>
                    </td>
                    <td width="54%">{{reviewDetailsIndia.campus}}</td>
                </tr>
                    <!-- </tbody>
                </table> -->

                <!-- <table id="t2" width="100%" cellspacing="0" cellpadding="0" border="0">
                    <tbody> -->
                
                <tr valign="top" *ngIf='showforNewDesc'>
                    <td colspan="2" width="46%">
                        <label for="addId1">New Description to Update</label>
                    </td>
                    <td width="54%" height="10">
                        <label><span style="word-break:break-all;">{{reviewDetailsIndia.description}}</span></label>
                    </td>
                </tr>
                
                <tr valign="top">
                    <td colspan="2" width="46%">
                        <label for="addId1">Reason for Updation</label>
                    </td>
                    <td width="54%" height="10">
                        <label><span style="word-break:break-all;">{{reviewDetailsIndia.justification}}</span></label>
                    </td>
                </tr>
                
                
            </tbody>
        </table>
        <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=errorinfo>
            <p></p>
            <p>Something seems to have gone wrong. Please try later.</p>
            <p>
            </p>
        </div>
        <div class="ds-hr-thick ds-mar-t-1_5"></div>
        <!-- Dark Background -->
        <div class="ds-loader-container" *ngIf="this.isSpinnerVisible">
            <div class="ds-loader-header">Your request submission is in progress.Do not Go back or Refresh the page.</div>
            <div class="ds-loader" role="alert" aria-busy="true" aria-label="Your request is being submitted. Do not refresh or go back."></div>
        </div>
        <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
            <div class="ds-tray-fit-content ds-mar-b-0">
                <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                    <span class="ds-pad-l-4" id="button1">
          <input type="button" name="back"
            class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" value="BACK"
            (click)='BackButton()' *ngIf="this.isButtonVisible">
        </span>
                    <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
          <input type="submit" name="submit" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
            value="SUBMIT" (click)="submit_snow()" *ngIf="this.isButtonVisible">
        </span>
                    


                </div>
            </div>
        </div>

    </form>

        
    </div> 
    
</div>
