<app-topcountryframe></app-topcountryframe>


<div class=" ds-panel ds-col-12"></div>
<div class="ds-row ds-pad-l-7 ds-pad-t-1 ds-pad-b-4">
    <div class="ds-col-md-4 ds-col-xl-4">
        <app-navigation [dataNav]="servicesData" [cloudantData]="cloudantData"></app-navigation>
    </div>
    <div class="ds-col-md-8 ds-col-xl-7 ds-pad-l-2_5">
        <form [hidden]="isEntryForm" (submit)='entryDetails(formData)' #formData='ngForm'>

            <b translate>servicestitle.Fixed Phone - New Request</b>

            <div class="ds-pad-t-0_5 ds-pad-b-1">
                <span translate>Jabberentrydetails.Fieldsasterisk</span> (<span class="ds-text-contextual-red-2">*</span>)<span translate>Jabberentrydetails.arerequired</span>
            </div>
            <div class=" ds-panel ds-col-12 "></div>

            <app-steps [step]="servicesData.step" [formData]="formData" [cnum]="cnum" [FixedPhoneData]="FixedPhoneData" [isSelf]="reqFor" [hideSteps]=""></app-steps>


            <h2 id="h22" class="ds-bg-neutral-2 ds-text-neutral-7 ds-pad-l-0_5 " translate>employeeinfotrans.EmployeeEntryDetails</h2>

            <table id="t2" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td colspan="2" width="46%" height="10"><label for="LocationId" class="ds-text-capitalize" translate>fixedphonenew.FixedPhoneLocation</label>
                            <span class="ds-text-contextual-red-2"> *</span>
                        </td>
                        <td width="54%" height="10">
                            <div class="ds-dropdown ds-secondary"role="menu" aria-label="w3DS Dropdown1">
                                <select rows="2" name="Location_1" cols="40" id="LocationId" class="ds-title ds-align-text-left"  
                                style="width:300px !important; text-transform: uppercase;" title="{{ 'fixedphonenew.Location' | translate}}" 
                                #location  ngModel [(ngModel)]='selected_location'>
                                    <option value =""> <span translate> fixedphonenew.SelectOne </span></option>
                                    <option name="Location_1" *ngFor='let fl_location of locationlist' [value]='fl_location' >
                                        {{ fl_location }}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>

            <table id="t1" width="100%" cellspacing="0" cellpadding="0" border="0">
                <tbody>
                    

                    <tr valign="top">
                        <td colspan="2" width="46%" height="10"><label for="DeviceType" translate>fixedphonenew.TypeofDevice</label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="54%" height="10">
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select rows="2" name="Device_Type" cols="40" id="DeviceTypeId" class="ds-title ds-align-text-left"  
                                style="width:300px !important; text-transform: uppercase;" title="{{ 'fixedphonenew.Type of Device' | translate}}"
                                #device (change)='selectedDevice(device.value)' ngModel [(ngModel)]='selected_device'>
                                    <option value ="" translate>fixedphonenew.SelectOne</option>
                                    <option name="Device_Type" *ngFor='let device of devices' [value]='device' >{{ device }}</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                   
                </tbody>
            </table>


            
           <table id="t3" width="100%" cellspacing="0" cellpadding="0" border="0" [hidden]='hideDeviceSection'>
                <tbody>
                    <tr valign="top" [hidden]='showforAnyDevice'>
                        <td colspan="2" width="46%" height="10"><label for="DeviceType" translate>fixedphonenew.TypeofModel </label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="54%" height="10">
                            <div class="ds-dropdown ds-secondary" role="menu" aria-label="w3DS Dropdown1">
                                <select rows="2" name="Model_Type" cols="40" id="ModelTypeId" class="ds-title ds-align-text-left"  
                                style="width:300px !important; text-transform: uppercase;" title="{{ 'otheralerts.Model' | translate}}" [(ngModel)]='modelValue'>
                                    <option value ="" translate>fixedphonenew.SelectOne</option>
                                    <option name="Model_Type" *ngFor='let model of models' [value]='model'>{{ model }}</option>
                                </select>
                            </div>
                        </td>
                    </tr>

                  
                    <!-- <tr class='ds-mar-t-1_5' valign="top" [hidden]='showforFixedPhone'>
                      <td colspan="2" width="46%" height="10"><label for="Voicemail"
                          class="ds-text-capitalize ds-mar-t-1" style="display: inline-block;">Voicemail Required</label>
                      </td>
                      <td width="54%" height="10">
                        <div class="ds-dropdown ds-secondary" tabindex="0" role="menu" aria-label="w3DS Dropdown1">
                          <select rows="2" name="Voicemail" cols="40" id="VoicemailId"
                            class="ds-title ds-align-text-left ds-mar-t-1"
                            style="width:300px !important; text-transform: uppercase;" title="Voicemail"  [(ngModel)]="voicemail"
                            ngModel>
                            <option value="yes">Yes</option>
                            <option value="no">No</option>
                          </select>
                        </div>
                      </td>
                    </tr> -->

                    <tr valign="top" [hidden]='showforFixedPhone'>
                        <td colspan="2" width="46%" height="10"><label for="cos" translate>fixedphonenew.SelectClassofService (COS)</label>
                            <span class="ds-text-contextual-red-2">*</span>
                        </td>
                        <td width="54%" height="10">
                          <div class="ds-dropdown ds-secondary" tabindex="0" role="menu" aria-label="w3DS Dropdown1">
                            <select rows="2" name="cos" cols="40" id="COSId"
                              class="ds-title ds-align-text-left"
                              style="width:300px !important; text-transform: uppercase;" title="{{ 'Jabbernewtrans.ClassofService' | translate}}"[(ngModel)]='COS' #cos (change)='classofservice(cos.value)'
                              ngModel>
                              <option value ="" translate>fixedphonenew.SelectOne</option>
                              <option value="national" translate>fixedphonenew.National</option>
                              <option value="international" translate>fixedphonenew.International</option>
                            </select>
                          </div>
                        </td>
                      </tr>

                      <tr valign="top" [hidden]='showBusinessNeed'>
                        <td colspan="2" width="46%"><br><label for="Justification" class="ds-pad-t-1" translate>fixedphonenew.BusinessNeed(Whyisinternationalrequired?)</label>
                            <span class="ds-text-contextual-red-2">*</span></td>
                        <td width="54%">
                            <textarea name="Justification" class="ds-input" style="width:300px !important;" title="{{ 'fixedphonenew.BusinessJustification' | translate}}" tabindex="2" rows="2" cols="40" maxlength="200" ngModel [(ngModel)]='justificationValue'></textarea>
                        </td>
                    </tr>

                      <tr valign="top" [hidden]='showforAnyDevice'>
                        <td colspan="2" width="46%"><br><label for="Description" class="ds-pad-t-1" translate>fixedphonenew.DescriptionoftheDevice</label>
                            <span class="ds-text-contextual-red-2">*</span></td>
                        <td width="54%">
                            <div class="ds-input-container ds-pad-t-1">
                                <input name="Description" value="" tabindex="2" rows="2" cols="40" id="DescriptionId" class="ds-input" style="width:300px !important;" title="{{ 'otheralerts.Device Description' | translate}}" maxlength="30" ngModel [(ngModel)]='descValue'>
                                <label *ngIf="selected_device == 'Extension Mobility Station'" translate>fixedphonenew.IBMCLv21EMdesk</label>
                                <label *ngIf="selected_device == 'Conference / Meeting Room Phone'" translate>fixedphonenew.IBMCLv21conferenceroom3</label>
                            </div>
                        </td>
                    </tr>

                    <tr valign="top" [hidden]='showforAnyDevice'>
                        <td colspan="2" width="46%"><br><label for="MACAddress" translate>fixedphonenew.MACAddressoftheDevice</label>
                            <span class="ds-text-contextual-red-2">*</span></td>
                        <td width="54%">
                            <div class="ds-input-container">
                                <input name="MACAddress" value="" tabindex="2" rows="2" cols="40" id="MACAddressId" class="ds-input" style="width:300px !important;" title="{{ 'otheralerts.MAC Address' | translate}}" maxlength="12" ngModel [(ngModel)]='MACValue'>
                                <label translate>fixedphonenew.NoteCombinationofandLength12</label>
                            </div>
                        </td>
                    </tr>
                    
                </tbody>
            </table>

            <br>
            <div class=" ds-panel ds-col-12 "></div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1 ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" 
                value= "{{ 'Jabberentrydetails.Back' | translate}}" (click)="backClick(formData)">
            </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
              <input type="submit" name="next" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
               value="{{ 'Jabberentrydetails.Next' | translate}}">
            </span>
                    </div>
                </div>
            </div>
        </form>

        <form [hidden]="isReviewForm">
            
            <b translate>servicestitle.Fixed Phone - New Request</b>

            
            <div class="ds-pad-b-1" translate>Jabberentrydetails.toprocessPI
            </div>
            <div class="ds-hr-thick ds-mar-b-1_5"></div>

            <app-steps [step]="servicesData.step+1" [formData]="formData" [cnum]="cnum" [isSelf]="reqFor" [FixedPhoneData]="FixedPhoneData" [hideSteps]="" (previousStep)="previousStep($event)"></app-steps>


            <h2 class="ds-bg-neutral-2 ds-text-neutral-7 ds-padding-left-0_5 " translate>Jabberupdate.ReviewDetails</h2>

            <table id="t2" width="100%" cellspacing="8" cellpadding="0" border="0">
                <tbody>
                    <tr valign="top">
                        <td colspan="2" width="46%" height="10">
                            <label for="addId1" translate>fixedphonenew.FixedPhoneLocation</label>
                        </td>
                        <td width="54%" height="10">{{reviewDetailsIndia.officeLocation}}</td>
                    </tr>
                    
                </tbody>
            </table>

            <table id="t1" width="100%" cellspacing="8" cellpadding="0" border="0">
                <tbody>
                                        
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="device" translate>fixedphonenew.TypeofDevice</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.device}}</td>
                    </tr>
                    
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="model" translate>fixedphonenew.TypeofModel</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.model}}</td>
                    </tr>
                    
                                      
                    <!-- <tr valign="top" [hidden]='hideVoicemail'>
                        <td colspan="2" width="46%">
                            <label for="voiemail">Voicemail Required</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.voicemail}}</td>
                    </tr> -->
                    
                    <tr valign="top" [hidden]='showforFixedPhone'>
                        <td colspan="2" width="46%">
                            <label for="cos" translate>Jabbernewtrans.ClassofService</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.cos}}</td>
                    </tr>
                    
                    <tr valign="top" [hidden]='showBusinessNeed'>
                        <td colspan="2" width="46%">
                            <label for="justification" translate>fixedphonenew.BusinessJustification</label>
                        </td>
                        <td width="54%" style='word-wrap: anywhere;'>{{reviewDetailsIndia.justification}}</td>
                    </tr>
                    
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="description" translate>fixedphonenew.DescriptionoftheDevice</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.description}}</td>
                    </tr>
                    
                    <tr valign="top">
                        <td colspan="2" width="46%">
                            <label for="mac" translate>fixedphonenew.MACAddressoftheDevice</label>
                        </td>
                        <td width="54%">{{reviewDetailsIndia.mac}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="ds-col-xs-12 ds-alert ds-warning" *ngIf=errorinfo>
                <p></p>
                <p translate>fixedphonenew.Somethingseemswrong</p>
                <p>
                </p>
            </div>
            <div class="ds-hr-thick ds-mar-t-1_5"></div>
            <!-- Dark Background -->
            <div class="ds-loader-container" *ngIf="this.isSpinnerVisible">
                <div class="ds-loader-header" translate>Jabberentrydetails.Submissioninprogress</div>
                <div class="ds-loader" role="alert" aria-busy="true" aria-label="Your request is being submitted. Do not refresh or go back."></div>
            </div>
            <div class="ds-col-19 ds-pad-t-0_8 ds-no-gutter ds-float-lg-right">
                <div class="ds-tray-fit-content ds-mar-b-0">
                    <div class="button-bar ds-tray-fit-content ds-pad-t-1   ds-float-lg-right ">
                        <span class="ds-pad-l-4" id="button1">
              <input type="button" name="back"
                class="ds-button ds-secondary ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3" value="{{ 'Jabberentrydetails.Back' | translate}}"
                (click)='BackButton()' *ngIf="this.isButtonVisible">
            </span>
                        <span class="ds-pad-l-1 ds-pad-r-1" id="button2">
              <input type="submit" name="submit" class="ds-button ds-width-auto ds-mar-b-0 ds-pad-l-3 ds-pad-r-3"
                value="{{ 'employeeinfotrans.SUBMIT1' | translate}}" (click)="submit_snow()" *ngIf="this.isButtonVisible">
            </span>
                        


                    </div>
                </div>
            </div>

        </form>


    </div>
</div>
